header {
  padding: 10px 15px 7px;
  background: #333;
  color: #fff;
  font-family: Georgia, Times, serif;
  font-size: 15px;
  font-style: italic;
}
header h1,
header p {
  display: inline-block;
}
header h1 {
  margin-bottom: 5px;
}
header p {
  color: #bed4dc;
}
header p a {
  color: #67b1cd;
  text-decoration: none;
  border-bottom: 1px dotted;
}
@media (max-width: 400px) {
  header {
    padding: 15px;
  }
}
.entry {
  text-align: center;
  min-height: 400px;
  position: relative;
}
.entry div {
  position: absolute;
  left: 50%;
  top: 50%;
}
.entry div:before,
.entry div:after {
  display: block;
  content: '';
  position: absolute;
}
@media (max-width: 400px) {
  .entry div {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
@media all and (min-width: 960px) {
  .entry {
    float: left;
    width: 50%;
  }
  .entry.wide {
    width: 100%;
  }
}
#camera {
  background: #ffa500;
}
#camera div {
  width: 300px;
  height: 130px;
  margin-left: -150px;
  margin-top: -65px;
  z-index: 1;
  background: linear-gradient(to right, #111 0%, #444 15%, #444 85%, #111 100%);
  border-top: 15px solid #ccc;
  border-bottom: 12px solid #ccc;
  border-image: linear-gradient(to right, #444, #ccc, #ccc, #ccc, #ccc, #444) 1% stretch;
  box-shadow: 0 3px 4px -2px rgba(0,0,0,0.6), 0 10px 7px -2px rgba(0,0,0,0.4);
}
#camera div:before {
  width: 33px;
  height: 18px;
  margin-left: 30px;
  top: -30px;
  left: 50%;
  z-index: 2;
  background: #333;
  box-shadow: 0 0 0 2px #eee, -1px -1px 1px 3px #333, -95px 6px 0 0 #ccc, 30px 3px 0 12px #ccc, -18px 37px 0 46px #ccc, -96px -6px 0 -6px #555, -96px -9px 0 -6px #ddd, -155px -10px 1px 3px #888, -165px -10px 1px 3px #999, -170px -10px 1px 3px #666, -162px -8px 0 5px #555, 85px -4px 1px -3px #ccc, 79px -4px 1px -3px #888, 82px 1px 0 -4px #555;
}
#camera div:after {
  width: 100px;
  height: 100px;
  margin-left: -20px;
  top: 15px;
  left: 50%;
  z-index: 3;
  background: linear-gradient(45deg, #ccc 40%, #ddd 100%);
  border-radius: 50%;
  box-shadow: 0 3px 2px #999, 1px -2px 0 #fff, -1px -3px 2px #555, 0 0 0 15px #c2c2c2, 0 -2px 0 15px #fff, -2px -5px 1px 17px #666, 0 10px 10px 15px rgba(0,0,0,0.3), -90px -51px 1px -43px #aaa, -90px -50px 1px -40px #888, -90px -51px 0 -34px #ccc, -90px -50px 0 -30px #aaa, -90px -48px 1px -28px rgba(0,0,0,0.2), -124px -73px 1px -48px #eee, -125px -72px 0 -46px #666, -85px -73px 1px -48px #eee, -86px -72px 0 -46px #666, 42px -82px 1px -48px #eee, 41px -81px 0 -46px #777, 67px -73px 1px -48px #eee, 66px -72px 0 -46px #666, -46px -86px 1px -45px #444, -44px -87px 0 -38px #333, -44px -86px 0 -37px #ccc, -44px -85px 0 -34px #999, 14px -89px 1px -48px #eee, 12px -84px 1px -48px #999, 23px -85px 0 -47px #444, 23px -87px 0 -46px #888;
}
#bloody-mary {
  background: #b0e0e6;
}
#bloody-mary div {
  width: 180px;
  height: 100px;
  margin-left: -90px;
  margin-top: 10px;
  z-index: 2;
  background: linear-gradient(to right, #eee 0%, #db493e 3%, #b8423a 5%, #53646e 7%, #b8423a 9%, #53646e 11%, #53646e 14%, #bfc9ca 33%, #eee 41%, #eee 75%, #95a4a3 85%, #556168 90%, #7c8285 98%, #fff 100%);
  border-bottom-left-radius: 80px 10px;
  border-bottom-right-radius: 80px 10px;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 3px 4px -3px rgba(0,0,0,0.4), 0 8px 7px -3px rgba(0,0,0,0.2);
}
#bloody-mary div:before {
  width: 40px;
  height: 95px;
  margin-left: 40px;
  top: -140px;
  left: 50%;
  z-index: 1;
  background: #d7e17f;
  background: linear-gradient(to right, #cdeca8 10%, #a2d269 18%, #a2d269 25%, #bde192 45%, #bde192 55%, #95c260 75%, #95c260 82%, #bde192 90%);
  border-top-left-radius: 20px 3px;
  border-top-right-radius: 20px 3px;
  border-top: 5px solid #95c260;
  box-shadow: -65px 111px 0 14px #eee;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
#bloody-mary div:after {
  width: 177px;
  height: 170px;
  margin-left: -90px;
  top: -105px;
  left: 50%;
  z-index: 3;
  background: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 45%, rgba(255,255,255,0.3) 55%, rgba(255,255,255,0.3) 65%, rgba(255,255,255,0) 80%, rgba(0,0,0,0.2) 100%), linear-gradient(to bottom, transparent 30%, #e04435 30%, #ab2e22 100%);
  border: 1px solid #ddd;
  border-right-width: 2px;
  border-bottom-width: 5px;
  border-top-width: 2px;
  border-top-color: #eee;
  border-bottom-left-radius: 150px 15px;
  border-bottom-right-radius: 150px 15px;
  border-top-left-radius: 120px 15px;
  border-top-right-radius: 120px 15px;
}
#cpt-america {
  background: #808000;
}
#cpt-america div {
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -140px;
  z-index: 1;
  background: linear-gradient(45deg, rgba(255,255,255,0) 35%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 65%), linear-gradient(-45deg, rgba(255,255,255,0) 35%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 65%), linear-gradient(to right, rgba(0,0,0,0) 35%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 65%), linear-gradient(to bottom, rgba(0,0,0,0) 35%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 65%), radial-gradient(ellipse at center, #0033b0 20%, #ce0021 20%, #ce0021 35%, #bbb 35%, #bbb 55%, #ce0021 55%);
  border-radius: 50%;
  box-shadow: 0 3px 0 #a20917;
}
#cpt-america div:before {
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  top: 50%;
  left: 50%;
  z-index: 2;
  background: rgba(0,80,170,0.5);
  border-radius: 50%;
  content: '★';
  font-size: 70px;
  color: #ddd;
  line-height: 65px;
  text-shadow: -1px 1px 0 #3e92ff, 1px -1px 0 #1e436d;
}
#cpt-america div:after {
  width: 200px;
  height: 30px;
  margin-left: -100px;
  top: 215px;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 50px 20px rgba(0,0,0,0.15);
}
#breakfast {
  background: #008b8b;
}
#breakfast div {
  width: 210px;
  height: 210px;
  margin-left: -105px;
  margin-top: -105px;
  border-radius: 50%;
  background: #f7f7f7;
  box-shadow: inset 0 2px 8px rgba(0,0,0,0.1), 0 0 0 20px #fff, 0 6px 0 20px #eee, 0 12px 4px 20px rgba(0,0,0,0.2);
}
#breakfast div:before {
  width: 140px;
  height: 140px;
  left: 70px;
  top: 0px;
  border-radius: 50%;
  background: #d6ab75;
  box-shadow: 0 6px 0 #f1cb9a, 0 8px 2px rgba(0,0,0,0.2), -132px 40px 0 -61px #f6c83e, -128px 40px 0 -54px #edb815, -128px 42px 2px -54px rgba(0,0,0,0.2), -115px 30px 0 -30px #fff, -62px 90px 0 -61px #f6c83e, -65px 90px 0 -54px #edb815, -65px 92px 2px -54px rgba(0,0,0,0.2), -80px 90px 0 -32px #fff, -115px 33px 2px -30px rgba(0,0,0,0.1), -80px 93px 2px -32px rgba(0,0,0,0.1), -8px 110px 0 -45px #8c7842, -8px 113px 2px -45px rgba(0,0,0,0.2), 25px 103px 0 -45px #806c35, 25px 106px 2px -45px rgba(0,0,0,0.2), -93px -40px 0 -45px #e4a5b6, -93px -39px 0 -42px #c97d91, -93px -37px 2px -42px rgba(0,0,0,0.2);
}
#breakfast div:after {
  width: 30px;
  height: 30px;
  left: 120px;
  top: 50px;
  border-radius: 2px;
  background: #fbf6bc;
  box-shadow: 1px 1px 0 2px #dfd888, 2px 2px 3px 2px rgba(0,0,0,0.2);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
#battery {
  background: #000;
}
#battery div {
  width: 250px;
  height: 120px;
  margin-left: -130px;
  margin-top: -60px;
  border-radius: 10px/30px;
  border-left: 2px solid rgba(255,255,255,0.2);
  border-right: 2px solid rgba(255,255,255,0.2);
  background-image: linear-gradient(to right, transparent 5%, #316d08 5%, #316d08 7%, #60b939 8%, #60b939 10%, #51aa31 11%, #51aa31 60%, #64ce11 61%, #64ce11 63%, #255405 63%, #000 68%, #000 95%, transparent 95%), linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.4) 4%, rgba(255,255,255,0.2) 7%, rgba(255,255,255,0.2) 14%, rgba(255,255,255,0.8) 14%, rgba(255,255,255,0.2) 40%, rgba(255,255,255,0) 41%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.2) 80%, rgba(255,255,255,0.4) 86%, rgba(255,255,255,0.6) 90%, rgba(255,255,255,0.1) 92%, rgba(255,255,255,0.1) 95%, rgba(255,255,255,0.5) 98%);
}
#battery div:before {
  width: 12px;
  height: 55px;
  right: -14px;
  top: 32px;
  border-top-right-radius: 6px 10px;
  border-bottom-right-radius: 6px 10px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 14%, rgba(255,255,255,0.8) 14%, rgba(255,255,255,0.3) 40%, rgba(255,255,255,0) 41%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.2) 80%, rgba(255,255,255,0.4) 86%, rgba(255,255,255,0.6) 90%, rgba(255,255,255,0.1) 92%, rgba(255,255,255,0.1) 95%, rgba(255,255,255,0.5) 98%);
}
#battery div:after {
  width: 220px;
  height: 120px;
  left: 10px;
  border-radius: 5px/30px;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 4%, rgba(255,255,255,0.2) 5%, transparent 5%, transparent 14%, rgba(255,255,255,0.3) 14%, rgba(255,255,255,0.12) 40%, rgba(0,0,0,0.05) 42%, rgba(0,0,0,0.05) 48%, transparent 60%, transparent 80%, rgba(255,255,255,0.3) 87%, rgba(255,255,255,0.3) 92%, transparent 92%, transparent 97%, rgba(255,255,255,0.4) 97%), linear-gradient(to left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 2%, #000 2%, #000 6%, transparent 6%), linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 35%, rgba(255,255,255,0.3) 90%, rgba(255,255,255,0) 90%);
}
#marshmallow {
  background: #66cdaa;
}
#marshmallow div {
  width: 100px;
  height: 120px;
  margin-left: -50px;
  margin-top: -70px;
  background: #fff;
  background-image: radial-gradient(circle at 50% -70px, transparent 50%, #f5f5f5 50%);
  border-top-left-radius: 100px 40px;
  border-top-right-radius: 100px 40px;
  border-bottom-left-radius: 100px 40px;
  border-bottom-right-radius: 100px 40px;
  border: 4px solid #808080;
}
#marshmallow div:before {
  width: 8px;
  height: 80px;
  margin-left: -4px;
  left: 50%;
  top: 125px;
  background: #d3d3d3;
  box-shadow: 0 0 0 3px #808080, 0 -193px 0 #d3d3d3, 0 -193px 0 3px #808080;
}
#marshmallow div:after {
  width: 10px;
  height: 10px;
  left: 20px;
  top: 50px;
  background: #808080;
  border-radius: 50%;
  box-shadow: 50px 0 0 #808080, 25px 3px 0 16px #f5f5f5, 25px 13px 0 11px #808080;
}
#sushi {
  background: #87ceeb;
}
#sushi div {
  width: 250px;
  height: 100px;
  margin-left: -125px;
  margin-top: -37px;
  background: #fff;
  border-top-left-radius: 80px 50px;
  border-top-right-radius: 80px 50px;
  border-bottom-left-radius: 40px 50px;
  border-bottom-right-radius: 40px 50px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.08) 32%, transparent 32%), linear-gradient(85deg, transparent 39%, rgba(0,0,0,0.05) 39%, rgba(0,0,0,0.05) 45%, transparent 45%);
  box-shadow: 0 25px 0 -20px rgba(0,0,0,0.1);
}
#sushi div:before {
  width: 260px;
  height: 25px;
  margin-left: -130px;
  left: 50%;
  border-top-left-radius: 90px 30px;
  border-top-right-radius: 80px 20px;
  background: #f19861;
  background-image: linear-gradient(to bottom, transparent 70%, rgba(0,0,0,0.05) 70%), linear-gradient(to right, transparent 41%, rgba(0,0,0,0.1) 41%, rgba(0,0,0,0.1) 50%, transparent 50%), repeating-linear-gradient(45deg, #f19861, #f19861 20px, #ffcdaf 20px, #ffcdaf 25px);
}
#sushi div:after {
  width: 40px;
  height: 103px;
  margin-left: -20px;
  left: 50%;
  top: -2px;
  background: #465b45;
  background-image: linear-gradient(to right, transparent 60%, rgba(0,0,0,0.1) 60%);
}
#sushi {
  background: #87ceeb;
}
#sushi div {
  width: 250px;
  height: 100px;
  margin-left: -125px;
  margin-top: -37px;
  background: #fff;
  border-top-left-radius: 80px 50px;
  border-top-right-radius: 80px 50px;
  border-bottom-left-radius: 40px 50px;
  border-bottom-right-radius: 40px 50px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.08) 32%, transparent 32%), linear-gradient(85deg, transparent 39%, rgba(0,0,0,0.05) 39%, rgba(0,0,0,0.05) 45%, transparent 45%);
  box-shadow: 0 25px 0 -20px rgba(0,0,0,0.1);
}
#sushi div:before {
  width: 260px;
  height: 25px;
  margin-left: -130px;
  left: 50%;
  border-top-left-radius: 90px 30px;
  border-top-right-radius: 80px 20px;
  background: #f19861;
  background-image: linear-gradient(to bottom, transparent 70%, rgba(0,0,0,0.05) 70%), linear-gradient(to right, transparent 41%, rgba(0,0,0,0.1) 41%, rgba(0,0,0,0.1) 50%, transparent 50%), repeating-linear-gradient(45deg, #f19861, #f19861 20px, #ffcdaf 20px, #ffcdaf 25px);
}
#sushi div:after {
  width: 40px;
  height: 103px;
  margin-left: -20px;
  left: 50%;
  top: -2px;
  background: #465b45;
  background-image: linear-gradient(to right, transparent 60%, rgba(0,0,0,0.1) 60%);
}
