/*-----------------------------

Entry styles

-----------------------------*/

.entry
  text-align: center
  min-height: 400px
  position: relative

  div
    position: absolute
    left: 50%
    top: 50%

    &:before, &:after
      display: block
      content: ''
      position: absolute
