/*-----------------------------

Entry styles

-----------------------------*/

.entry
  text-align: center
  min-height: 400px
  position: relative

  div
    position: absolute
    left: 50%
    top: 50%

    &:before, &:after
      display: block
      content: ''
      position: absolute

    @media (max-width: 400px)

      -webkit-transform: scale(.8)
      transform: scale(.8)

.cf
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

@media all and (min-width: 960px )

  .entry
    float: left
    width: 50%

    &.wide
      width: 100%
