/*-----------------------------

Header and global styles

-----------------------------*/

header
  padding: 10px 80px 7px 15px
  position: relative
  background: #333;
  color: white
  font-family: Georgia, Times, serif
  font-size: 15px
  font-style: italic

  h1, p
    display: inline-block

  h1
    margin-bottom: 5px

  p
    color: #bed4dc

    a
      color: #67b1cd
      text-decoration: none
      border-bottom: 1px dotted

  .share-link
    padding: 15px 10px 7px
    position: absolute
    right: 15px
    top: -8px
    background: #55acee
    border-radius: 5px
    color: white
    text-decoration: none
    font-style: normal
    font-size: 12px
    font-family: Helvetica, Arial, sans-serif
    &:hover
      background: #469cd1

  @media (max-width: 500px)

    padding: 15px 80px 15px 15px