/*-----------------------------

Footer

-----------------------------*/

footer
  width: 100%
  position: relative
  background: #333
  border-top: 1px solid black(.2)
  color: white
  font-family: 'Courier New', Courier, serif
  font-size: 18px
  line-height: 1.2
  z-index: 10

  nav a
    width: 100%
    height: 200px
    display: grid
    place-content: center
    color: inherit
    text-decoration: none
    transition: all 200ms ease-in-out

    &:hover
      background-color: rebeccapurple
      text-decoration: underline
