doctype html
html(lang="en")
  //
    -----------------------------------------------
    This is a CSS drawing experiment to see what's possible with a single div. 
    To learn more about this project: 
    GitHub: https://github.com/lynnandtonic/a-single-div 
    Mozilla Hacks: https://hacks.mozilla.org/2014/09/single-div-drawings-with-css/ 
    Talk from CSSDay: https://lynnandtonic.com/thoughts/entries/talk-illustration-with-css/ 
    Codepen: https://codepen.io/lynnandtonic
    Tweet at me: @lynnandtonic
    -----------------------------------------------

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title A Single Div
    meta(name="description", content="A CSS drawing experiment to see what’s possible with a single div.")
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon", href="images/favicon.ico")

  body.cf

    header
      h1 A Single Div: 
      p &nbsp;a CSS drawing project by 
        a(href="https://twitter.com/lynnandtonic") Lynn Fisher
      a.share-link(href="https://ctt.ec/DidfP") Tweet

    block content

    script(data-goatcounter="https://asinglediv.goatcounter.com/count"
        async src="//gc.zgo.at/count.js")
