doctype html
html(lang="en")
  //
    -----------------------------------------------
    This is a CSS drawing experiment to see what's possible with a single div. 
    To learn more about this project: 
    GitHub: https://github.com/lynnandtonic/a-single-div 
    Mozilla Hacks: https://hacks.mozilla.org/2014/09/single-div-drawings-with-css/ 
    Talk from CSSDay: https://lynnandtonic.com/thoughts/entries/talk-illustration-with-css/ 
    Codepen: https://codepen.io/lynnandtonic
    Mastodon: @lynnandtonic@front-end.social
    Twitter: @lynnandtonic
    -----------------------------------------------

  //- Variable block for page-specific info
  block vars

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title #{pageTitle}
    meta(name='description', content=pageDescription)
    link(rel="icon", href="/images/favicon.ico")

    link(rel='stylesheet', href=cssPath)

  body(class=bodyClass)

    header
      h1
        a(href='/') A Single Div
        = ': '
        span a CSS drawing project by 
        a(href="https://lynnandtonic.com") Lynn Fisher
      if bodyClass == '2014-2019'
        a.archive-link(href="/") 2020-2023
      if bodyClass == '2020-2024'
        a.archive-link(href="/2014-2019") 2014-2019
      a.github-link(href="https://github.com/lynnandtonic/a-single-div") GitHub
      a.divtober-link(href="/divtober2023") #divtober
      a.coffee(href="https://www.buymeacoffee.com/lynnandtonic") Buy me a coffee

    block content

    script(data-goatcounter="https://asinglediv.goatcounter.com/count"
        async src="//gc.zgo.at/count.js")
