extends _layout

block vars
  - var pageTitle = '#divtober 2020'
  - var pageDescription = 'One single div illustration for each day in October.'
  - var bodyClass = 'divtober divtober2020'

block content

  .content
    h2 Divtober 2020
    p A single div illustration for each day in October.
    h3 Rules I guess?
    ul
      li Each drawing is one #[code &lt;div&gt;] + its #[code :before] and #[code :after].
      li No SVG or images.
      li I tend to avoid using #[code clip-path], but do what you want.
      li Tag your stuff on Twitter/Codepen with #divtober.
      li Examples from #[a(href='https://twitter.com/lynnandtonic/status/1190286662544154624') last year].
    hr
    h3 Prompt List
    ol.prompts
      li Hot
      li Old-timey
      li Boxed
      li Knot
      li Egg
      li Digital
      li Bright
      li Fly
      li Hairy
      li Slow
      li Train
      li Treasured
      li Repeating
      li Radio
      li Ship
      li Music
      li Parasite
      li Little
      li Hidden
      li Winding
      li Iconic
      li Power
      li Surreal
      li Juicy
      li Deep
      li Surprise
      li Sharp
      li Letter
      li Rhyme
      li Turtle
      li Zap
