extends _layout

block vars
  - var pageTitle = '#divtober 2023'
  - var pageDescription = 'One single div illustration for each day in October.'
  - var bodyClass = 'divtober divtober2023'

block content

  .content
    h2 Divtober 2023
    p A single div CSS illustration for each day in October.
    .nav-years
      a(href='/divtober2019') 2019
      a(href='/divtober2020') 2020
      a(href='/divtober2021') 2021
      a(href='/divtober2022') 2022
      p 2023
    h3 Rules if you want ‘em:
    ul
      li Each drawing is one #[code &lt;div&gt;] (or whatever element you want) + its #[code ::before] and #[code ::after].
      li No SVG or images.
      li I tend to avoid using #[code clip-path] to draw shapes, but do what you want.
      li Tag stuff on Twitter/Mastodon/Codepen/etc with #[strong #divtober].
      li Examples from #[a(href='https://twitter.com/search?q=%23divtober%20until%3A2022-11-02%20since%3A2022-10-01&src=typed_query&f=live') 2022].

    hr
    h3 Prompt List
    ol.prompts
      li Fall
      li Impossible
      li Artist
      li Crawl
      li Lost
      li Bounce
      li Treat
      li Mix
      li Space
      li Sparkle
      li Bones
      li Glass
      li Collect
      li Small
      li Remember
      li Tangled
      li Brave
      li Component
      li Sticky
      li Seeing
      li Faraway
      li Alive
      li Fake
      li Feast
      li Cheesy
      li Cold
      li Rules
      li Handmade
      li Pin
      li Discontinued
      li Witchy
