extends _layout

block vars
  - var pageTitle = '#divtober 2022'
  - var pageDescription = 'One single div illustration for each day in October.'
  - var bodyClass = 'divtober divtober2022'

block content

  .content
    h2 Divtober 2022
    p A single div CSS illustration for each day in October.
    .nav-years
      a(href='/divtober2019') 2019
      a(href='/divtober2020') 2020
      a(href='/divtober2021') 2021
      p 2022
    h3 Rules if you want ‘em:
    ul
      li Each drawing is one #[code &lt;div&gt;] (or whatever element you want) + its #[code ::before] and #[code ::after].
      li No SVG or images.
      li I tend to avoid using #[code clip-path] to draw shapes, but do what you want.
      li Tag stuff on Twitter/Codepen with #[strong #divtober].
      li Examples from #[a(href='https://twitter.com/search?q=%23divtober%20until%3A2021-11-02%20since%3A2021-10-01&src=typed_query&f=live') 2021].
      li See what people made for #[a(href='https://twitter.com/search?q=%23divtober%20until%3A2022-11-02%20since%3A2022-10-01&src=typed_query&f=live') 2022].
    p: a(href='https://twitter.com/lynnandtonic/status/1587227718470422529') View my 2022 collection

    hr
    h3 Prompt List
    ol.prompts
      li Badge
      li Dry
      li Snack
      li Quiet
      li Stamp
      li Meaty
      li Wonder
      li Haunted
      li Rise
      li Game
      li Burger
      li Shadow
      li Forever
      li Splash
      li Erase
      li Hypnotic
      li Stripes
      li Pun
      li Mythical
      li Ten
      li Valuable
      li Soft
      li Pop
      li Cubed
      li Luminous
      li Vintage
      li Grain
      li Monster
      li Free
      li Beloved
      li Brew
