extends _layout

block vars
  - var pageTitle = 'A Single Div'
  - var pageDescription = 'A CSS drawing experiment to see what’s possible with a single div.'
  - var bodyClass = 'main'

block content

  // 27 Oct 2021
  .entry.wide#film
    div

  // 26 Oct 2021
  .entry#spice
    div.no-scale

  // 25 Oct 2021
  .entry#dip
    div

  // 24 Oct 2021
  .entry.wide#smelly
    div

  // 23 Oct 2021
  .entry#loud
    div.no-scale

  // 22 Oct 2021
  .entry#critter
    div

  // 21 Oct 2021
  .entry.wide#magic
    div.no-scale

  // 20 Oct 2021
  .entry#journey
    div

  // 19 Oct 2021
  .entry#nostalgia
    div

  // 18 Oct 2021
  .entry#shine
    div

  // 17 Oct 2021
  .entry#stack
    div

  // 16 Oct 2021
  .entry#snow2
    div

  // 15 Oct 2021
  .entry#float
    div

  // 14 Oct 2021
  .entry#fancy
    div

  // 13 Oct 2021
  .entry#camouflage
    div

  // 12 Oct 2021
  .entry#squeak
    div

  // 11 Oct 2021
  .entry#slice
    div

  // 10 Oct 2021
  .entry.wide#organized

  // 9 Oct 2021
  .entry#homonym
    div

  // 8 Oct 2021
  .entry#growing
    div.no-scale

  // 7 Oct 2021
  .entry.wide#toxic
    div

  // 6 Oct 2021
  .entry#hungry
    div

  // 5 Oct 2021
  .entry#tired
    div

  // 4 Oct 2021
  .entry#loop
    div

  // 3 Oct 2021
  .entry#quick
    div

  // 2 Oct 2021
  .entry#watch
    div

  // 1 Oct 2021
  .entry#fan
    div.no-scale

  // 22 May 2021
  .entry.wide#seven
    div

  // 31 Oct 2020 - #divtober
  .entry#zap
    div.no-scale

  // 30 Oct 2020 - #divtober
  .entry#turtle
    div

  // 29 Oct 2020 - #divtober
  // A misquote vote tote
  .entry#rhyme
    div

  // 28 Oct 2020 - #divtober
  .entry#letter
    div.no-scale

  // 27 Oct 2020 - #divtober
  .entry#sharp
    div

  // 26 Oct 2020 - #divtober
  .entry#surprise
    div

  // 25 Oct 2020 - #divtober
  .entry.wide#deep
    div

  // 24 Oct 2020 - #divtober
  .entry#juicy
    div

  // 23 Oct 2020 - #divtober
  .entry#surreal
    div

  // 22 Oct 2020 - #divtober
  .entry.wide#power
    div

  // 21 Oct 2020 - #divtober
  .entry#iconic
    div

  // 20 Oct 2020 - #divtober
  .entry#winding
    div

  // 19 Oct 2020 - #divtober
  .entry#hidden
    div

  // 18 Oct 2020 - #divtober
  .entry#little
    div

  // 17 Oct 2020 - #divtober
  .entry#parasite
    div

  // 16 Oct 2020 - #divtober
  .entry#music
    div

  // 15 Oct 2020 - #divtober
  .entry.wide#ship
    div

  // 14 Oct 2020 - #divtober
  .entry#radio2
    div

  // 13 Oct 2020 - #divtober
  .entry#repeating

  // 12 Oct 2020 - #divtober
  .entry.wide#reflection

  // 11 Oct 2020 - #divtober
  .entry.wide#train
    div.no-scale

  // 10 Oct 2020 - #divtober
  .entry#slow
    div

  // 9 Oct 2020 - #divtober
  .entry#hairy
    div.no-scale

  // 8 Oct 2020 - #divtober
  .entry#fly
    div.no-scale

  // 7 Oct 2020 - #divtober
  .entry#bright
    div

  // 6 Oct 2020 - #divtober
  .entry.wide#digital
    div.no-scale

  // 5 Oct 2020 - #divtober
  .entry#egg
    div

  // 4 Oct 2020 - #divtober
  .entry#knot
    div

  // 3 Oct 2020 - #divtober
  .entry.wide#boxed
    div

  // 2 Oct 2020 - #divtober
  .entry#old-timey
    div

  // 1 Oct 2020 - #divtober
  .entry#hot
    div

  // 16 Aug 2020
  .entry.wide#dotmatrix

  // 18 June 2020
  .entry.short.threes#noodles1
    div.no-scale
  .entry.short.threes#noodles2
    div.no-scale
  // Seigaiha pattern by Lea Verou - https://leaverou.github.io/css3patterns/#seigaiha
  .entry.short.threes#noodles3
    div.no-scale

  // 12 Jul 2020
  .entry.wide#window

  // 22 May 2020
  .entry.wide#six
    div

  // 19 May 2020
  .entry.wide#licorice

  // 17 May 2020
  .entry.wide#planet
    div

  // 16 May 2020
  .entry#washi

  // 15 May 2020
  .entry#radio
    div

  // 14 May 2020
  .entry.wide#byebyecube
    div.no-scale

  // 13 May 2020
  // Based on the font from Action Hollywood (1995) as seen in Arcade Game Typography by Toshi Omagari
  .entry.wide#grid
    div

  // 12 May 2020
  .entry.wide#aesthetic
    div

  // 11 May 2020
  .entry.short.threes#icon-film
    div
  .entry.short.threes#icon-camera
    div
  .entry.short.threes#icon-polaroid
    div

  // 10 May 2020
  .entry.wide#hello
    div

  // 1 Mar 2020
  .entry.threes#rosette-1
    div
  .entry.threes#rosette-2
    div
  .entry.threes#rosette-3
    div

  // 22 Nov 2019
  .entry.wide#cybertruck
    div

  // 31 Oct 2019 - #divtober
  .entry.wide#ripe
    div

  // 30 Oct 2019 - #divtober
  .entry#catch
    div

  // 29 Oct 2019 - #divtober
  .entry#injured
    div

  // 28 Oct 2019 - #divtober
  .entry#ride
    div

  // 27 Oct 2019 - #divtober
  .entry#coat
    div

  // 26 Oct 2019 - #divtober
  .entry.wide#dark

  // 25 Oct 2019 - #divtober
  .entry.wide#tasty
    div

  // 24 Oct 2019 - #divtober
  .entry#dizzy
    div

  // 23 Oct 2019 - #divtober
  .entry#ancient
    div

  // 22 Oct 2019 - #divtober
  .entry#ghost
    div

  // 21 Oct 2019 - #divtober
  .entry#treasure
    div

  // 20 Oct 2019 - #divtober
  .entry#tread
    div.no-scale

  // 19 Oct 2019 - #divtober
  .entry#sling
    div.no-scale

  // 18 Oct 2019 - #divtober
  .entry#misfit
    div.no-scale

  // 17 Oct 2019 - #divtober
  .entry#ornament
    div.no-scale

  // 16 Oct 2019 - #divtober
  .entry#wild

  // 15 Oct 2019 - #divtober
  .entry#legend
    div

  // 14 Oct 2019 - #divtober
  .entry#overgrown

  // 13 Oct 2019 - #divtober
  .entry#ash
    div.no-scale

  // 12 Oct 2019 - #divtober
  .entry.wide#dragon
    div

  // 11 Oct 2019 - #divtober
  .entry#snow
    div

  // 10 Oct 2019 - #divtober
  .entry#pattern

  // 9 Oct 2019 - #divtober
  .entry.wide#swing
    div

  // 8 Oct 2019 - #divtober
  .entry#frail
    div

  // 7 Oct 2019 - #divtober
  .entry#enchanted
    div

  // 6 Oct 2019 - #divtober
  .entry.wide#husky
    div

  // 5 Oct 2019 - #divtober
  .entry#build-1
    div
  .entry#build-2
    div

  // 4 Oct 2019 - #divtober
  .entry#freeze
    div.no-scale

  // 3 Oct 2019 - #divtober
  .entry#bait
    div.no-scale

  // 2 Oct 2019 - #divtober
  .entry#mindless
    div

  // 1 Oct 2019 - #divtober
  .entry#ring
    div

  // 29 Aug 2019
  .entry.sweater#fred-rogers
    div
  .entry.sweater#ned-flanders
    div

  // 15 Jun 2019
  .entry#toast
    div.no-scale
  .entry#poptart
    div.no-scale

  // 22 May 2019
  .entry.wide#five
    div

  // 8 May 2019
  .entry.wide#sandwich
    div.no-scale

  // 7 Apr 2019
  .entry.wide#theshining

  // 14 Mar 2019
  .entry.wide#toystory

  // 22 Jan 2019
  .entry#css-one
    div
  .entry#css-two
    div
  .entry#css-three
    div
  .entry#css-four
    div

  // 11 Dec 2018
  .entry#penrose-triangle
    div
  .entry#impossible-rectangle
    div
  .entry#impossible-cube
    div
  .entry#penrose-triangle-cube
    div

  // 9 Sep 2018
  .entry.wide#the-goddman-pen-is-blue
    div

  // 15 Apr 2018
  .entry.wide#xray

  // 7 Apr 2018
  .entry#honey-badger
    div
  .entry#cobra
    div

  // 4 Mar 2018
  .entry#space-pizza
  .entry#space-donuts

  // 14 Jan 2018
  // This does not scale well and shows exactly why SVG is the better format for this kind of thing!
  .entry.wide#svg
    div.no-scale

  // 23 Dec 2017
  .entry.short.threes#leia-organa
    div.no-scale
  .entry.short.threes#mon-mothma
    div.no-scale
  .entry.short.threes#padme-amidala
    div.no-scale
  .entry.short.threes#ahsoka-tano
    div.no-scale
  .entry.short.threes#rey
    div.no-scale
  .entry.short.threes#maz-kanata
    div.no-scale
  .entry.short.threes#jyn-erso
    div.no-scale
  .entry.short.threes#rose-tico
    div.no-scale
  .entry.short.threes#amilyn-holdo
    div.no-scale

  // 16 Dec 2017
  .entry.wide#crait
    div

  // 10 Dec 2017
  .entry.fours#candy
    div
  .entry.fours#candycane
    div
  .entry.fours#candycorn
    div
  .entry.fours#syrup
    div

  // 22 May 2017
  .entry.wide#birthday
    div

  // 13 February 2017 - #dailycssimages 
  .entry#mike-wazowski
    div
  .entry#sully
    div

  // 12 February 2017 - #dailycssimages 
  .entry.threes#frankenstein
    div
  .entry.threes#zombie
    div
  .entry.threes#vampire
    div

  // 11 February 2017 - #dailycssimages 
  .entry#cheesecake
    div
  .entry#pie
    div

  // 5 February 2017 - #dailycssimages 
  .entry.threes#pizza-pie
    div
  .entry.threes#hamburger
    div
  .entry.threes#taco
    div

  // 1 February 2017 - #dailycssimages 
  .entry.threes#clock
    div
  .entry.threes#supplies
    div
  .entry.threes#pencil-cup
    div

  // 19 January 2017 - #dailycssimages 
  .entry.wide#nibbler
    div

  // 18 January 2017 - #dailycssimages 
  .entry#tiger
    div

  // 17 January 2017 - #dailycssimages 
  .entry#beaver
    div

  // 16 January 2017 - #dailycssimages 
  .entry#elephant
    div

  // 14 January 2017 - #dailycssimages 
  .entry#panda-cub
    div

  // 4 January 2017 
  .entry.wide#triforce
    div

  // 21 October 2016
  // Sawtooth technique by Bobby Jones - http://codepen.io/BobbyJones/details/Cesty
  .entry.raffle#raffle-red
    div.no-scale
  .entry.raffle#raffle-yellow
    div.no-scale

  // 16 October 2016 
  .entry.wide#alamo
    div

  // 14 July 2016 
  .entry#ecto-1
    div
  .entry#stay-puft
    div

  // 4 July 2016 
  .entry#zipper
    div
  .entry#jeans-pocket
    div

  // 29 June 2016 
  .entry.wide#embroidery
    div

  // 27 June 2016 
  .entry#inner-tube
    div
  .entry#popsicle
    div

  // 18 June 2016 
  .entry.threes.cactus#cactus1
    div
  .entry.threes.cactus#cactus2
    div
  .entry.threes.cactus#cactus3
    div

  // 16 June 2016 
  .entry.threes#graham-cracker
    div
  .entry.threes#marshmallow2
    div
  .entry.threes#chocolate
    div

  // 9 June 2016 
  .entry.threes#vinyl-record
    div
  .entry.threes#cassette
    div
  .entry.threes#cd
    div

  // 28 April 2016 
  .entry#pizza-works
    div
  .entry#pizza-marg
    div

  // 15 December 2015 
  .entry#bb8.wide.tall
    div.no-scale

  // 16 December 2015 
  .entry#lightsaber-luke
    div

  // 16 December 2015 
  .entry#lightsaber-darth
    div

  // 23 April 2015 
  .entry#moonrise-kingdom
    div

  // 23 April 2015 
  .entry#royal-tenenbaums
    div

  // 23 April 2015 
  .entry#grand-budapest.wide
    div

  // 31 March 2015 
  .entry#luggage-tag1
    div

  // 31 March 2015 
  .entry#luggage-tag2
    div

  // 4 February 2015 
  .entry#button
    div

  // 3 February 2015 
  .entry#shirt-tag
    div

  // 11 November 2014 
  .entry#corn-dog
    div

  // 11 November 2014 
  .entry#candy-apple
    div

  // 20 October 2014 
  .entry#vacancy.wide
    div

  // 20 October 2014 
  .entry.wide#cupcake
    div

  // 14 August 2014 
  .entry#mario-mushroom
    div

  // 14 August 2014 
  .entry#mario-tube
    div

  // 5 August 2014 
  .entry#macarons
    div.no-scale

  // 14 July 2014 
  .entry#moleskine
    div

  // 26 June 2014 
  .entry#crayon
    div

  // 25 June 2014 
  .entry#marker
    div

  // 21 June 2014 
  .entry#tardis
    div

  // 20 June 2014 
  .entry#hobbit-door
    div

  // 16 June 2014 
  .entry.wide#mickey-hat
    div

  // 12 June 2014 
  .entry.wide#key
    div

  // 11 June 2014 
  .entry#soccer
    div

  // 11 June 2014 
  .entry#brazil
    div

  // 10 June 2014 
  .entry#sushi
    div

  // 9 June 2014 
  .entry#marshmallow
    div

  // 7 June 2014 
  .entry.wide#battery
    div

  // 30 May 2014 
  .entry#breakfast
    div

  // 24 May 2014 
  .entry#cpt-america
    div

  // 23 May 2014 
  .entry#bloody-mary
    div

  // 22 May 2014 
  .entry#camera
    div
