extends _layout

block vars
  - var pageTitle = 'A Single Div'
  - var pageDescription = 'A CSS drawing experiment to see what’s possible with a single div.'
  - var bodyClass = '2020-2024'
  - var cssPath = '/css/main.css'

block content

  // 23 Oct 2023 - #divtober
  .entry.wide#fake
    div.no-scale

  // 22 Oct 2023 - #divtober
  .entry#alive
    div

  // 21 Oct 2023 - #divtober
  .entry#faraway
    div.no-scale

  // 20 Oct 2023 - #divtober
  .entry.wide#seeing
    div.no-scale

  // 19 Oct 2023 - #divtober
  .entry.wide#sticky
    div.no-scale

  // 18 Oct 2023 - #divtober
  .entry#component
    div.no-scale

  // 17 Oct 2023 - #divtober
  .entry#brave
    div.no-scale

  // 16 Oct 2023 - #divtober
  .entry.wide#tangled

  // 15 Oct 2023 - #divtober
  .entry#remember
    div.no-scale

  // 14 Oct 2023 - #divtober
  .entry#small
    div.no-scale

  // 13 Oct 2023 - #divtober
  .entry.wide#collect
    div.no-scale

  // 12 Oct 2023 - #divtober
  .entry.wide#glass
    div

  // 11 Oct 2023 - #divtober
  .entry#bones
    div

  // 10 Oct 2023 - #divtober
  .entry#sparkle
    div.no-scale

  // 9 Oct 2023 - #divtober
  .entry#space
    div.no-scale

  // 8 Oct 2023 - #divtober
  .entry#mix
    div.no-scale

  // 7 Oct 2023 - #divtober
  .entry.wide#treat

  // 6 Oct 2023 - #divtober
  .entry.wide#bounce
    div

  // 5 Oct 2023 - #divtober
  .entry.wide#lost
    div

  // 4 Oct 2023 - #divtober
  .entry.wide#crawl
    div.no-scale

  // 3 Oct 2023 - #divtober
  .entry.wide#artist
    div

  // 2 Oct 2023 - #divtober
  .entry#impossible
    div

  // 1 Oct 2023 - #divtober
  .entry#fall
    div

  // 22 May 2023
  .entry.wide#nine
    div

  // 31 Oct 2022 - #divtober
  .entry#brew
    div

  // 30 Oct 2022 - #divtober
  .entry#beloved
    div

  // 29 Oct 2022 - #divtober
  .entry#free
    div

  // 28 Oct 2022 - #divtober
  .entry#monster
    div

  // 27 Oct 2022 - #divtober
  .entry#grain
    div

  // 26 Oct 2022 - #divtober
  .entry#vintage
    div

  // 25 Oct 2022 - #divtober
  .entry.wide#luminous
    div.no-scale

  // 24 Oct 2022 - #divtober
  .entry.wide#cubed
    div

  // 23 Oct 2022 - #divtober
  .entry#pop
    div.no-scale

  // 22 Oct 2022 - #divtober
  .entry#soft
    div

  // 21 Oct 2022 - #divtober
  .entry#valuable
    div.no-scale

  // 20 Oct 2022 - #divtober
  .entry#ten
    div

  // 19 Oct 2022 - #divtober
  .entry#mythical
    div.no-scale

  // 18 Oct 2022 - #divtober
  .entry#pun
    div

  // 17 Oct 2022 - #divtober
  .entry#stripes
    div.no-scale

  // 16 Oct 2022 - #divtober
  .entry#hypnotic
    div

  // 15 Oct 2022 - #divtober
  .entry.wide#erase
    div.no-scale

  // 14 Oct 2022 - #divtober
  .entry.wide#splash
    div

  // 13 Oct 2022 - #divtober
  .entry#forever
    div.no-scale

  // 12 Oct 2022 - #divtober
  .entry#shadow
    div

  // 11 Oct 2022 - #divtober
  .entry#burger
    div

  // 10 Oct 2022 - #divtober
  .entry#game
    div

  // 9 Oct 2022 - #divtober
  .entry#rise
    div.no-scale

  // 8 Oct 2022 - #divtober
  .entry#haunted
    div

  // 7 Oct 2022 - #divtober
  .entry#wonder
    div.no-scale

  // 6 Oct 2022 - #divtober
  .entry#meaty
    div

  // 5 Oct 2022 - #divtober
  .entry#stamp
    div

  // 4 Oct 2022 - #divtober
  .entry#quiet
    div

  // 3 Oct 2022 - #divtober
  .entry.wide#snack

  // 2 Oct 2022 - #divtober
  .entry#dry
    div

  // 1 Oct 2022 - #divtober
  .entry#badge
    div

  // 10 Sep 2022
  .entry#mooncake-1
    div.no-scale
  .entry#mooncake-2
    div.no-scale

  // 22 May 2022
  .entry.wide#eight
    div

  // 31 Oct 2021 - #divtober
  .entry.wide#spooky
    div.no-scale

  // 30 Oct 2021 - #divtober
  .entry#contrast
    div.no-scale

  // 29 Oct 2021 - #divtober
  .entry#fruit
    div

  // 28 Oct 2021 - #divtober
  .entry.wide#dots

  // 27 Oct 2021 - #divtober
  .entry.wide#film
    div

  // 26 Oct 2021 - #divtober
  .entry#spice
    div.no-scale

  // 25 Oct 2021 - #divtober
  .entry#dip
    div

  // 24 Oct 2021 - #divtober
  .entry.wide#smelly
    div

  // 23 Oct 2021 - #divtober
  .entry#loud
    div.no-scale

  // 22 Oct 2021 - #divtober
  .entry#critter
    div

  // 21 Oct 2021 - #divtober
  .entry.wide#magic
    div.no-scale

  // 20 Oct 2021 - #divtober
  .entry#journey
    div

  // 19 Oct 2021 - #divtober
  .entry#nostalgia
    div

  // 18 Oct 2021 - #divtober
  .entry#shine
    div

  // 17 Oct 2021 - #divtober
  .entry#stack
    div

  // 16 Oct 2021 - #divtober
  .entry#snow2
    div

  // 15 Oct 2021 - #divtober
  .entry#float
    div

  // 14 Oct 2021 - #divtober
  .entry#fancy
    div

  // 13 Oct 2021 - #divtober
  .entry#camouflage
    div

  // 12 Oct 2021 - #divtober
  .entry#squeak
    div

  // 11 Oct 2021 - #divtober
  .entry#slice
    div

  // 10 Oct 2021 - #divtober
  .entry.wide#organized

  // 9 Oct 2021 - #divtober
  .entry#homonym
    div

  // 8 Oct 2021 - #divtober
  .entry#growing
    div.no-scale

  // 7 Oct 2021 - #divtober
  .entry.wide#toxic
    div

  // 6 Oct 2021 - #divtober
  .entry#hungry
    div

  // 5 Oct 2021 - #divtober
  .entry#tired
    div

  // 4 Oct 2021 - #divtober
  .entry#loop
    div

  // 3 Oct 2021 - #divtober
  .entry#quick
    div

  // 2 Oct 2021 - #divtober
  .entry#watch
    div

  // 1 Oct 2021 - #divtober
  .entry#fan
    div.no-scale

  // 22 May 2021
  .entry.wide#seven
    div

  // 31 Oct 2020 - #divtober
  .entry#zap
    div.no-scale

  // 30 Oct 2020 - #divtober
  .entry#turtle
    div

  // 29 Oct 2020 - #divtober
  // A misquote vote tote
  .entry#rhyme
    div

  // 28 Oct 2020 - #divtober
  .entry#letter
    div.no-scale

  // 27 Oct 2020 - #divtober
  .entry#sharp
    div

  // 26 Oct 2020 - #divtober
  .entry#surprise
    div

  // 25 Oct 2020 - #divtober
  .entry.wide#deep
    div

  // 24 Oct 2020 - #divtober
  .entry#juicy
    div

  // 23 Oct 2020 - #divtober
  .entry#surreal
    div

  // 22 Oct 2020 - #divtober
  .entry.wide#power
    div

  // 21 Oct 2020 - #divtober
  .entry#iconic
    div

  // 20 Oct 2020 - #divtober
  .entry#winding
    div

  // 19 Oct 2020 - #divtober
  .entry#hidden
    div

  // 18 Oct 2020 - #divtober
  .entry#little
    div

  // 17 Oct 2020 - #divtober
  .entry#parasite
    div

  // 16 Oct 2020 - #divtober
  .entry#music
    div

  // 15 Oct 2020 - #divtober
  .entry.wide#ship
    div

  // 14 Oct 2020 - #divtober
  .entry#radio2
    div

  // 13 Oct 2020 - #divtober
  .entry#repeating

  // 12 Oct 2020 - #divtober
  .entry.wide#reflection

  // 11 Oct 2020 - #divtober
  .entry.wide#train
    div.no-scale

  // 10 Oct 2020 - #divtober
  .entry#slow
    div

  // 9 Oct 2020 - #divtober
  .entry#hairy
    div.no-scale

  // 8 Oct 2020 - #divtober
  .entry#fly
    div.no-scale

  // 7 Oct 2020 - #divtober
  .entry#bright
    div

  // 6 Oct 2020 - #divtober
  .entry.wide#digital
    div.no-scale

  // 5 Oct 2020 - #divtober
  .entry#egg
    div

  // 4 Oct 2020 - #divtober
  .entry#knot
    div

  // 3 Oct 2020 - #divtober
  .entry.wide#boxed
    div

  // 2 Oct 2020 - #divtober
  .entry#old-timey
    div

  // 1 Oct 2020 - #divtober
  .entry#hot
    div

  // 16 Aug 2020
  .entry.wide#dotmatrix

  // 18 June 2020
  .entry.short.threes#noodles1
    div.no-scale
  .entry.short.threes#noodles2
    div.no-scale
  // Seigaiha pattern by Lea Verou - https://leaverou.github.io/css3patterns/#seigaiha
  .entry.short.threes#noodles3
    div.no-scale

  // 12 Jul 2020
  .entry.wide#window

  // 22 May 2020
  .entry.wide#six
    div

  // 19 May 2020
  .entry.wide#licorice

  // 17 May 2020
  .entry.wide#planet
    div

  // 16 May 2020
  .entry#washi

  // 15 May 2020
  .entry#radio
    div

  // 14 May 2020
  .entry.wide#byebyecube
    div.no-scale

  // 13 May 2020
  // Based on the font from Action Hollywood (1995) as seen in Arcade Game Typography by Toshi Omagari
  .entry.wide#grid
    div

  // 12 May 2020
  .entry.wide#aesthetic
    div

  // 11 May 2020
  .entry.short.threes#icon-film
    div
  .entry.short.threes#icon-camera
    div
  .entry.short.threes#icon-polaroid
    div

  // 10 May 2020
  .entry.wide#hello
    div

  // 1 Mar 2020
  .entry.threes#rosette-1
    div
  .entry.threes#rosette-2
    div
  .entry.threes#rosette-3
    div

  footer
    nav
      a(href='/2014-2019') View more single divs ⇨
