extends _layout

block content

  // 26 Oct 2019 - #divtober
  .entry.wide#dark

  // 25 Oct 2019 - #divtober
  .entry.wide#tasty
    div

  // 24 Oct 2019 - #divtober
  .entry#dizzy
    div

  // 23 Oct 2019 - #divtober
  .entry#ancient
    div

  // 22 Oct 2019 - #divtober
  .entry#ghost
    div

  // 21 Oct 2019 - #divtober
  .entry#treasure
    div

  // 20 Oct 2019 - #divtober
  .entry#tread
    div.no-scale

  // 19 Oct 2019 - #divtober
  .entry#sling
    div.no-scale

  // 18 Oct 2019 - #divtober
  .entry#misfit
    div.no-scale

  // 17 Oct 2019 - #divtober
  .entry#ornament
    div.no-scale

  // 16 Oct 2019 - #divtober
  .entry#wild

  // 15 Oct 2019 - #divtober
  .entry#legend
    div

  // 14 Oct 2019 - #divtober
  .entry#overgrown

  // 13 Oct 2019 - #divtober
  .entry#ash
    div.no-scale

  // 12 Oct 2019 - #divtober
  .entry.wide#dragon
    div

  // 11 Oct 2019 - #divtober
  .entry#snow
    div

  // 10 Oct 2019 - #divtober
  .entry#pattern

  // 9 Oct 2019 - #divtober
  .entry.wide#swing
    div

  // 8 Oct 2019 - #divtober
  .entry#frail
    div

  // 7 Oct 2019 - #divtober
  .entry#enchanted
    div

  // 6 Oct 2019 - #divtober
  .entry.wide#husky
    div

  // 5 Oct 2019 - #divtober
  .entry#build-1
    div
  .entry#build-2
    div

  // 4 Oct 2019 - #divtober
  .entry#freeze
    div.no-scale

  // 3 Oct 2019 - #divtober
  .entry#bait
    div.no-scale

  // 2 Oct 2019 - #divtober
  .entry#mindless
    div

  // 1 Oct 2019 - #divtober
  .entry#ring
    div

  // 29 Aug 2019
  .entry.sweater#fred-rogers
    div
  .entry.sweater#ned-flanders
    div

  // 15 Jun 2019
  .entry#toast
    div.no-scale
  .entry#poptart
    div.no-scale

  // 22 May 2019
  .entry.wide#five
    div

  // 8 May 2019
  .entry.wide#sandwich
    div.no-scale

  // 7 Apr 2019
  .entry.wide#theshining

  // 14 Mar 2019
  .entry.wide#toystory

  // 22 Jan 2019
  .entry#css-one
    div
  .entry#css-two
    div
  .entry#css-three
    div
  .entry#css-four
    div

  // 11 Dec 2018
  .entry#penrose-triangle
    div
  .entry#impossible-rectangle
    div
  .entry#impossible-cube
    div
  .entry#penrose-triangle-cube
    div

  // 9 Sep 2018
  .entry.wide#the-goddman-pen-is-blue
    div

  // 15 Apr 2018
  .entry.wide#xray

  // 7 Apr 2018
  .entry#honey-badger
    div
  .entry#cobra
    div

  // 4 Mar 2018
  .entry#space-pizza
  .entry#space-donuts

  // 14 Jan 2018
  // Chill. This does not scale well and shows exactly why SVG is the better format for this kind of thing. 
  .entry.wide#svg
    div.no-scale

  // 23 Dec 2017
  .entry.short.threes#leia-organa
    div.no-scale
  .entry.short.threes#mon-mothma
    div.no-scale
  .entry.short.threes#padme-amidala
    div.no-scale
  .entry.short.threes#ahsoka-tano
    div.no-scale
  .entry.short.threes#rey
    div.no-scale
  .entry.short.threes#maz-kanata
    div.no-scale
  .entry.short.threes#jyn-erso
    div.no-scale
  .entry.short.threes#rose-tico
    div.no-scale
  .entry.short.threes#amilyn-holdo
    div.no-scale

  // 16 Dec 2017
  .entry.wide#crait
    div

  // 10 Dec 2017
  .entry.fours#candy
    div
  .entry.fours#candycane
    div
  .entry.fours#candycorn
    div
  .entry.fours#syrup
    div

  // 22 May 2017
  .entry.wide#birthday
    div

  // 13 February 2017 - #dailycssimages 
  .entry#mike-wazowski
    div
  .entry#sully
    div

  // 12 February 2017 - #dailycssimages 
  .entry.threes#frankenstein
    div
  .entry.threes#zombie
    div
  .entry.threes#vampire
    div

  // 11 February 2017 - #dailycssimages 
  .entry#cheesecake
    div
  .entry#pie
    div

  // 5 February 2017 - #dailycssimages 
  .entry.threes#pizza-pie
    div
  .entry.threes#hamburger
    div
  .entry.threes#taco
    div

  // 1 February 2017 - #dailycssimages 
  .entry.threes#clock
    div
  .entry.threes#supplies
    div
  .entry.threes#pencil-cup
    div

  // 19 January 2017 - #dailycssimages 
  .entry.wide#nibbler
    div

  // 18 January 2017 - #dailycssimages 
  .entry#tiger
    div

  // 17 January 2017 - #dailycssimages 
  .entry#beaver
    div

  // 16 January 2017 - #dailycssimages 
  .entry#elephant
    div

  // 14 January 2017 - #dailycssimages 
  .entry#panda-cub
    div

  // 4 January 2017 
  .entry.wide#triforce
    div

  // 21 October 2016 
  .entry.raffle#raffle-red
    div.no-scale
  .entry.raffle#raffle-yellow
    div.no-scale

  // 16 October 2016 
  .entry.wide#alamo
    div

  // 14 July 2016 
  .entry#ecto-1
    div
  .entry#stay-puft
    div

  // 4 July 2016 
  .entry#zipper
    div
  .entry#jeans-pocket
    div

  // 29 June 2016 
  .entry.wide#embroidery
    div

  // 27 June 2016 
  .entry#inner-tube
    div
  .entry#popsicle
    div

  // 18 June 2016 
  .entry.threes.cactus#cactus1
    div
  .entry.threes.cactus#cactus2
    div
  .entry.threes.cactus#cactus3
    div

  // 16 June 2016 
  .entry.threes#graham-cracker
    div
  .entry.threes#marshmallow2
    div
  .entry.threes#chocolate
    div

  // 9 June 2016 
  .entry.threes#vinyl-record
    div
  .entry.threes#cassette
    div
  .entry.threes#cd
    div

  // 28 April 2016 
  .entry#pizza-works
    div
  .entry#pizza-marg
    div

  // 15 December 2015 
  .entry#bb8.wide.tall
    div.no-scale

  // 16 December 2015 
  .entry#lightsaber-luke
    div

  // 16 December 2015 
  .entry#lightsaber-darth
    div

  // 23 April 2015 
  .entry#moonrise-kingdom
    div

  // 23 April 2015 
  .entry#royal-tenenbaums
    div

  // 23 April 2015 
  .entry#grand-budapest.wide
    div

  // 31 March 2015 
  .entry#luggage-tag1
    div

  // 31 March 2015 
  .entry#luggage-tag2
    div

  // 4 February 2015 
  .entry#button
    div

  // 3 February 2015 
  .entry#shirt-tag
    div

  // 11 November 2014 
  .entry#corn-dog
    div

  // 11 November 2014 
  .entry#candy-apple
    div

  // 20 October 2014 
  .entry#vacancy.wide
    div

  // 20 October 2014 
  .entry.wide#cupcake
    div

  // 14 August 2014 
  .entry#mario-mushroom
    div

  // 14 August 2014 
  .entry#mario-tube
    div

  // 5 August 2014 
  .entry#macarons
    div.no-scale

  // 14 July 2014 
  .entry#moleskine
    div

  // 26 June 2014 
  .entry#crayon
    div

  // 25 June 2014 
  .entry#marker
    div

  // 21 June 2014 
  .entry#tardis
    div

  // 20 June 2014 
  .entry#hobbit-door
    div

  // 16 June 2014 
  .entry.wide#mickey-hat
    div

  // 12 June 2014 
  .entry.wide#key
    div

  // 11 June 2014 
  .entry#soccer
    div

  // 11 June 2014 
  .entry#brazil
    div

  // 10 June 2014 
  .entry#sushi
    div

  // 9 June 2014 
  .entry#marshmallow
    div

  // 7 June 2014 
  .entry.wide#battery
    div

  // 30 May 2014 
  .entry#breakfast
    div

  // 24 May 2014 
  .entry#cpt-america
    div

  // 23 May 2014 
  .entry#bloody-mary
    div

  // 22 May 2014 
  .entry#camera
    div
