/*-----------------------------

Ancient

-----------------------------*/

#ancient
  background-color: tan

  div
    width: 324px
    height: 220px
    margin-left: -(@width/2)
    margin-top: -(@height/2 + 20)
    background-repeat: no-repeat
    background-image: linear-gradient(to bottom, white 3px,
                                                 transparent 3px,
                                                 transparent 11px,
                                                 white 11px,
                                                 white 14px),
                      linear-gradient(to right,  white 3px, transparent 3px),
                      linear-gradient(to left,   white 3px, transparent 3px),
                      linear-gradient(to left,  darken(tan,10) 50%, transparent 50%),
                      linear-gradient(to bottom, white 3px, transparent 3px),
                      linear-gradient(to right,  white 3px, transparent 3px),
                      linear-gradient(to left,   white 3px, transparent 3px),
                      linear-gradient(to left,  darken(tan,10) 50%, transparent 50%),
                      linear-gradient(to bottom, white 3px, transparent 3px),
                      linear-gradient(to right,  white 3px, transparent 3px),
                      linear-gradient(to left,   white 3px, transparent 3px),
                      linear-gradient(to left,  darken(tan,10) 50%, transparent 50%),
                      repeating-linear-gradient(to right, white,
                                                          white 3px,
                                                          transparent 3px, transparent 6px,
                                                          white 6px, white 7px,
                                                          transparent 7px, transparent 10px,
                                                          white 10px, white 11px,
                                                          transparent 11px, transparent 14px,
                                                          white 14px, white 17px,
                                                          transparent 17px, transparent 36px),
                      repeating-linear-gradient(to right, tan,
                                                          tan 8px,
                                                          darken(tan,20) 8px, darken(tan,20) 17px,
                                                          transparent 17px, transparent 36px),
                      repeating-linear-gradient(to right, white,
                                                          white 25px,
                                                          transparent 25px,
                                                          transparent 36px),
                      repeating-linear-gradient(to right, white,
                                                          white 3px,
                                                          tan 3px,
                                                          tan 22px,
                                                          white 22px,
                                                          white 25px,
                                                          transparent 25px,
                                                          transparent 36px),
                      linear-gradient(to right, darken(tan,7) 50%, darken(tan,15) 50%),
                      linear-gradient(to top,    white 3px, transparent 3px),
                      linear-gradient(to right,  white 3px, transparent 3px),
                      linear-gradient(to left,   white 3px, transparent 3px),
                      linear-gradient(to top,    white 3px, transparent 3px),
                      linear-gradient(to right,  white 3px, transparent 3px),
                      linear-gradient(to left,   white 3px, transparent 3px),
                      linear-gradient(to bottom, white 3px, transparent 3px),
                      repeating-linear-gradient(to right, white,
                                                          white 10px, transparent 10px,
                                                          transparent 15px),
                      repeating-linear-gradient(to right, white,
                                                          white 10px, transparent 10px,
                                                          transparent 15px),
                      repeating-linear-gradient(to right, transparent,
                                                          transparent 2px, white(.6) 2px,
                                                          white(.6) 3px, transparent 3px,
                                                          transparent 5px, white(.6) 5px,
                                                          white(.6) 6px, transparent 6px,
                                                          transparent 8px, white(.6) 8px,
                                                          white(.6) 9px, transparent 9px,
                                                          transparent 19px),
                      linear-gradient(to bottom, white(.6) 1px, transparent 1px),
                      linear-gradient(to bottom, darken(tan,20) 38%, transparent 38%),
                      linear-gradient(to bottom, darken(tan,20) 38%, transparent 38%),
                      linear-gradient(-20deg, transparent 25px,
                                              white 25px, white 28px,
                                              transparent 28px),
                      linear-gradient(-20deg, transparent 20px,
                                              white 20px, white 23px,
                                              transparent 23px),
                      linear-gradient(to right, white 3px, transparent 3px),
                      linear-gradient(to bottom, white 3px, transparent 3px),
                      linear-gradient(to left, white 3px, transparent 3px),
                      linear-gradient(-20deg, transparent 10px,
                                              darken(tan,20) 10px, darken(tan,20) 19px,
                                              transparent 19px),
                      linear-gradient( 20deg, transparent 25px,
                                              white 25px, white 28px,
                                              transparent 28px),
                      linear-gradient( 20deg, transparent 20px,
                                              white 20px, white 23px,
                                              transparent 23px),
                      linear-gradient(to left, white 3px, transparent 3px),
                      linear-gradient(to bottom, white 3px, transparent 3px),
                      linear-gradient(to right, white 3px, transparent 3px),
                      linear-gradient( 20deg, transparent 9px,
                                              darken(tan,20) 9px, darken(tan,20) 15px,
                                              transparent 15px)
    background-size: 100% 14px,
                     100% 14px,
                     100% 14px,
                     100% 14px,
                     90% 11px,
                     90% 11px,
                     90% 11px,
                     90% 11px,
                     84% 11px,
                     84% 11px,
                     84%11px,
                     84% 11px,
                     83.3% 90px,
                     83.3% 90px,
                     85.5% 3px,
                     85.5% 8px,
                     82% 98px,
                     85.5% 25px,
                     85.5% 25px,
                     85.5% 25px,
                     94% 12px,
                     94% 12px,
                     94% 12px,
                     82% 12px,
                     35% 2px,
                     50% 2px,
                     85.5% 9px,
                     85.5% 9px,
                     33% 26px,
                     47% 26px,
                     20% 30px,
                     14% 30px,
                     30% 10px,
                     6% 20px,
                     6% 20px,
                     14% 20px,
                     15% 30px,
                     9% 30px,
                     30% 11px,
                     4% 17px,
                     4% 17px,
                     9% 20px
    background-position: center bottom,
                         center bottom,
                         center bottom,
                         center bottom,
                         center bottom 14px,
                         left  40% bottom 14px,
                         right 40% bottom 14px,
                         center bottom 14px,
                         center bottom 25px,
                         left  46% bottom 25px,
                         right 46% bottom 25px,
                         center bottom 25px,
                         center bottom 35px,
                         center bottom 35px,
                         center bottom 125px,
                         center bottom 125px,
                         center bottom 35px,
                         center bottom 133px,
                         center bottom 133px,
                         center bottom 133px,
                         center bottom 155px,
                         center bottom 155px,
                         center bottom 155px,
                         center bottom 155px,
                         left  7% bottom 153px,
                         right 8% bottom 153px,
                         center bottom 144px,
                         center bottom 134px,
                         left  11% bottom 132px,
                         right 15% bottom 132px,
                         left 3.8% bottom 162px,
                         left 10.5% bottom 159px,
                         left 31.6% bottom 181px,
                         left 24% bottom 166px,
                         left 24% bottom 166px,
                         left 13% bottom 165px,
                         right 3.6% bottom 156px,
                         right 10.5% bottom 153px,
                         right 25.5% bottom 175px,
                         right 19% bottom 164px,
                         right 19% bottom 164px,
                         right 14% bottom 164px
