/*-----------------------------

Beloved

-----------------------------*/

#beloved
  background-color: skyblue

  div
    width: 260px
    height: @width
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background: linear-gradient(65deg, alpha(peachpuff,0) 68%,
                                       peachpuff 68.5%) 38.5% 100% / 3em 1.8em,
                linear-gradient(-65deg, alpha(peachpuff,0) 68%,
                                        peachpuff 68.5%) 61.5% 100% / 3em 1.8em,
                radial-gradient(circle at 100% 50%, darken(tomato,3) 50%,
                                                    alpha(tomato,0) 50.5%) 40.4% 85% / .5em 1em,
                radial-gradient(ellipse at 100% 50%, darken(forestgreen,3), 60%,
                                                     alpha(forestgreen,0) 60.2%) 39.3% 87% / .8em .5em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 39% 91% / .3em .3em,
                radial-gradient(circle, darken(tomato,3) 50%, alpha(tomato,0) 50.5%) 44% 96.5% / 1em 1em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 46% 100% / .5em 1em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 43% 99% / .3em .3em,
                radial-gradient(circle at 0 50%, darken(tomato,3) 50%,
                                                    alpha(tomato,0) 50.5%) 59.6% 85% / .5em 1em,
                radial-gradient(ellipse at 0 50%, darken(forestgreen,3), 60%,
                                                     alpha(forestgreen,0) 60.2%) 60.7% 87% / .8em .5em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 61% 91% / .3em .3em,
                radial-gradient(circle, darken(tomato,3) 50%, alpha(tomato,0) 50.5%) 56% 96.5% / 1em 1em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 54% 100% / .5em 1em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 96% 99% / .3em .3em,
                linear-gradient( 130deg, alpha(gold,0) 50%, darken(gold,5) 50.5%) 36.5% 88% / 1.5em 1.7em,
                linear-gradient(-130deg, alpha(gold,0) 50%, darken(gold,5) 50.5%) 63.5% 88% / 1.5em 1.7em,
                linear-gradient(50deg, alpha(gold,0) 43%,
                                       darken(gold,5) 43.5%,
                                       darken(gold,5) 65%,
                                       alpha(gold,0) 65.5%) 37.7% 100.1% / 3em 1.8em,
                linear-gradient(60deg, black(0) 37%,
                                       black(.3) 37.5%,
                                       black(.3) 55%,
                                       black(0) 55.5%) 37.7% 100.1% / 3em 1.8em,
                linear-gradient(65deg, alpha(gold,0) 50%,
                                       darken(gold,5) 50.5%,
                                       darken(gold,5) 68%,
                                       alpha(gold,0) 68.5%) 38.5% 100% / 3em 1.8em,
                linear-gradient(-50deg, alpha(gold,0) 43%,
                                        darken(gold,5) 43.5%,
                                        darken(gold,5) 65%,
                                        alpha(gold,0) 65.5%) 62.3% 100.1% / 3em 1.8em,
                linear-gradient(-60deg, black(0) 37%,
                                        black(.3) 37.5%,
                                        black(.3) 55%,
                                        black(0) 55.5%) 62.3% 100.1% / 3em 1.8em,
                linear-gradient(-65deg, alpha(gold,0) 50%,
                                        darken(gold,5) 50.5%,
                                        darken(gold,5) 68%,
                                        alpha(gold,0) 68.5%) 61.5% 100% / 3em 1.8em,
                radial-gradient(circle at 50% 0, black(.2) 70%, black(0) 70.5%) 50% 82% / 2.5em 2.5em,
                linear-gradient(peachpuff,peachpuff) 50% 100% / 2.5em 4.2em,
                radial-gradient(ellipse at 50% 140%, alpha(lightseagreen,0) 60%,
                                                     lightseagreen 60.5%) 50% 100% / 16em 3em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 25% 92% / 1em 1em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 29% 94% / 1em 1em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 25.5% 96% / 1em 1em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 21.5% 93% / 1em .5em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 16% 97% / .5em 1em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 14% 99% / .3em .3em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 20% 103% / 1em 1em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 16% 105% / 1em 1em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 22% 96% / .3em .3em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 27% 104% / .5em 1em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 31% 97% / .3em .3em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 35% 92% / .3em .3em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 37.5% 98% / 1em 1em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 39.5% 102% / 1em 1em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 35% 99% / 1em .5em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 75% 92% / 1em 1em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 71% 94% / 1em 1em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 74.5% 96% / 1em 1em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 78.5% 93% / 1em .5em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 84% 97% / .5em 1em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 86% 99% / .3em .3em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 80% 103% / 1em 1em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 84% 105% / 1em 1em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 78% 96% / .3em .3em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 73% 104% / .5em 1em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 69% 97% / .3em .3em,
                radial-gradient(circle, chocolate 50%, alpha(chocolate,0) 50.5%) 65% 92% / .3em .3em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 62.5% 98% / 1em 1em,
                radial-gradient(circle, tomato 50%, alpha(tomato,0) 50.5%) 60.5% 102% / 1em 1em,
                radial-gradient(ellipse, forestgreen, 60%, alpha(forestgreen,0) 60.2%) 65% 99% / 1em .5em,
                radial-gradient(ellipse at 50% 140%, gold 60%, alpha(gold,0) 60.5%) 50% 100% / 16em 3em
    background-color: lightseagreen
    background-repeat: no-repeat
    border-radius: 2em

    &::before
      width: 200px
      height: @width
      left: 50%
      top: -5%
      margin-left: -(@width/2)
      background: radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 50% -5% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 71% -1% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 90% 10% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 102% 29% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 105% 50% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 102% 71% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 90% 90% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 71% 101% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 50% 105% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 29% 101% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 10% 90% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) -1% 71% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) -5% 50% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) -1% 29% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 10% 10% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 29% -1% / 30% 30%,
                  radial-gradient(circle, darken(saddlebrown,10) 50%, alpha(saddlebrown,0) 50.2%) 50% 50% / 100% 100%
      background-repeat: no-repeat

    &::after
      width: 112px
      height: 140px
      left: 50%
      top: 23%
      margin-left: -(@width/2)
      background: radial-gradient(circle, darken(saddlebrown,10) 50%,
                                          alpha(saddlebrown,0) 50.2%) -20% -10% / 2.6em 2.6em,
                  radial-gradient(circle, darken(saddlebrown,10) 50%,
                                          alpha(saddlebrown,0) 50.2%) 15% -15% / 2.6em 2.6em,
                  radial-gradient(circle, darken(saddlebrown,10) 50%,
                                          alpha(saddlebrown,0) 50.2%) 50% -15% / 2.6em 2.6em,
                  radial-gradient(circle, darken(saddlebrown,10) 50%,
                                          alpha(saddlebrown,0) 50.2%) 85% -15% / 2.6em 2.6em,
                  radial-gradient(circle, darken(saddlebrown,10) 50%,
                                          alpha(saddlebrown,0) 50.2%) 120% -10% / 2.6em 2.6em,
                  radial-gradient(ellipse at 50% 100%, alpha(grey,0) 59%,
                                                       grey 50.9%,
                                                       grey 65%,
                                                       alpha(grey,0) 65.5%) 0 31% / 3.3em 1em,
                  radial-gradient(ellipse at 50% 0, alpha(grey,0) 59%,
                                                    grey 50.9%,
                                                    grey 65%,
                                                    alpha(grey,0) 65.5%) 0 50% / 3.3em 2em,
                  radial-gradient(ellipse at 50% 100%, alpha(grey,0) 59%,
                                                       grey 50.9%,
                                                       grey 65%,
                                                       alpha(grey,0) 65.5%) 100% 31% / 3.3em 1em,
                  radial-gradient(ellipse at 50% 0, alpha(grey,0) 59%,
                                                    grey 50.9%,
                                                    grey 65%,
                                                    alpha(grey,0) 65.5%) 100% 50% / 3.3em 2em,
                  linear-gradient(grey, grey) 50% 28.8% / 3.2em .1em,
                  radial-gradient(ellipse at 50% 140%, alpha(grey,0) 45%,
                                                       grey 45.5%,
                                                       grey 65%,
                                                       alpha(grey,0) 65.5%) 50% 35% / 1.1em .3em,
                  linear-gradient(darken(saddlebrown,10), darken(saddlebrown,10)) 15% 24% / 2em .5em,
                  linear-gradient(darken(saddlebrown,10), darken(saddlebrown,10)) 85% 24% / 2em .5em,
                  radial-gradient(circle, white 50%, white(0) 50.5%) 26% 37% / .3em .3em,
                  radial-gradient(circle, #333 50%, black(0) 50.5%) 25% 37% / 1em 1em,
                  radial-gradient(circle, white 50%, white(0) 50.5%) 74% 37% / .3em .3em,
                  radial-gradient(circle, #333 50%, black(0) 50.5%) 75% 37% / 1em 1em,
                  radial-gradient(ellipse at 50% 0, peachpuff 55%,
                                                    peru 55.9%,
                                                    peru 65%,
                                                    alpha(peru,0) 65.5%) 50% 65% / 1.8em .9em,
                  linear-gradient(150deg, alpha(saddlebrown,0) 40%,
                                          darken(saddlebrown,10) 40.5%) 29% 70% / 2em .5em,
                  linear-gradient(-150deg, alpha(saddlebrown,0) 40%,
                                           darken(saddlebrown,10) 40.5%) 71% 70% / 2em .5em,
                  radial-gradient(circle at 50% 0, alpha(peachpuff,0) 50%, peachpuff 50.5%) 50% 89% / 3.2em 1.5em,
                  radial-gradient(ellipse at 50% 100%, tomato 40%, alpha(tomato,0) 40.5%) 50% 85% / 3em 1em,
                  radial-gradient(circle at 50% 0, #333 50%, black(0) 50.5%) 50% 89% / 3.2em 1.5em,
                  radial-gradient(ellipse at 50% 100%, peachpuff 70%, alpha(peachpuff,0) 70.5%) 50% 0 / 200% 100%
      background-repeat: no-repeat
      border-radius: 4em 4em 4em 4em / 2em 2em 6em 6em
