/*-----------------------------

Build

-----------------------------*/

#build
  background: #fff

  div
    width: 320px
    height: 250px
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat
    background-image: radial-gradient(circle, saddlebrown 40%, transparent 40%),
                      radial-gradient(circle, saddlebrown 40%, transparent 40%),
                      radial-gradient(circle, saddlebrown 40%, transparent 40%),
                      linear-gradient(to bottom, darkgoldenrod, darkgoldenrod),
                      linear-gradient(to right, burlywood, burlywood),
                      radial-gradient(circle, saddlebrown 40%, transparent 40%),
                      radial-gradient(circle, saddlebrown 40%, transparent 40%),
                      radial-gradient(circle, saddlebrown 40%, transparent 40%),
                      linear-gradient(to bottom, darkgoldenrod, darkgoldenrod),
                      linear-gradient(to right, burlywood, burlywood),
                      radial-gradient(circle, saddlebrown 10%, burlywood 10%,
                                              burlywood 50%, transparent 50%),
                      radial-gradient(circle, saddlebrown 10%, burlywood 10%,
                                              burlywood 50%, transparent 50%),
                      radial-gradient(circle, saddlebrown 10%, burlywood 10%,
                                              burlywood 50%, transparent 50%),
                      linear-gradient(to right, burlywood, burlywood),
                      linear-gradient(to right, burlywood, burlywood),
                      linear-gradient(-50deg, transparent 40%, crimson 40%,
                                              crimson 46%, transparent 46%),
                      linear-gradient(50deg, transparent 40%, crimson 40%,
                                              crimson 46%, transparent 46%),
                      linear-gradient(to right, saddlebrown, saddlebrown),
                      linear-gradient(to right, saddlebrown, saddlebrown),
                      radial-gradient(circle, darken(orangered,20) 50%, transparent 50%),
                      linear-gradient(to right, darkorange 12%, orangered 12%,
                                                orangered 16%, darkorange 16%,
                                                darkorange 84%, orangered 84%,
                                                orangered 88%, darkorange 88%),
                      linear-gradient(to bottom, dodgerblue, dodgerblue),
                      linear-gradient(to bottom, limegreen, limegreen),
                      linear-gradient(to bottom, orange, orange),
                      linear-gradient(to right, orange, orange),
                      linear-gradient(to right, orange, orange)
    background-size: 15px 15px, 15px 15px, 15px 15px, 50px 2px, 50px 17px,
                     15px 15px, 15px 15px, 15px 15px, 50px 2px, 50px 17px,
                     71px 71px, 71px 71px, 71px 71px,
                     15px 15px, 15px 15px,
                     100px 100px, 100px 100px,
                     10px 2px, 10px 2px,
                     13px 13px, 40px 15px,
                     60% 8px, 60% 8px, 90% 8px,
                     8px 120px, 8px 120px
    background-position: 18% 78.9%, 23.5% 78.9%, 29% 78.9%, 20% 77.5%, 20% 79%,
                         71% 78.9%, 76.5% 78.9%, 82% 78.9%, 80% 77.5%, 80% 79%,
                         50% 0, 17% 50%, 83% 50%,
                         23.5% 100%, 76.5% 100%,
                         30% 10%, 70% 10%,
                         5% 50%, 94.7% 50%,
                         50% 50%, 50% 50%,
                         50% 50%, 50% 78%, 50% 50%,
                         24% 90%, 76% 90%
