/*-----------------------------

Old School Camera

-----------------------------*/

#camera
  background: orange

  //- camera body
  div
    width: 300px
    height: 130px
    margin-left: -(@width/2)
    margin-top: -(@height/2)

    z-index: 1

    background: linear-gradient(to right, #111 0%,#444 15%,#444 85%,#111 100%)

    border-top: 15px solid #ccc
    border-bottom: 12px solid #ccc
    border-image: linear-gradient(to right, #444, #ccc, #ccc, #ccc, #ccc, #444) 1% stretch

    box-shadow: 0 3px 4px -2px black(.6),
                0 10px 7px -2px black(.4)

    //- rectangular pieces
    &:before
      width: 33px
      height: 18px
      margin-left: 30px

      top: -30px
      left: 50%
      z-index: 2

      background: #333

      box-shadow: 0 0 0 2px #eee,
                  -1px -1px 1px 3px #333,
                  -95px 6px 0 0 #ccc,
                  30px 3px 0 12px #ccc,
                  -18px 37px 0 46px #ccc,

                  -96px -6px 0 -6px #555,
                  -96px -9px 0 -6px #ddd,

                  -155px -10px 1px 3px #888,
                  -165px -10px 1px 3px #999,
                  -170px -10px 1px 3px #666,
                  -162px -8px 0 5px #555,

                  85px -4px 1px -3px #ccc,
                  79px -4px 1px -3px #888,
                  82px 1px 0 -4px #555

    //- circular pieces
    &:after
      width: 100px
      height: 100px
      margin-left: -20px

      top: 15px
      left: 50%
      z-index: 3

      background: linear-gradient(45deg, #ccc 40%, #ddd 100%)
      border-radius: 50%

      box-shadow: 0 3px 2px #999,
                  1px -2px 0 white,
                  -1px -3px 2px #555,
                  0 0 0 15px #c2c2c2,
                  0 -2px 0 15px white,
                  -2px -5px 1px 17px #666,
                  0 10px 10px 15px black(.3),

                  -90px -51px 1px -43px #aaa,
                  -90px -50px 1px -40px #888,
                  -90px -51px 0 -34px #ccc,
                  -90px -50px 0 -30px #aaa,
                  -90px -48px 1px -28px black(.2),

                  -124px -73px 1px -48px #eee,
                  -125px -72px 0 -46px #666,
                  -85px -73px 1px -48px #eee,
                  -86px -72px 0 -46px #666,
                  42px -82px 1px -48px #eee,
                  41px -81px 0 -46px #777,
                  67px -73px 1px -48px #eee,
                  66px -72px 0 -46px #666,


                  -46px -86px 1px -45px #444,
                  -44px -87px 0 -38px #333,
                  -44px -86px 0 -37px #ccc,
                  -44px -85px 0 -34px #999,

                  14px -89px 1px -48px #eee,
                  12px -84px 1px -48px #999,
                  23px -85px 0 -47px #444,
                  23px -87px 0 -46px #888