/*-----------------------------

Camouflage

-----------------------------*/

#camouflage
  background-color: lightyellow

  div
    font-size: 10px
    width: 25em
    height: 15em
    margin-left: -11em
    margin-top: -7em
    background-color: seagreen
    background-repeat: no-repeat
    background-image: linear-gradient(150deg, white(0)  49.5%, white(.2) 50%,
                                              white(.2) 50.5%, white(0) 51%),
                      linear-gradient(105deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.17) 49%,
                                              alpha(yellow,.17) 52%,
                                              alpha(yellow,.0) 53%),
                      linear-gradient(108deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.14) 49%,
                                              alpha(yellow,.14) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(108deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.14) 49%,
                                              alpha(yellow,.14) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(108deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.14) 49%,
                                              alpha(yellow,.14) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(108deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.14) 49%,
                                              alpha(yellow,.14) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(110deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.16) 49%,
                                              alpha(yellow,.16) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(113deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.16) 49%,
                                              alpha(yellow,.16) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(125deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.2) 49%,
                                              alpha(yellow,.2) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(to bottom, alpha(yellow, 0),
                                                 alpha(yellow, .15),
                                                 alpha(yellow, .15),
                                                 alpha(yellow, 0)),
                      linear-gradient(to bottom, alpha(yellow, 0),
                                                 alpha(yellow, .15),
                                                 alpha(yellow, .15),
                                                 alpha(yellow, 0)),
                      linear-gradient(177deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.14) 49%,
                                              alpha(yellow,.14) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(175deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.14) 49%,
                                              alpha(yellow,.14) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(175deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.14) 49%,
                                              alpha(yellow,.14) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(175deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.14) 49%,
                                              alpha(yellow,.14) 52%,
                                              alpha(yellow, 0) 53%),
                      linear-gradient(172deg, alpha(yellow, 0) 47%,
                                              alpha(yellow,.16) 49%,
                                              alpha(yellow,.16) 52%,
                                              alpha(yellow, 0) 53%),
                      repeating-linear-gradient(25deg, black(0),
                                                       black(0) .5em,
                                                       black(.03) .55em,
                                                       black(.03) .6em,
                                                       black(0) .65em),
                      repeating-linear-gradient(-45deg, black(0),
                                                        black(0) .5em,
                                                        black(.05) .55em,
                                                        black(.05) .6em,
                                                        black(0) .65em),
                      linear-gradient(150deg, alpha(yellow, 0) 45%,
                                              alpha(yellow,.17) 49%,
                                              alpha(yellow,.17) 51%,
                                              alpha(yellow, 0) 55%),
                      radial-gradient(circle at 40% 50%, alpha(yellow,.4) 0,
                                                         alpha(yellow, 0) 90%),
                      linear-gradient(45deg, alpha(lightgreen,0) 10%,
                                             alpha(lightgreen,1) 100%)
    background-size: 90% 90%,
                     4em 20%, 4em 40%, 4em 55%, 4em 55%, 4em 40%, 4em 40%, 4em 30%, 4em 20%,
                     5em .3em, 8em .3em, 12em 5em, 12em 5em, 9em 5.2em, 7em 5.2em, 5em 5.2em,
                     100% 100%, 100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%
    background-position: 0 1.5em,
                         -.4em 11em, 1.5em 7.2em, 4em 3.7em, 6.6em 2.2em, 9.5em 2.5em, 12.4em 1.2em, 15em 1em, 17.5em .8em,
                         1em 14em, 2.7em 13.1em, 4.8em 9.2em, 7.5em 7.3em, 11em 5.4em, 14em 3.7em, 17.2em 2em,
                         0 0, 0 0,
                         0 0,
                         0 0,
                         0 0
    border-radius: 15em 0
    box-shadow: inset 1.2em 0 2em alpha(saddlebrown,.2),
                inset 1em .5em 1.6em alpha(green,.3),
                inset 0 -2em 2em alpha(saddlebrown,.3)

    &:before
      box-sizing: border-box
      width: 3em
      height: 5.5em
      left: -2.8em
      bottom: -2em
      border-top-left-radius: 2em
      border-top-right-radius: 1em
      border-bottom-left-radius: 2.5em 4em
      border-bottom-right-radius: 1em
      border: .2em solid darkslategrey

    &:after
      width: 30em
      height: 20em
      left: -4.4em
      top: -1.5em
      background-repeat: no-repeat
      background-image: linear-gradient(78deg, transparent 45%,
                                                darkslategrey 46%,
                                                darkslategrey 47%,
                                                transparent 48%),
                        linear-gradient(83deg, transparent 45%,
                                                darkslategrey 46%,
                                                darkslategrey 47%,
                                                transparent 48%),
                        radial-gradient(circle, transparent 35%,
                                                darkslategrey 36%,
                                                darkslategrey 50%,
                                                transparent 51%),
                        linear-gradient(darkslategrey, darkslategrey),
                        linear-gradient(120deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 43.5%,
                                                transparent 44.3%),
                        linear-gradient(124deg, transparent 50%,
                                                darkslategrey 51%,
                                                darkslategrey 52%,
                                                transparent 52.5%),
                        linear-gradient(darkslategrey, darkslategrey),
                        linear-gradient(140deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 43%,
                                                transparent 44%),
                        linear-gradient(135deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 43%,
                                                transparent 44%),
                        linear-gradient(70deg, transparent 50%,
                                                darkslategrey 51%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(65deg, transparent 50%,
                                                darkslategrey 51%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(darkslategrey, darkslategrey),
                        linear-gradient(130deg, transparent 50%,
                                                darkslategrey 51%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(115deg, transparent 50%,
                                                darkslategrey 51%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(70deg, transparent 45%,
                                                darkslategrey 46%,
                                                darkslategrey 47%,
                                                transparent 47.8%),
                        linear-gradient(64deg, transparent 45%,
                                                darkslategrey 46%,
                                                darkslategrey 47%,
                                                transparent 47.8%),
                        linear-gradient(darkslategrey, darkslategrey),
                        linear-gradient(30deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(30deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(30deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(30deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(30deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(30deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 52%,
                                                transparent 53%),
                        linear-gradient(30deg, transparent 40%,
                                                darkslategrey 41%,
                                                darkslategrey 52%,
                                                transparent 53%)
      background-size: 7em 10em, 8em 10em,
                       2em 2em,
                       16em .2em,
                       4em 5em, 8.6em 7em, 1em .2em,
                       4.4em 5em, 4.4em 5em, 8em 6.5em, 8em 5em, 1em .2em,
                       6em 10em, 6em 11em, 6em 14em, 5.8em 11.5em, 2em .2em,
                       1em 1em, 1em 1em, 1em 1em, 1em 1em, 1em 1em, 1em 1em, 1em 1em
      background-position: -1.5em 3.7em, -.8em 4em,
                           2em 14em,
                           1.2em 17em,
                           4em 100%, 2.3em 100%, 3em 100%,
                           left 7.5em bottom 1em, left 8.3em bottom 1em, 9.5em 100%, 9.2em 100%, 14.7em 100%,
                           left 14.2em bottom 4.5em, left 15em bottom 2em, 21em 100%, 20.5em 100%, 26em 100%,
                           21.8em 40%, 22.1em 45%, 22.5em 52%, 23.2em 60%, 23.7em 68%, 24.2em 75%, 24.8em 84%
