/*-----------------------------

Cheesy

-----------------------------*/

$cheesy-w = 16em

#cheesy
  background-color: mediumseagreen
  z-index: 1

  div
    width: $cheesy-w
    height: $cheesy-w * .7727272727
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background: radial-gradient(ellipse at 50%   0%, alpha(orange,0) 57.0%, orange 57.1%) 50% 15% / 17% 10%,
                radial-gradient(ellipse at 50%  50%, alpha(orange,0) 52.0%, orange 52.1%) 51.5% 24.5% / 14% 9%,
                linear-gradient(orange, orange) 44% 25% / 3% 10%,
                radial-gradient(ellipse at 50%  50%, alpha(orange,0) 53.5%, orange 53.6%) 50% 38.9% / 17% 22%,
                radial-gradient(ellipse at 50%  50%, alpha(orange,0) 57.5%, orange 57.6%) 50% 66.5% / 16.5% 24%,
                radial-gradient(ellipse at 50%  50%, alpha(orange,0) 52.5%, orange 52.6%) 50% 80.4% / 18% 8.2%,
                radial-gradient(ellipse at 50% 100%, alpha(orange,0) 53.3%, orange 53.4%) 50% 90.2% / 18% 10%
    background-repeat: no-repeat
    overflow: hidden
    
    &::before,
    &::after
      width: $cheesy-w * .55
      height: @width
      top: $cheesy-w * .11
      background: linear-gradient(45deg, alpha(wheat,0) 49.9%,
                                         wheat 49.9% 53%,
                                         alpha(wheat,0) 53%) 0 0 / 100% 100%,
                  linear-gradient(45deg, peru 18%, alpha(peru,0) 18%) 50% 22% / 80% 3%,
                  linear-gradient(45deg, peru 41%, alpha(peru,0) 41%) 50% 42% / 80% 3%,
                  linear-gradient(45deg, peru 65%, alpha(peru,0) 65%) 50% 62% / 80% 3%,
                  linear-gradient(45deg, peru 90%, alpha(peru,0) 90%) 50% 82% / 80% 3%,
                  linear-gradient(45deg, burlywood,
                                         darken(burlywood,10) 50.1%,
                                         orange 50.1% 56.1%,
                                         wheat 56.1% 59%,
                                         alpha(wheat,0) 59%) 0 0 / 100% 100%
      background-repeat: no-repeat
      border-bottom-left-radius: 1.5em
      box-shadow: -.21em .21em 0 .2em saddlebrown
      z-index: -1

    &::before
      left: $cheesy-w * .11
      transform: rotate(45deg)

    &::after
      right: $cheesy-w * .11
      transform: rotate(-135deg)
