/*-----------------------------

Collect

-----------------------------*/

$bookwidth = 18px
$bookheight = 205px

bookcolor(color, x)
  linear-gradient(to right, color $bookwidth, transparent $bookwidth) x 50%

#collect
  background: linear-gradient(to top, black(.3), black(0) 40%) 0 50% / 100% $bookheight,
              linear-gradient(to right, black(.2) 0, black(0) 15%, white(0) 75%, white(.2) 85%, black(.2) 95%, black(.28) 95%) 0 50% / $bookwidth $bookheight,
              linear-gradient(to right, white(0) 49%, white(.6) 49%, white(.6) 51%, white(0) 51%) 0 34.5% / $bookwidth*3 4px,
              linear-gradient(to right, white(0) 47%,
                                        white(.6) 47%,
                                        white(.6) 49%,
                                        white(0) 49%,
                                        white(0) 51%,
                                        white(.6) 51%,
                                        white(.6) 53%,
                                        white(0) 52%) $bookwidth 34.5% / $bookwidth*3 4px,
              linear-gradient(to right, white(0) 47%,
                                        white(.6) 47%,
                                        white(.6) 49%,
                                        white(0) 49%,
                                        white(0) 51%,
                                        white(.6) 51%,
                                        white(.6) 53%,
                                        white(0) 52%) $bookwidth*2 34.5% / $bookwidth*3 4px,
              radial-gradient(circle at 50% 20.0%, black 2.5%, black(0) 2.7%) 0 50% / $bookwidth $bookheight,
              radial-gradient(circle at 33% 95.2%, black(.5) 0.5%, black(0) 0.55%) 0 50% / $bookwidth $bookheight,
              radial-gradient(circle at 43% 93.8%, black(.5) 0.5%, black(0) 0.55%) 0 50% / $bookwidth $bookheight,
              radial-gradient(circle at 57% 92.6%, black(.5) 0.5%, black(0) 0.55%) 0 50% / $bookwidth $bookheight,
              radial-gradient(circle at 57% 94.8%, black(.5) 0.5%, black(0) 0.55%) 0 50% / $bookwidth $bookheight,
              radial-gradient(circle at 70% 93.8%, black(.5) 0.5%, black(0) 0.55%) 0 50% / $bookwidth $bookheight,
              linear-gradient(to bottom, white 20%, white(0) 20%) 0 50% / $bookwidth $bookheight,
              linear-gradient(to right, white(.4) 2%, white(0) 2%)   7px 154px / $bookwidth*5 ($bookheight/2.4),
              linear-gradient(to right, white(.4) 2%, white(0) 2%)  25px 154px / $bookwidth*5 ($bookheight/3.5),
              linear-gradient(to right, white(.4) 2%, white(0) 2%)  43px 154px / $bookwidth*5 ($bookheight/3.7),
              linear-gradient(to right, white(.4) 2%, white(0) 2%)  61px 154px / $bookwidth*5 ($bookheight/3.2),
              linear-gradient(to right, white(.4) 2%, white(0) 2%)  79px 154px / $bookwidth*5 ($bookheight/4.8),
              linear-gradient(to right, white(.4) 10%, white(0) 10%)   7px 255px / $bookwidth ($bookheight/9),
              bookcolor(grey, 0) / $bookwidth*40 $bookheight,
              bookcolor(sienna, $bookwidth) / $bookwidth*40 $bookheight,
              bookcolor(peru, $bookwidth*2) / $bookwidth*40 $bookheight,
              bookcolor(salmon, $bookwidth*3) / $bookwidth*40 $bookheight,
              bookcolor(magenta, $bookwidth*4) / $bookwidth*40 $bookheight,
              bookcolor(plum, $bookwidth*5) / $bookwidth*40 $bookheight,
              bookcolor(fuchsia, $bookwidth*6) / $bookwidth*40 $bookheight,
              bookcolor(violet, $bookwidth*7) / $bookwidth*40 $bookheight,
              bookcolor(maroon, $bookwidth*8) / $bookwidth*40 $bookheight,
              bookcolor(mediumslateblue, $bookwidth*9) / $bookwidth*40 $bookheight,
              bookcolor(royalblue, $bookwidth*10) / $bookwidth*40 $bookheight,
              bookcolor(darken(royalblue,5), $bookwidth*11) / $bookwidth*40 $bookheight,
              bookcolor(darkblue, $bookwidth*12) / $bookwidth*40 $bookheight,
              bookcolor(dodgerblue, $bookwidth*13) / $bookwidth*40 $bookheight,
              bookcolor(deepskyblue, $bookwidth*14) / $bookwidth*40 $bookheight,
              bookcolor(mediumblue, $bookwidth*15) / $bookwidth*40 $bookheight,
              bookcolor(royalblue, $bookwidth*16) / $bookwidth*40 $bookheight,
              bookcolor(skyblue, $bookwidth*17) / $bookwidth*40 $bookheight,
              bookcolor(darken(deepskyblue,5), $bookwidth*18) / $bookwidth*40 $bookheight,
              bookcolor(deepskyblue, $bookwidth*19) / $bookwidth*40 $bookheight,
              bookcolor(lighten(deepskyblue,5), $bookwidth*20) / $bookwidth*40 $bookheight,
              bookcolor(powderblue, $bookwidth*21) / $bookwidth*40 $bookheight,
              bookcolor(turquoise, $bookwidth*22) / $bookwidth*40 $bookheight,
              bookcolor(forestgreen, $bookwidth*23) / $bookwidth*40 $bookheight,
              bookcolor(seagreen, $bookwidth*24) / $bookwidth*40 $bookheight,
              bookcolor(aquamarine, $bookwidth*25) / $bookwidth*40 $bookheight,
              bookcolor(lightgreen, $bookwidth*26) / $bookwidth*40 $bookheight,
              bookcolor(greenyellow, $bookwidth*27) / $bookwidth*40 $bookheight,
              bookcolor(lighten(mediumseagreen,5), $bookwidth*28) / $bookwidth*40 $bookheight,
              bookcolor(limegreen, $bookwidth*29) / $bookwidth*40 $bookheight,
              bookcolor(orange, $bookwidth*30) / $bookwidth*40 $bookheight,
              bookcolor(gold, $bookwidth*31) / $bookwidth*40 $bookheight,
              bookcolor(darken(orange,5), $bookwidth*32) / $bookwidth*40 $bookheight,
              bookcolor(darkorange, $bookwidth*33) / $bookwidth*40 $bookheight,
              bookcolor(darken(gold,5), $bookwidth*34) / $bookwidth*40 $bookheight,
              bookcolor(tomato, $bookwidth*35) / $bookwidth*40 $bookheight,
              bookcolor(firebrick, $bookwidth*36) / $bookwidth*40 $bookheight,
              bookcolor(mediumvioletred, $bookwidth*37) / $bookwidth*40 $bookheight,
              bookcolor(orangered, $bookwidth*38) / $bookwidth*40 $bookheight,
              bookcolor(crimson, $bookwidth*39) / $bookwidth*40 $bookheight,
              bookcolor(lighten(crimson,5), $bookwidth*40) / $bookwidth*40 $bookheight,
              linear-gradient(to bottom, white(.3), white(0) 20%) 50% 82% / 100% 32px,
              linear-gradient(to bottom, peru, sienna) 50% 82% / 100% 32px,
              linear-gradient(black(0), black(.1)) 50% 20% / 100% 32px,
              linear-gradient(black(.15), black(0)) 50% 90% / 100% 32px
  background-color: saddlebrown
  background-repeat: repeat-x
