/*-----------------------------

Captain America

-----------------------------*/

#cpt-america
  background: #899d4e

  div
    width: 250px
    height: 250px
    margin-left: -(@width/2)
    margin-top: -140px

    z-index: 1

    background: linear-gradient(45deg,
                                        white(0) 35%,
                                        white(.4) 50%,
                                        white(0) 65%),
                linear-gradient(-45deg,
                                        white(0) 35%,
                                        white(.4) 50%,
                                        white(0) 65%),
                linear-gradient(to right,
                                        black(0) 35%,
                                        black(.2) 50%,
                                        black(0) 65%),
                linear-gradient(to bottom,
                                        black(0) 35%,
                                        black(.2) 50%,
                                        black(0) 65%),
                radial-gradient(ellipse at center,
                                                    #0033b0 20%,
                                                    #ce0021 20%,
                                                    #ce0021 35%,
                                                    #bbb 35%,
                                                    #bbb 55%,
                                                    #ce0021 55%)

    border-radius: 50%

    box-shadow: 0 3px 0 #a20917


    &:before
      width: 70px
      height: 70px
      margin-left: -(@width/2)
      margin-top: -35px

      top: 50%
      left: 50%
      z-index: 2

      background: rgba(0,80,170,.5)
      border-radius: 50%

      content: '★'
      font-size: 70px
      color: #ddd
      line-height: 65px

      text-shadow: -1px 1px 0 #3e92ff,
                   1px -1px 0 #1e436d


    &:after
      width: 200px
      height: 30px
      margin-left: -(@width/2)

      top: 215px
      left: 50%

      border-radius: 50%

      box-shadow: 0 50px 20px black(.15)

