/*-----------------------------

Crait

-----------------------------*/

#crait
  background: mintcream

  div
    width: 10px
    height: 5px
    left: 40%
    margin-top: 70px
    background: firebrick
    border-radius: 5px 5px 0 0
    box-shadow: 7px 0 0 0 firebrick,
                14px 0 0 0 firebrick,
                23px -1px 0 1px firebrick,
                34px -2px 0 2px firebrick,
                46px -3px 0 3px firebrick,
                60px -4px 0 4px firebrick,
                75px -5px 0 5px firebrick,
                95px -7px 0 7px firebrick,
                120px -10px 0 10px firebrick,
                152px -20px 0 20px firebrick,
                200px -30px 0 30px firebrick,
                240px -25px 0 25px firebrick,
                280px -15px 0 15px firebrick,
                300px -5px 0 5px firebrick,
                -98px -7px 0 -2px lightcoral,
                -92px -8px 0 -1px lightcoral,
                -84px -9px 0 0 lightcoral,
                -75px -9px 0 0 lightcoral,
                -65px -10px 0 1px lightcoral,
                -53px -11px 0 2px lightcoral,
                -38px -13px 0 4px lightcoral,
                -18px -16px 0 7px lightcoral,
                7px -18px 0 9px lightcoral,
                38px -24px 0 15px lightcoral,
                77px -33px 0 23px lightcoral,
                120px -27px 0 18px lightcoral

    &:before
      width: 80px
      height: 60px
      margin-left: -53px
      margin-top: -55px
      background: no-repeat
      background-image: radial-gradient(ellipse at center top, #222 50%, transparent 50%),
                        radial-gradient(ellipse at center bottom, #222 50%, transparent 50%),
                        radial-gradient(ellipse at center bottom, #222 50%, transparent 50%),
                        radial-gradient(ellipse at center top, transparent 40%,
                                                               #222 40%,
                                                               #222 50%,
                                                               transparent 50%),
                        radial-gradient(ellipse at center center, transparent 40%,
                                                               #222 40%,
                                                               #222 50%,
                                                               transparent 50%),
                        linear-gradient(to right, #222, #222),
                        linear-gradient(to right, #222, #222),
                        linear-gradient(to right, #222, #222),
                        linear-gradient(to right, #222, #222),
                        linear-gradient(to right, #222, #222),
                        linear-gradient(60deg, transparent 28%,
                                               #222 28%,
                                               #222 35%,
                                               transparent 35%,
                                               transparent 37%,
                                               #222 37%,
                                               #222 42%,
                                               transparent 42%)
      background-size: 65px 17px,
                       45px 22px,
                       25px 10px,
                       45px 10px,
                       45px 10px,
                       20px 2px,
                       20px 3px,
                       4px 5px,
                       15px 6px,
                       16px 8px,
                       20px 30px
      background-position: 0 65%,
                           60% 19%,
                           30% 35%,
                           40% 72%,
                           60% 60%,
                           0 49%,
                           80% 47%,
                           84% 43%,
                           98% 34%,
                           100% 52%,
                           70% 100%

    &:after
      width: 80px
      height: 60px
      margin-left: -143px
      margin-top: -55px
      background: no-repeat
      background-image: radial-gradient(ellipse at center top, #555 50%, transparent 50%),
                        radial-gradient(ellipse at center bottom, #555 50%, transparent 50%),
                        radial-gradient(ellipse at center bottom, #555 50%, transparent 50%),
                        radial-gradient(ellipse at center top, transparent 40%,
                                                               #555 40%,
                                                               #555 50%,
                                                               transparent 50%),
                        radial-gradient(ellipse at center center, transparent 40%,
                                                               #555 40%,
                                                               #555 50%,
                                                               transparent 50%),
                        linear-gradient(to right, #555, #555),
                        linear-gradient(to right, #555, #555),
                        linear-gradient(to right, #555, #555),
                        linear-gradient(to right, #555, #555),
                        linear-gradient(to right, #555, #555),
                        linear-gradient(63deg, transparent 28%,
                                               #555 28%,
                                               #555 35%,
                                               transparent 35%,
                                               transparent 37%,
                                               #555 37%,
                                               #555 42%,
                                               transparent 42%)
      background-size: 65px 17px,
                       45px 22px,
                       25px 10px,
                       45px 10px,
                       45px 10px,
                       20px 3px,
                       20px 4px,
                       4px 5px,
                       15px 6px,
                       16px 8px,
                       20px 30px
      background-position: 0 65%,
                           60% 19%,
                           26% 35%,
                           42% 72%,
                           60% 60%,
                           3px 49%,
                           80% 47%,
                           84% 48%,
                           98% 38%,
                           100% 56%,
                           70% 100%
      transform: scale(.7)
