/*-----------------------------

Discontinued

-----------------------------*/

#discontinued
  background-color: beige

  div
    width: 9em
    height: 17em
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background: linear-gradient(to bottom, black .6%,
                                           black(0) .6% 99.3%,
                                           black 99.3%) 100% 100% / 100% 88.9%,
                linear-gradient(black, black) 8.2% 17% / 52% 20.5%,
                linear-gradient(to top, black 2.2%, black(0) 2.2%) 0 14.8% / 60% 25%,
                linear-gradient( to right, black 1.9%,
                                           beige 1.9% 98.1%,
                                           black 98.1%) 0 14.8% / 60% 25%,
                linear-gradient(black, black) 31.4% 69.8% / 50.98% 34.5%,
                linear-gradient(60deg, black(0) 18%,
                                       dodgerblue 18.1% 57%,
                                       black(0) 57.1%) 0 42% / 100% 6.5%,
                linear-gradient(60deg, black(0) 13.9%,
                                       black 14% 60.7%,
                                       black(0) 60.8%) 0 41% / 100% 8.5%,
                linear-gradient(60deg, black(0) 9.7%,
                                       black 9.8% 10.8%,
                                       beige 10.9% 62.8%,
                                       black 62.9% 63.9%,
                                       black(0) 64%) 0 40% / 100% 10%,
                linear-gradient(to bottom, black 5%, black(0) 5%) 0 100% / 60% 10%,
                linear-gradient( to right, black 1.8%,
                                           beige 1.8% 98.1%,
                                           black 98.1%) 0 100% / 60% 10%,
                linear-gradient(120deg, black(0) 24%,
                                        mediumpurple 24.1% 45%,
                                        black(0) 45.1%) 0 87% / 100% 1%,
                linear-gradient(120deg, black(0) 18%,
                                        mediumpurple 18.1% 59%,
                                        black(0) 59.1%) 0 84% / 100% 4%,
                linear-gradient(120deg, black(0) 13.9%,
                                        black 14% 60.7%,
                                        black(0) 60.8%) 0 87.5% / 100% 8.5%,
                linear-gradient(120deg, black(0) 9.7%,
                                        black 9.8% 10.8%,
                                        beige 10.9% 62.9%,
                                        black 63% 63.9%,
                                        black(0) 64%) 0 89% / 100% 10%,
                linear-gradient(to right, black 1.9%,
                                          beige 1.9% 98.1%,
                                          black 98.1%) 27% 69.8% / 60% 34.4%,
                linear-gradient(to left, black 1.9%, gold 1.9%) 100% 100% / 60% 88.9%,
                conic-gradient(at 50% 0, black(0) 155deg,
                                         black    156deg 205deg,
                                         black(0) 206deg) 50% 0 / 100% 30%
    background-repeat: no-repeat

    &::before
      width: 27%
      height: 14%
      left: 16.5%
      top: 16.5%
      background: radial-gradient(circle, black 50%, black(0) 51%) 20% 35%,
                  radial-gradient(circle, black 50%, black(0) 51%) 40% 35%,
                  radial-gradient(circle, black 50%, black(0) 51%) 60% 35%,
                  radial-gradient(circle, black 50%, black(0) 51%) 80% 35%,
                  radial-gradient(circle, black 50%, black(0) 51%) 30% 50%,
                  radial-gradient(circle, black 50%, black(0) 51%) 50% 50%,
                  radial-gradient(circle, black 50%, black(0) 51%) 70% 50%,
                  radial-gradient(circle, black 50%, black(0) 51%) 20% 65%,
                  radial-gradient(circle, black 50%, black(0) 51%) 40% 65%,
                  radial-gradient(circle, black 50%, black(0) 51%) 60% 65%,
                  radial-gradient(circle, black 50%, black(0) 51%) 80% 65%
      background-repeat: no-repeat
      background-size: .2em .2em
      background-color: mediumpurple
      border-radius: .9em
      box-shadow: -.7em 0 0 mediumpurple,
                   .7em 0 0 mediumpurple,
                  -.45em 4.6em 0 -.78em beige,
                  -.45em 4.6em 0 -.68em black,
                  -.45em 4.8em 0 -.78em gold,
                   .90em 4.6em 0 -.78em beige,
                   .90em 4.6em 0 -.68em black,
                   .90em 4.8em 0 -.78em gold,
                  2.25em 4.6em 0 -.78em beige,
                  2.25em 4.6em 0 -.68em black,
                  2.25em 4.8em 0 -.78em gold,
                  -.45em 5.9em 0 -.78em beige,
                  -.45em 5.9em 0 -.68em black,
                  -.45em 6.1em 0 -.78em gold,
                   .90em 5.9em 0 -.78em beige,
                   .90em 5.9em 0 -.68em black,
                   .90em 6.1em 0 -.78em gold,
                  2.25em 5.9em 0 -.78em beige,
                  2.25em 5.9em 0 -.68em black,
                  2.25em 6.1em 0 -.78em gold,
                  -.45em 7.2em 0 -.78em beige,
                  -.45em 7.2em 0 -.68em black,
                  -.45em 7.4em 0 -.78em gold,
                   .90em 7.2em 0 -.78em beige,
                   .90em 7.2em 0 -.68em black,
                   .90em 7.4em 0 -.78em gold,
                  2.25em 7.2em 0 -.78em beige,
                  2.25em 7.2em 0 -.68em black,
                  2.25em 7.4em 0 -.78em gold,
                  -.45em 8.5em 0 -.78em darkorange,
                  -.45em 8.5em 0 -.68em black,
                  -.45em 8.7em 0 -.78em crimson,
                   .90em 8.5em 0 -.78em beige,
                   .90em 8.5em 0 -.68em black,
                   .90em 8.7em 0 -.78em gold,
                  2.25em 8.5em 0 -.78em darkorange,
                  2.25em 8.5em 0 -.68em black,
                  2.25em 8.7em 0 -.78em crimson

    &::after
      width: 10%
      height: 15%
      left: 45%
      top: -6%
      border-radius: 1em 1em 0 0
      background-color: black
