/*-----------------------------

Dragon

-----------------------------*/

#dragon
  background: forestgreen

  // red dragon
  div
    width: 120px
    height: 160px
    margin-left: -(@width/2)
    margin-top: -(@height/2 + 20)
    background-color: white
    background-repeat: no-repeat
    background-image: linear-gradient( 75deg, white 50%, transparent 50%),
                      linear-gradient(-30deg, white 40%, transparent 40%),
                      linear-gradient( 30deg, firebrick   50%, transparent 50%),
                      linear-gradient(-20deg, transparent 30%,
                                              firebrick   30%, firebrick 53%,
                                              transparent 53%),
                      linear-gradient( 20deg, transparent 30%, white 30%),
                      linear-gradient( 68deg, transparent 30%,
                                              firebrick   30%, firebrick 70%,
                                              transparent 70%),
                      linear-gradient(-10deg, transparent 30%,
                                              firebrick   30%, firebrick 53%,
                                              transparent 53%),
                      radial-gradient(circle at bottom left, transparent 50%, white 50%),
                      linear-gradient(-10deg, transparent 30%,
                                              firebrick   30%, firebrick 53%,
                                              transparent 53%),
                      linear-gradient(110deg, white 50%, transparent 50%),
                      linear-gradient(-60deg, transparent 30%,
                                              firebrick   30%, firebrick 70%,
                                              transparent 70%),
                      linear-gradient( 80deg, white 50%, transparent 50%),
                      linear-gradient(-85deg, white 50%, transparent 50%),
                      linear-gradient(to right, firebrick, firebrick)
    background-size: 20px 20px,
                     20px 20px,
                     20px 20px,
                     25px 20px,
                     10px 10px,
                     16px 30px,
                     25px 20px,
                     15px 15px,
                     32px 20px,
                     10px 15px,
                     16px 30px,
                     20px 40px,
                     20px 40px,
                     10px 100px
    background-position: 42% 15%,
                         65% 16%,
                         50% 15%,
                         42% 31%,
                         32% 30%,
                         34% 40%,
                         51% 44%,
                         75% 29%,
                         64% 28%,
                         64.5% 38%,
                         70% 37%,
                         46% 81%,
                         53% 81%,
                         50% 56%
    border-radius: 7px
    box-shadow: 0 15px 5px black(.05),
                0 30px 0 #eee,
                0 35px 5px black(.05),
                0 40px 0 mediumspringgreen,
                0 45px 0 black(.1)

    @media (max-width: 450px)
      -webkit-transform: scale(.7)
      transform: scale(.7)

    &:before,
    &:after
      width: 120px
      height: 160px
      background-color: white
      background-repeat: no-repeat
      border-radius: 7px
      box-shadow: 0 15px 5px black(.05),
                  0 30px 0 #eee,
                  0 35px 5px black(.05),
                  0 40px 0 mediumspringgreen,
                  0 45px 0 black(.1)

    // white dragon
    &:before
      left: -140px
      background-image: linear-gradient(to right,  midnightblue  7%, transparent   7%,
                                                   transparent  93%, midnightblue 93%),
                        linear-gradient(to bottom, midnightblue  5%, transparent   5%,
                                                   transparent  95%, midnightblue 95%),
                        linear-gradient(to right,  midnightblue  7%, transparent   7%,
                                                   transparent  93%, midnightblue 93%),
                        linear-gradient(to bottom, midnightblue  5%, transparent   5%,
                                                   transparent  95%, midnightblue 95%),
                        linear-gradient(-45deg, transparent  10%,
                                                midnightblue 10%, midnightblue 13%,
                                                transparent  13%, transparent  87%,
                                                midnightblue 87%, midnightblue 90%,
                                                transparent  90%),
                        linear-gradient( 45deg, transparent  10%,
                                                midnightblue 10%, midnightblue 13%,
                                                transparent  13%, transparent  87%,
                                                midnightblue 87%, midnightblue 90%,
                                                transparent  90%)
      background-size: 70% 75%,
                       70% 75%,
                       52% 62%,
                       52% 62%,
                       52% 62%,
                       52% 62%
      background-position: center center

    // green dragon
    &:after
      right: -140px
      background-image:  linear-gradient(-30deg, darkgreen 40%, transparent 40%), // top left
                         linear-gradient(-30deg, darkgreen 40%, transparent 40%),
                         linear-gradient(110deg, white 50%, transparent 50%),
                         linear-gradient(120deg, transparent 45%,
                                                 darkgreen   45%, darkgreen 57%,
                                                 transparent 57%),
                         linear-gradient( 55deg, transparent 35%, darkgreen   35%, // top right
                                                 darkgreen   50%, transparent 50%),
                         linear-gradient(-45deg, transparent 30%, darkgreen   30%,
                                                 darkgreen   50%, transparent 50%),
                         linear-gradient(-30deg, white       40%, transparent 40%),
                         linear-gradient(-45deg, transparent 30%, darkgreen   30%,
                                                 darkgreen   50%, transparent 50%),
                         linear-gradient( 50deg, transparent 40%, white 40%),
                         linear-gradient( 60deg, transparent 40%, darkgreen   40%,
                                                 darkgreen   60%, transparent 60%),
                         linear-gradient(-22deg, transparent 20%, darkgreen   20%,  // middle left
                                                 darkgreen   45%, transparent 45%),
                         linear-gradient(-20deg, transparent 20%, darkgreen   20%,
                                                 darkgreen   45%, transparent 45%),
                         radial-gradient(circle at bottom left, transparent 50%, white 50%),
                         linear-gradient(-16deg, transparent 10%, darkgreen   10%,
                                                 darkgreen   35%, transparent 35%),
                         linear-gradient(110deg, transparent 25%, darkgreen   25%,
                                                 darkgreen   50%, transparent 50%),
                         linear-gradient( 60deg, white       50%, transparent 50%),
                         linear-gradient( 45deg, darkgreen   60%, transparent 60%),
                         linear-gradient( 90deg, darkgreen, darkgreen), // middle right
                         linear-gradient(100deg, transparent 10%, darkgreen   10%,
                                                 darkgreen   30%, transparent 30%),
                         linear-gradient( 20deg, darkgreen   30%, transparent 30%),
                         linear-gradient(100deg, transparent  5%, darkgreen    5%,
                                                 darkgreen   27%, transparent 27%),
                         linear-gradient( 45deg, darkgreen   66%, transparent 66%),
                         linear-gradient(-35deg, white       35%, transparent 35%), 
                         linear-gradient(-48deg, transparent 40%, darkgreen   40%,
                                                 darkgreen   60%, transparent 60%),
                         linear-gradient( 30deg, transparent 30%, white       30%),
                         linear-gradient( 40deg, transparent 40%, darkgreen   40%,
                                                 darkgreen   60%, transparent 60%)


      background-size: 15px 15px, // top left
                       12px 20px,
                       30px 40px,
                       40px 50px,
                       20px 20px, // top right
                       20px 20px,
                       20px 10px,
                       30px 20px,
                       50px 50px,
                       50px 40px,
                       18px 20px, // middle left
                       18px 20px,
                       10px 10px,
                       22px 20px,
                       20px 25px,
                       20px 20px,
                       20px 20px,
                       7px 5px, // middle right
                       20px 18px,
                       10px 20px,
                       20px 20px,
                       35px 6px,
                       20px 20px,
                       30px 30px,
                       30px 35px,
                       30px 30px

      background-position: 36% 25%, // top left
                           25% 37%,
                           15% 50%,
                           17% 45%,
                           67% 28%, // top right
                           51% 28%,
                           48% 41%,
                           51% 36%,
                           83% 35%,
                           79% 43%,
                           37% 45%, // middle left
                           35% 51%,
                           43% 56%,
                           33% 54%,
                           39% 69%,
                           23% 72%,
                           25% 72%,
                           56% 47%, // middle right
                           67% 51%,
                           63% 51%,
                           58% 52%,
                           62% 61%,
                           47% 77%,
                           54% 75%,
                           62% 65%,
                           58% 72%
