/*-----------------------------

Feast

-----------------------------*/

feast(color, frosting1, frosting2, x, y)
  conic-gradient(at 50% 95%, transparent 137deg,
                             frosting2 138deg 222deg,
                             transparent 223deg) x (y - 9.2em)\,
  radial-gradient(ellipse at 50% 50%, frosting2 3.7%, alpha(frosting2,0) 3.8%) x (y - 1.5em)\,
  conic-gradient(at 50% 95%, transparent 137deg,
                             frosting1 138deg 222deg,
                             transparent 223deg) (x - 2.4em) (y - 8.1em)\,
  radial-gradient(ellipse at 50% 50%, frosting1 3.7%, alpha(frosting1,0) 3.8%) (x - 2.4em) (y - .4em)\,
  conic-gradient(at 50% 95%, transparent 133deg,
                             frosting1 134deg 227deg,
                             transparent 228deg) x (y - 7.45em)\,
  radial-gradient(ellipse at 50% 50%, frosting1 4.4%, alpha(frosting1,0) 4.5%) x (y + 0.3em)\,
  conic-gradient(at 50% 95%, transparent 137deg,
                             frosting1 138deg 222deg,
                             transparent 223deg) (x + 2.4em) (y - 8.1em)\,
  radial-gradient(ellipse at 50% 50%, frosting1 3.7%, alpha(frosting1,0) 3.8%) (x + 2.4em) (y - .4em)\,
  conic-gradient(at 50% 95%, transparent 144deg,
                             frosting1 145deg 215deg,
                             transparent 216deg) (x - 1.8em) (y - 9.35em)\,
  radial-gradient(ellipse at 50% 50%, frosting1 2.5%, alpha(frosting1,0) 2.6%) (x - 1.8em) (y - 1.8em)\,
  conic-gradient(at 50% 95%, transparent 144deg,
                             frosting1 145deg 215deg,
                             transparent 216deg) (x + 1.8em) (y - 9.35em)\,
  radial-gradient(ellipse at 50% 50%, frosting1 2.5%, alpha(frosting1,0) 2.6%) (x + 1.8em) (y - 1.8em)\,
  radial-gradient(ellipse at 50% 128%, color 23%, alpha(color,0) 23.2%) x (y - 7.9em)\,
  radial-gradient(circle at 50% 50%, burlywood 3%, alpha(burlywood,0) 3.1%) (x + 0.0em) (y + 2.10em)\,
  radial-gradient(circle at 50% 50%, burlywood 3%, alpha(burlywood,0) 3.1%) (x + 0.8em) (y + 2.05em)\,
  radial-gradient(circle at 50% 50%, burlywood 3%, alpha(burlywood,0) 3.1%) (x - 0.8em) (y + 2.05em)\,
  radial-gradient(circle at 50% 50%, burlywood 3%, alpha(burlywood,0) 3.1%) (x + 1.7em) (y + 1.95em)\,
  radial-gradient(circle at 50% 50%, burlywood 3%, alpha(burlywood,0) 3.1%) (x - 1.7em) (y + 1.95em)\,
  radial-gradient(circle at 50% 50%, burlywood 3%, alpha(burlywood,0) 3.1%) (x + 2.5em) (y + 1.75em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,2)  3%, alpha(burlywood,0) 3.1%) (x - 2.5em) (y + 1.75em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,2)  3%, alpha(burlywood,0) 3.1%) (x + 3.3em) (y + 1.40em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,2)  3%, alpha(burlywood,0) 3.1%) (x - 3.3em) (y + 1.40em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,2)  3%, alpha(burlywood,0) 3.1%) (x + 4.0em) (y + 0.90em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,5)  3%, alpha(burlywood,0) 3.1%) (x - 4.0em) (y + 0.90em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,5)  3%, alpha(burlywood,0) 3.1%) (x + 4.5em) (y + 0.15em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,5)  3%, alpha(burlywood,0) 3.1%) (x - 4.5em) (y + 0.15em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,5)  3%, alpha(burlywood,0) 3.1%) (x + 4.3em) (y - 0.70em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,5)  3%, alpha(burlywood,0) 3.1%) (x - 4.3em) (y - 0.70em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,10) 3%, alpha(burlywood,0) 3.1%) (x + 3.6em) (y - 1.30em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,10) 3%, alpha(burlywood,0) 3.1%) (x - 3.6em) (y - 1.30em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,10) 3%, alpha(burlywood,0) 3.1%) (x + 2.8em) (y - 1.70em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,10) 3%, alpha(burlywood,0) 3.1%) (x - 2.8em) (y - 1.70em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,14) 3%, alpha(burlywood,0) 3.1%) (x + 1.9em) (y - 1.95em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,14) 3%, alpha(burlywood,0) 3.1%) (x - 1.9em) (y - 1.95em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,14) 3%, alpha(burlywood,0) 3.1%) (x + 1.0em) (y - 2.10em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,14) 3%, alpha(burlywood,0) 3.1%) (x - 1.0em) (y - 2.10em)\,
  radial-gradient(circle at 50% 50%, darken(burlywood,14) 3%, alpha(burlywood,0) 3.1%) (x + 0.0em) (y - 2.20em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x + 0.0em) (y + 1.8em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x + 0.8em) (y + 1.75em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x - 0.8em) (y + 1.75em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x + 1.7em) (y + 1.65em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x - 1.7em) (y + 1.65em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x + 2.5em) (y + 1.45em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x - 2.5em) (y + 1.45em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x + 3.3em) (y + 1.10em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x - 3.3em) (y + 1.10em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x + 4.0em) (y + 0.60em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x - 4.0em) (y + 0.60em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x + 4.2em) (y - 0.25em)\,
  radial-gradient(circle at 50% 50%, darken(color,5) 3%, alpha(color,0) 3.1%) (x - 4.2em) (y - 0.25em)\,
  radial-gradient(ellipse at 50% 50%, color 22%, alpha(color,0) 22.2%) x y\,
  radial-gradient(ellipse at 50%  50%, #999 22%, alpha(color,0) 22.2%) x (y + .5em)\,
  radial-gradient(ellipse at 50% -30%, #777 22%, alpha(color,0) 22.2%) x (y + 9.7em)\,
  radial-gradient(ellipse at 50% 50%, black(.15) 11%, black(0) 11.2%) x (y + 3.2em)\,
  radial-gradient(ellipse at 50% 50%, black(.05) 20%, black(0) 20.2%) x (y + 3.6em)

#feast
  background-color: saddlebrown

  div
    width: 30em
    height: 22em
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background: feast(#555, deepskyblue, crimson, 0, 7.2em),
                feast(mediumseagreen, khaki, crimson, 7em, 2.5em),
                feast(deepskyblue, crimson, khaki, -7em, 2.5em),
                feast(crimson, deepskyblue, mediumseagreen, 0, -2.5em)
    background-size: 30em 15em
    background-repeat: no-repeat
