/*-----------------------------

Film

-----------------------------*/

#film
  background-color: black

  div
    box-sizing: border-box
    font-size: 10px
    width: 34em
    height: 5em
    margin-left: -(@width/2)
    margin-top: 2em
      
    &:before,
    &:after
      width: 100%
      height: 100%
      background-repeat: no-repeat

    &:before
      top: -5.5em
      left: 1.2em
      background-image: repeating-linear-gradient(to right, white,
                                                            white 2em,
                                                            white(0) 2em,
                                                            white(0) 4em),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent)
      background-size: 100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%
      background-position: 0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0
      transform: rotate(0deg) skew(25deg)
      animation: -2s filmclap 8s infinite linear, -2s filmclapbg1 8s infinite steps(1)
      transform-origin: bottom left

    &:after
      background-image: repeating-linear-gradient(to right, white,
                                                            white 2em,
                                                            white(0) 2em,
                                                            white(0) 4em),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent),
                        linear-gradient(transparent,transparent)
      background-size: 100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%,
                       100% 100%, 100% 100%
      background-position: 0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0,
                           0 0, 0 0
      transform: skew(-25deg)
      animation: -2s filmclapbg2 8s infinite steps(1) both

@keyframes filmclap
  0%, 45%
    transform: rotate(0deg) skew(25deg)
  50%, 51%
    transform: rotate(-32deg) skew(25deg)
  52%, 93%
    transform: rotate(0deg) skew(25deg)
  98%, 99%
    transform: rotate(-32deg) skew(25deg)
  100%
    transform: rotate(0deg) skew(25deg)

@keyframes filmclapbg1
  0%, 51.999999%
    background-image: repeating-linear-gradient(to right, white,
                                                          white 2em,
                                                          white(0) 2em,
                                                          white(0) 4em)
  52%, 100%
    background-image: linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient( 110deg, white(0) 26%, white 27%,
                                               white 65%, white(0) 66%),
                      linear-gradient(-110deg, white(0) 26%, white 27%,
                                               white 65%, white(0) 66%),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      repeating-linear-gradient(to right, white,
                                                          white 2em,
                                                          white(0) 2em,
                                                          white(0) 4em)
    background-size: 3.1em 1.2em, 1.5em 100%,
                     1.5em 100%, 1.5em 70%, 1.5em 70%, 1.5em 100%,
                     4.8em 1.2em, 1.5em 100%,
                     1.5em 100%, 3em 1.5em, 1.5em 100%,
                     12em 100%
    background-position: 100% 100%, 29.5em 0,
                         27.3em 0, 25.9em 0, 24.7em 0, 23.4em 0,
                         17.8em 0, 19.4em 0,
                         12em 0, 13em 50%, 15.5em 0,
                         0 0

@keyframes filmclapbg2
  0%, 51.999999%
    background-image: repeating-linear-gradient(to right, white,
                                                          white 2em,
                                                          white(0) 2em,
                                                          white(0) 4em)
  52%, 100%
    background-image: linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(white, white),
                      repeating-linear-gradient(to right, white,
                                                          white 2em,
                                                          white(0) 2em,
                                                          white(0) 4em)
    background-size: 4em 1.2em, 4em 1em, 4em 1.2em, 1.5em 50%, 1.5em 50%,
                     4em 1.2em, 4em 1em, 4em 1.2em, 1.5em 50%, 1.5em 50%,
                     4em 1.2em, 1.5em 100%, 4em 1.2em,
                     20em 100%
    background-position: 100% 0, 100% 50%, 100% 100%, 30em 0, 100% 100%,
                         25em 0, 25em 50%, 25em 100%, 25em 0, 27.5em 100%,
                         20em 0, 20em 0, 20em 100%,
                         0 0
