/*-----------------------------

Frail

-----------------------------*/

#frail
  background: #291E3A

  div
    width: 180px
    height: 200px
    margin-left: -(@width/2)
    top: auto
    bottom: 0
    @media (max-width: 400px)
      bottom: -20px
    background-repeat: no-repeat
    border-radius: 40px 40px 0 0
    background-color: #514168
    background-repeat: no-repeat
    background-image: linear-gradient(-84deg, black(.15) 40%, black(0) 40%),
                      radial-gradient(ellipse, #1A1226 50%, transparent 50%)
    background-size: 20px 90%,
                     40% 60%
    background-position: 75% 100%,
                         -6% 150%
    box-shadow: inset 50px 20px black(.15),
                inset -10px 10px black(.1)

    &:before
      width: 120px
      height: 120px
      left: 50%
      margin-left: -(@width/2)
      top: -70px
      background-color: #1A1226
      border-top-right-radius: 20px
      border-top-left-radius: 20px
      border-bottom-left-radius: 100px
      border-bottom-right-radius: 20px
      box-shadow: -12px 12px 0 -7px black(.2),
                  inset -10px 0 0 black(.15),
                  inset 25px 25px 0 #514168,
                  inset -25px -25px 0 #514168
      transform: rotate(-45deg)

    &:after
      width: 200px
      height: 350px
      left: 12px
      bottom: 0
      background-repeat: no-repeat
      background-image: repeating-linear-gradient(to bottom, white, white 5px,
                                                                    transparent 5px,
                                                                    transparent 10px),
                        repeating-linear-gradient(to bottom, white, white 5px,
                                                                    transparent 5px,
                                                                    transparent 10px),
                        repeating-linear-gradient(to bottom, white, white 5px,
                                                                    transparent 5px,
                                                                    transparent 10px),
                        linear-gradient(to right, white, white),
                        linear-gradient(to left, saddlebrown 50%, darken(saddlebrown,10) 50%)
      background-size: 6px 35px,
                       12px 35px,
                       9px 35px,
                       3px 12px,
                       15px 100%
      background-position: left 0 bottom 30px,
                           left 8px bottom 30px,
                           left 22px bottom 30px,
                           left 2px bottom 69px,
                           5px 0
      border-top-right-radius: 120px
      box-shadow: inset 0 15px 0 white(.5),
                  inset 0 30px 0 silver
