/*-----------------------------

Hidden

-----------------------------*/

#hidden
  font-size: 10px
  background-color: white
  background-image: radial-gradient(circle at 50% 55%, black    6%,
                                                       black(0) 7%),
                    radial-gradient(circle at 50% 56%, #ddd     15%,
                                                       white(0) 16%),
                    radial-gradient(ellipse at 50% 100%, alpha(silver,0)    55%,
                                                         silver   56%,
                                                         silver   60%,
                                                         alpha(silver,0) 61%)
  background-size: 10em 10em
  background-position: 0 0
  
  &:before,
  &:after
    content: ''
    position: absolute
  
  &:before
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-image: radial-gradient(circle at 11% 91%, black    2%,
                                                         black(0) 3%),
                      radial-gradient(circle at 25% 79%, white    6%,
                                                         white(0) 7%),
                      radial-gradient(circle at   0  105%, #ddd     7%,
                                                           white(0) 8%),
                      radial-gradient(circle at 100% 105%, #ddd     7%,
                                                           white(0) 8%),
                      radial-gradient(ellipse at 0 100%, white    21%,
                                                         silver   22%,
                                                         silver   24%,
                                                         alpha(silver,0) 25%),
                      radial-gradient(circle at 25% 79%, silver   11%,
                                                         alpha(silver,0) 12%),
                      radial-gradient(circle at 89% 91%, black    2%,
                                                         black(0) 3%),
                      radial-gradient(circle at 75% 79%, white    6%,
                                                         white(0) 7%),
                      radial-gradient(ellipse at 100% 100%, white  21%,
                                                            silver 22%,
                                                            silver 24%,
                                                            alpha(silver,0) 25%),
                      radial-gradient(circle at 75% 79%, silver 11%,
                                                         alpha(silver,0) 12%),
                      radial-gradient(circle at 28% 28%, white    6%,
                                                         white(0) 7%),
                      radial-gradient(circle at 72% 28%, white    6%,
                                                         white(0) 7%),
                      radial-gradient(circle at 40% 42%, black    3%,
                                                         black(0) 4%),
                      radial-gradient(circle at 60% 42%, black    3%,
                                                         black(0) 4%),
                      radial-gradient(circle at 50% 54%, black    6%,
                                                         black(0) 7%),
                      radial-gradient(circle at 50% 56%, #ddd     15%,
                                                         white(0) 16%),
                      radial-gradient(ellipse at 50% 100%, white  55%,
                                                           silver 56%,
                                                           silver 60%,
                                                           alpha(silver,0) 61%),
                      radial-gradient(circle at 28% 28%, silver 11%,
                                                         alpha(silver,0) 12%),
                      radial-gradient(circle at 72% 28%, silver 11%,
                                                         alpha(silver,0) 12%)
    background-size: 10em 10em
    background-position: 5em 5em
  
  &:after
    width: 10em
    height: 10em
    left 15em
    top: 15em
    background-repeat: no-repeat
    background-image: radial-gradient(circle at 11% 91%, black    2%,
                                                         black(0) 3%),
                      radial-gradient(circle at 25% 79%, white    6%,
                                                         white(0) 7%),
                      radial-gradient(circle at   0  105%, #ddd     7%,
                                                           white(0) 8%),
                      radial-gradient(circle at 100% 105%, #ddd     7%,
                                                           white(0) 8%),
                      radial-gradient(ellipse at 0 100%, white  21%,
                                                         silver 22%,
                                                         silver 24%,
                                                         alpha(silver,0) 25%),
                      radial-gradient(circle at 25% 79%, silver 11%,
                                                         alpha(silver,0) 12%),
                      radial-gradient(circle at 89% 91%, black    2%,
                                                         black(0) 3%),
                      radial-gradient(circle at 75% 79%, white    6%,
                                                         white(0) 7%),
                      radial-gradient(ellipse at 100% 100%, white  21%,
                                                            silver 22%,
                                                            silver 24%,
                                                            alpha(silver,0) 25%),
                      radial-gradient(circle at  75% 79%, silver 11%,
                                                          alpha(silver,0) 12%),
                      radial-gradient(circle at  35% 44%, black    3%,
                                                          black(0) 4%),
                      radial-gradient(circle at  65% 44%, black    3%,
                                                          black(0) 4%),
                      radial-gradient(ellipse at 50% 50%, black    20%,
                                                          black(0) 21%),
                      linear-gradient(black, black),
                      radial-gradient(circle at 50% 56%, #ddd     17%,
                                                         white(0) 18%),
                      radial-gradient(ellipse at 100% 60%, white 70%, white(0) 71%),
                      radial-gradient(ellipse at   0  60%, white 70%, white(0) 71%),
                      radial-gradient(ellipse at 50% 100%, white    55%,
                                                           silver   56%,
                                                           silver   60%,
                                                           alpha(silver,0) 61%),
                      radial-gradient(ellipse at 100% 60%, silver 70%,
                                                           alpha(silver,0) 71%),
                      radial-gradient(ellipse at   0  60%, silver 70%,
                                                           alpha(silver,0) 71%),
                      radial-gradient(ellipse at 50% 100%, white    65%,
                                                           white(0) 65%)
    background-size: 100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     100% 100%,
                     40% 20%,
                     2% 13%,
                     100% 100%,
                     15% 42%,
                     15% 42%,
                     90% 100%,
                     24% 50%,
                     24% 50%,
                     100% 100%
    background-position: 0 0,
                         0 0,
                         0 0,
                         0 0,
                         0 0,
                         0 0,
                         0 0,
                         0 0,
                         0 0,
                         0 0,
                         0 0,
                         0 0,
                         50% 54%,
                         50% 63%,
                         0 0,
                         23% 9%,
                         77% 9%,
                         50% 0,
                         20% 0,
                         80% 0,
                         0 0
