/*-----------------------------

Iconic

-----------------------------*/

#iconic
  background-color: #ffdb00

  div
    width: 11.3em
    height: 16.7em
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat
    background-image: linear-gradient(white, white),
                      linear-gradient(white, white),
                      linear-gradient(to bottom, #eee 1.2em, white 1.2em),
                      linear-gradient(to bottom, #eee 1.2em, white 1.2em),
                      linear-gradient(to top,    #eee 1.2em, white 1.2em),
                      linear-gradient(to top,    #eee 1.2em, white 1.2em),
                      repeating-linear-gradient(to bottom, #ddd,
                                                           #ddd .15em,
                                                           white .15em,
                                                           white 3.4em,
                                                           #ddd 3.4em,
                                                           #ddd 3.5em,
                                                           white 3.5em,
                                                           white 3.8em),
                      repeating-linear-gradient(to bottom, white(0),
                                                           white(0) 3.5em,
                                                           #ddd 3.5em,
                                                           #ddd 3.8em),
                      repeating-linear-gradient(to bottom, white(0),
                                                           white(0) 3.5em,
                                                           #ddd 3.5em,
                                                           #ddd 3.8em),
                      repeating-linear-gradient(to bottom, white(0),
                                                           white(0) 3.5em,
                                                           white 3.5em,
                                                           white 3.8em),
                      linear-gradient(to top, white(0) 1.05em,
                                              #ddd 1.05em,
                                              #ddd 1.2em,
                                              white(0) 1.2em),
                      linear-gradient(-140deg, white(0) 1.3em,
                                               #eee 1.3em,
                                               #eee 2.1em,
                                               #ddd 2.1em,
                                               #ddd 2.25em,
                                               #eee 2.25em),
                      linear-gradient(45deg, white(0) 2.1em, #ddd 2.15em),
                      linear-gradient(45deg, white(0) 2.1em, #ddd 2.15em),
                      linear-gradient(36deg, white(0) 1.75em, #ddd 1.8em),
                      linear-gradient(36deg, white(0) 1.75em, #ddd 1.8em),
                      linear-gradient(26deg, white(0) 1.3em, #ddd 1.35em),
                      linear-gradient(26deg, white(0) 1.3em, #ddd 1.35em),
                      linear-gradient(14deg, white(0) 0.7em, #ddd 0.75em),
                      linear-gradient(14deg, white(0) 0.7em, #ddd 0.75em),
                      linear-gradient(#eee, #eee),
                      linear-gradient(#eee, #eee)
    background-size: calc(100% - 2em) 1em,
                     calc(100% - 2em) 1em,
                     1em 60%,
                     1em 60%,
                     1em 60%,
                     1em 60%,
                     .3em calc(100% - 2em),
                     .1em calc(100% - 2em),
                     .1em calc(100% - 2em),
                     calc(100% - 4em) calc(100% - 2em),
                     2em 100%,
                     2em 100%,
                     41% 2em,
                     41% 2em,
                     41% 1.5em,
                     41% 1.5em,
                     41% 1em,
                     41% 1em,
                     41% .5em,
                     41% .5em,
                     3em 100%,
                     2em 100%
    background-position: 0 0,
                         0 100%,
                         0 0,
                         right 2em top,
                         0 100%,
                         right 2em bottom,
                         4.5em 1em,
                         1em 1em,
                         right 3em top 1em,
                         1em 1em,
                         100% 100%,
                         100% 0,
                         0      1.0em,
                         3.8em  1.0em,
                         0      4.8em,
                         3.8em  4.8em,
                         0      8.6em,
                         3.8em  8.6em,
                         0     12.4em,
                         3.8em 12.4em,
                         0 0,
                         4.75em 0
