/*-----------------------------

Journey

-----------------------------*/

#journey
  background-color: mistyrose
  
  div
    box-sizing: border-box
    font-size: 10px
    width: 35em
    height: 30em
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat
    background-image: radial-gradient(circle, lightsalmon 60%, alpha(lightsalmon,0) 61%),
                      radial-gradient(circle, lightsalmon 60%, alpha(lightsalmon,0) 61%),
                      linear-gradient(160deg, alpha(orangered,0) 40%, orangered 41%),
                      linear-gradient(-160deg, alpha(orangered,0) 40%, orangered 41%),
                      linear-gradient(orangered, orangered),
                      linear-gradient(110deg, alpha(orangered,0) 40%,
                                              orangered 41%,
                                              orangered 50%,
                                              alpha(orangered,0) 51%),
                      linear-gradient(-120deg, alpha(orangered,0) 48%,
                                              orangered 49%,
                                              orangered 56%,
                                              alpha(orangered,0) 57%),
                      linear-gradient(orangered, orangered),
                      linear-gradient(orangered, orangered)
    background-size: 6em 6em,
                     6em 6em,
                     9em 7em,
                     6.5em 7.5em,
                     18em 5.8em,
                     6.5em 10em,
                     6.5em 10em,
                     10em .8em,
                     .8em 10em
    background-position: left 6.5em bottom 0,
                         right 6.5em bottom 0,
                         left 1em bottom 3.5em,
                         right 1em bottom 3.5em,
                         left 10em bottom 3.5em,
                         left 8.5em bottom 9em,
                         right 6.5em bottom 9em,
                         left 12.6em bottom 18.2em,
                         left 17.5em bottom 8.5em

    &:before
      width: 10em
      height: 3em
      left: 13.5em
      top: 7.7em
      background-color: coral
      border-radius: .6em
      box-shadow: -2em -2.8em 0 -.5em orangered,
                  -.3em -5.4em 0 -.2em coral

    &:after
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-image: radial-gradient(circle, black(0) 40%,
                                                black 41%, black 47%,
                                                black(0) 48%),
                        linear-gradient(black, black),
                        radial-gradient(circle, black(0) 40%,
                                                black 41%, black 47%,
                                                black(0) 48%),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        radial-gradient(circle, black(0) 40%,
                                                black 41%, black 47%,
                                                black(0) 48%),
                        radial-gradient(circle, black(0) 40%,
                                                black 41%, black 47%,
                                                black(0) 48%),
                        radial-gradient(circle, black(0) 44%,
                                                black 45%, black 47%,
                                                black(0) 48%),
                        radial-gradient(circle, black(0) 44%,
                                                black 45%, black 47%,
                                                black(0) 48%),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        linear-gradient(black, black),
                        linear-gradient(-150deg, black(0) 30%,
                                                black 31%,
                                                black 34.5%,
                                                black(0) 35.5%),
                        linear-gradient(black, black)
      background-size: 4em 4em,
                       4em .2em,
                       4em 4em,
                       .2em 4.8em,
                       2em .2em,
                       2em .2em,
                       4em 4em,
                       4em 4em,
                       8em 8em,
                       8em 8em,
                       .2em 3.1em,
                       .2em 3.2em,
                       2.5em .2em,
                       .2em 2em,
                       .2em 2em,
                       .2em 2.5em,
                       .2em 2.5em,
                       2.5em .2em,
                       3em 3em,
                       2em .2em
      background-position: left -.5em bottom 4em,
                           left 0 bottom 4em,
                           right -.5em bottom 3.3em,
                           left 17.8em bottom 2.8em,
                           left 15em bottom 6em,
                           left 19em bottom 6em,
                           left 8em bottom .8em,
                           right 8em bottom 1.4em,
                           left 6em bottom -1.2em,
                           right 6em bottom -.5em,
                           15em 7.8em,
                           21.7em 7.5em,
                           17.1em 9.3em,
                           13em 5.4em,
                           19.8em 5.4em,
                           15em 2.4em,
                           21.1em 2.6em,
                           17em 3.7em,
                           right 7.8em bottom 7.8em,
                           right 9.2em bottom 10.6em
