/*-----------------------------

Letter

-----------------------------*/

#letter
  background-color: peru
  overflow: hidden

  div
    font-size: 8px
    width: 94%
    max-width: 600px
    height: 94%
    transform: translateX(-50%)
    top: auto
    bottom: 0
    background-color: floralwhite
    background-repeat: no-repeat
    background-image: repeating-linear-gradient(to right, darkgrey,
                                                          darkgrey .3em,
                                                          transparent .3em,
                                                          transparent 5em),
                      linear-gradient(136deg, transparent 49.5%,
                                              darkgrey 50%,
                                              darkgrey 53%,
                                              transparent 53.5%),
                      linear-gradient( 44deg, transparent 46.5%,
                                              darkgrey 47%,
                                              darkgrey 50%,
                                              transparent 50.5%),
                      repeating-linear-gradient(to right, darkgrey,
                                                          darkgrey .3em,
                                                          transparent .3em,
                                                          transparent 5em),
                      linear-gradient( 45deg, transparent 44%,
                                              darkgrey 44.5%,
                                              darkgrey 47%,
                                              transparent 47.5%),
                      linear-gradient( 45deg, transparent 47%,
                                              darkgrey 47.5%,
                                              darkgrey 50%,
                                              transparent 50.5%),
                      linear-gradient(136deg, transparent 32%,
                                              darkgrey 32.5%,
                                              darkgrey 36.5%,
                                              transparent 37%),
                      linear-gradient(135deg, transparent 63.5%,
                                              darkgrey 64%,
                                              darkgrey 68%,
                                              transparent 68.5%),
                      linear-gradient(136deg, transparent 46.5%,
                                              darkgrey 47%,
                                              darkgrey 50%,
                                              transparent 50.5%),
                      linear-gradient( 44deg, transparent 49.5%,
                                              darkgrey 50%,
                                              darkgrey 53%,
                                              transparent 53.5%),
                      radial-gradient(circle, peru 60%, alpha(peru,0) 61%),
                      radial-gradient(circle, peru 60%, alpha(peru,0) 61%),
                      linear-gradient(hotpink, hotpink),
                      repeating-linear-gradient(to bottom, paleturquoise,
                                                           paleturquoise .25em,
                                                           transparent .25em,
                                                           transparent 2.5em)
    background-size: 10.30em 5em,
                      5.15em 5em,
                      5.15em 5em,
                     10.30em 5em,
                      6.18em 5em,
                      6.18em 5em,
                      5.15em 2.4em,
                      5.15em 2.5em,
                      5.15em 5em,
                      5.15em 5em,
                     3em 3em,
                     3em 3em,
                     .2em 100%,
                     100% 80%
    background-position: right 14em    top 10em,
                         right 19.15em  top 5em,
                         right 14.01em top 5em,
                         right 14em    top 20em,
                         right 18.1em  top 15em,
                         right 13.4em  top 15em,
                         right 19.15em top 17.6em,
                         right 14.01em top 15em,
                         right 14.01em top 25em,
                         right 19.15em top 25em,
                         3.4em 29%,
                         left 3.4em bottom -1.5em,
                         10em 0,
                         0 100%

    &:before
      width: 6.3em
      height: 15em
      right: 3.5em
      top: 2em
      background-repeat: no-repeat
      background-image: repeating-linear-gradient(to right, darkgrey,
                                                            darkgrey .3em,
                                                            transparent .3em,
                                                            transparent 3em),
                        linear-gradient(136deg, transparent 49.5%,
                                                darkgrey 50%,
                                                darkgrey 54.5%,
                                                transparent 55%),
                        linear-gradient( 44deg, transparent 45%,
                                                darkgrey 45.5%,
                                                darkgrey 50%,
                                                transparent 50.5%),
                        repeating-linear-gradient(to right, darkgrey,
                                                            darkgrey .3em,
                                                            transparent .3em,
                                                            transparent 3em),
                        linear-gradient( 45deg, transparent 44%,
                                                darkgrey 44.5%,
                                                darkgrey 48.5%,
                                                transparent 49%),
                        linear-gradient( 45deg, transparent 47%,
                                                darkgrey 47.5%,
                                                darkgrey 51.5%,
                                                transparent 52%),
                        linear-gradient(136deg, transparent 32%,
                                                darkgrey 32.5%,
                                                darkgrey 38.5%,
                                                transparent 39%),
                        linear-gradient(135deg, transparent 61%,
                                                darkgrey 61.5%,
                                                darkgrey 68%,
                                                transparent 68.5%),
                        linear-gradient(136deg, transparent 45%,
                                                darkgrey 45.5%,
                                                darkgrey 50%,
                                                transparent 50.5%),
                        linear-gradient( 44deg, transparent 49.5%,
                                                darkgrey 50%,
                                                darkgrey 54.5%,
                                                transparent 55%)
      background-size: 100% 3em,
                       50%  3em,
                       50%  3em,
                       100% 3em,
                       60%  3em,
                       60%  3em,
                       50%  1.5em,
                       50%  1.5em,
                       50%  3em,
                       50%  3em
      background-position: 0  3em,
                           0 0,
                           100% 0,
                           0  9em,
                           0 6em,
                           2.8em 6em,
                           0 7.6em,
                           100% 6em,
                           100% 12em,
                           0 12em
      transform: rotate(-15deg)

    &:after
      width: 4.3em
      height: 10em
      right: 4.5em
      top: 18em
      background-repeat: no-repeat
      background-image: repeating-linear-gradient(to right, darkgrey,
                                                            darkgrey .3em,
                                                            transparent .3em,
                                                            transparent 2em),
                        linear-gradient(136deg, transparent 49%,
                                                darkgrey 49.5%,
                                                darkgrey 56.5%,
                                                transparent 57%),
                        linear-gradient( 44deg, transparent 42.5%,
                                                darkgrey 43%,
                                                darkgrey 50%,
                                                transparent 50.5%),
                        repeating-linear-gradient(to right, darkgrey,
                                                            darkgrey .3em,
                                                            transparent .3em,
                                                            transparent 2em),
                        linear-gradient( 45deg, transparent 44%,
                                                darkgrey 44.5%,
                                                darkgrey 50.5%,
                                                transparent 51%),
                        linear-gradient( 45deg, transparent 44%,
                                                darkgrey 44.5%,
                                                darkgrey 51%,
                                                transparent 51.5%),
                        linear-gradient(136deg, transparent 31%,
                                                darkgrey 31.5%,
                                                darkgrey 42%,
                                                transparent 42.5%),
                        linear-gradient(135deg, transparent 57%,
                                                darkgrey 57.5%,
                                                darkgrey 68%,
                                                transparent 68.5%),
                        linear-gradient(136deg, transparent 42.5%,
                                                darkgrey 43%,
                                                darkgrey 50%,
                                                transparent 50.5%),
                        linear-gradient( 44deg, transparent 49%,
                                                darkgrey 49.5%,
                                                darkgrey 56.5%,
                                                transparent 57%)
      background-size: 100% 2em,
                       50%  2em,
                       50%  2em,
                       100% 2em,
                       60%  2em,
                       60%  2em,
                       50%  1em,
                       50%  1em,
                       50%  2em,
                       50%  2em
      background-position: 0 2em,
                           0 0,
                           100% 0,
                           0 6em,
                           0 4em,
                           2em 4em,
                           0 5em,
                           100% 4em,
                           100% 8em,
                           0 8em
      transform: rotate(-30deg)
