/*-----------------------------

Licorice

-----------------------------*/

#licorice
  background-color: #111
  background-image: radial-gradient(circle at left center, transparent 80%, #111 81%),
                    linear-gradient(69deg, black(0) 25%, black(.2) 29%,
                                           black(.2) 32%, black(0) 32.5%),
                    linear-gradient(to right, alpha(red,0) 17.5%,
                                              darken(red,10) 18%,
                                              darken(red,10) 23%,
                                              alpha(red,0) 23.5%),
                    radial-gradient(circle at right 20px,  transparent 80%, #111 81%),
                    linear-gradient(69deg, white(0)  78%,
                                           white(.7) 83%,
                                           white(0)  83.5%),
                    linear-gradient(69deg, black(0) 65%,
                                           black(.1) 69%,
                                           black(.2) 74.5%,
                                           red 75%,
                                           red 86%,
                                           alpha(red,0) 86.5%),
                    linear-gradient(69deg, white(0)  56%,
                                           white(.6) 61%,
                                           white(0)  61.5%),
                    linear-gradient(69deg, transparent 53.2%,
                                           red 53.5%,
                                           red 61%,
                                           alpha(red,0) 61.5%),
                    linear-gradient(61deg, black(0) 47%,
                                           black(.2) 51%,
                                           black(.4) 57%,
                                           black(0) 57.5%),
                    linear-gradient(76deg, white(0)  57.8%,
                                           white(.7) 58%,
                                           white(0) 66%),
                    linear-gradient(to bottom, darken(red,10) 20%, alpha(red,0) 70%),
                    linear-gradient(69deg, white(0)  35.5%,
                                           white(.7) 40%,
                                           white(0) 40.5%),
                    linear-gradient(69deg, alpha(red,0) 32%,
                                           red 32.5%,
                                           red 40%,
                                           alpha(red,0) 40.5%),
                    linear-gradient(65deg, white(0) 34%,
                                           white    34.5%,
                                           white(0) 46%),
                    linear-gradient(to right, black(0) 25%,
                                              black(.1) 30%,
                                              black(.2) 40%,
                                              black(0) 45%),
                    linear-gradient(to left, black(.3) 30%, black(0) 45%),
                    linear-gradient(to right, black(0)  40%,
                                              black(.4) 45%,
                                              black(0)  55%),
                    linear-gradient(darken(red,10), darken(red,10))
  background-size: 50px 35px
