/*-----------------------------

Lost

-----------------------------*/

#lost
  background: #444

  div
    width: 13em
    height: 15em
    margin-top: -(@height/2)
    margin-left: -(@width/2)
    background: linear-gradient(black, black) left 1em bottom 1em / .2em 69%,
                linear-gradient(black, black) right 2.4em bottom 1em / .2em 69%,
                linear-gradient( 135deg, black(0) 43%,
                                         black 43.1%,
                                         black 47.5%,
                                         black(0) 47.6%) 1em 1em / 3.1em 3.1em,
                linear-gradient(-135deg, black(0) 43%,
                                         black 43.1%,
                                         black 47.5%,
                                         black(0) 47.6%) right 2.4em top 1em / 3.1em 3.1em,
                linear-gradient(black, black) 3.7em 1em / 32% .2em,
                linear-gradient(black, black) left 1em bottom 1em / 73% .2em,
                linear-gradient(black, black) 1em 50% / 73% .1em,
                linear-gradient(black, black) 1em 60% / 73% .1em,
                linear-gradient(black, black) 1em 62% / 73% .2em,
                linear-gradient(black, black) 1em 82% / 73% .2em,
                linear-gradient(black, black) 1em 84% / 73% .1em,
                linear-gradient(black, black) 2em 55.3% / .3em .6em,
                linear-gradient(black, black) 2.5em 55.3% / .3em .6em,
                linear-gradient(black, black) 3em 55.3% / .15em .6em,
                linear-gradient(black, black) 3.3em 55.3% / .15em .6em,
                linear-gradient(black, black) 3.7em 55.3% / .3em .6em,
                linear-gradient(black, black) 4.2em 55.3% / .3em .6em,
                linear-gradient(black, black) 4.7em 55.3% / .3em .6em,
                linear-gradient(black, black) 5.2em 55.3% / .15em .6em,
                linear-gradient(black, black) 5.6em 55.3% / .15em .6em,
                linear-gradient(black, black) 6em 55.3% / .15em .6em,
                linear-gradient(black, black) 6.4em 55.3% / .15em .6em,
                linear-gradient(black, black) 6.8em 55.3% / .15em .6em,
                linear-gradient(black, black) 7.2em 55.3% / .3em .6em,
                linear-gradient(black, black) 7.7em 55.3% / .3em .6em,
                linear-gradient(black, black) 8.2em 55.3% / .3em .6em,
                linear-gradient(black, black) 8.7em 55.3% / .15em .6em,
                linear-gradient(black, black) 9.1em 55.3% / .15em .6em,
                linear-gradient(black, black) 9.5em 55.3% / .15em .6em,
                linear-gradient(black, black) 1.7em 88.5% / 3em .15em,
                linear-gradient(black, black) 75% 88.5% / 1em .1em,
                linear-gradient(black, black) 65% 88.5% / 1em .1em,
                linear-gradient(white, white) 0 0 / 90% 100%,
                linear-gradient(45deg, black(0) 46%,
                                       black 46.1%,
                                       black 52%,
                                       black(0) 52.1%) 98.5% 8.9% / 6.5% 8%,
                linear-gradient(42deg, black(0) 46%,
                                       black 46.1%,
                                       black 52%,
                                       black(0) 52.1%) 98.5% 32% / 6.5% 8%,
                linear-gradient(40deg, black(0) 46%,
                                       black 46.1%,
                                       black 52%,
                                       black(0) 52.1%) 98.5% 34% / 6.5% 8%,
                linear-gradient(35deg, black(0) 46%,
                                       black 46.2%,
                                       black 52%,
                                       black(0) 52.2%) 98.5% 40% / 6.5% 8%,
                linear-gradient(black, black) 92.8% 14.2% / .1em 29.5%,
                linear-gradient(black, black) 98.6% 20.5% / .1em 27.9%,
                linear-gradient(45deg, #bbb 95.3%, white(0) 95.4%)
    background-repeat: no-repeat

    &::before
      width: 90%
      bottom: 3.2rem
      content: 'red wine'
      text-transform: uppercase
      font-family: Impact, AvenirNextCondensed-Bold, Helvetica, Arial, sans-serif
      font-size: 190%
      text-align: center

    &::after
      box-sizing: border-box
      width: 5.6rem
      height: @width
      padding-top: 2.6rem
      left: 20.6%
      top: 10%
      background: linear-gradient( 135deg, black(0) 45%,
                                           black 45.1%,
                                           black 55%,
                                           black(0) 55.1%) 0 0 / 33.33% 33.33%,
                  linear-gradient(-135deg, black(0) 45%,
                                           black 45.1%,
                                           black 55%,
                                           black(0) 55.1%) 100% 0 / 33.33% 33.33%,
                  linear-gradient(  45deg, black(0) 45%,
                                           black 45.1%,
                                           black 55%,
                                           black(0) 55.1%) 0 100% / 33.33% 33.33%,
                  linear-gradient( -45deg, black(0) 45%,
                                           black 45.1%,
                                           black 55%,
                                           black(0) 55.1%) 100% 100% / 33.33% 33.33%,
                  linear-gradient(180deg, black 50%, white 50%) 50% 0 / 38% 10%,
                  linear-gradient( 90deg, black 50%, white 50%) 0 50% / 10% 38%,
                  linear-gradient(270deg, black 50%, white 50%) 100% 50% / 10% 38%,
                  linear-gradient(  0deg, black 50%, white 50%) 50% 100% / 38% 10%,
                  linear-gradient( 135deg, white(0) 55%,
                                           white 55.1%,
                                           white 65%,
                                           white(0) 65.1%) 0 0 / 33.33% 33.33%,
                  linear-gradient(-135deg, white(0) 55%,
                                           white 55.1%,
                                           white 65%,
                                           white(0) 65.1%) 100% 0 / 33.33% 33.33%,
                  linear-gradient(  45deg, white(0) 55%,
                                           white 55.1%,
                                           white 65%,
                                           white(0) 65.1%) 0 100% / 33.33% 33.33%,
                  linear-gradient( -45deg, white(0) 55%,
                                           white 55.1%,
                                           white 65%,
                                           white(0) 65.1%) 100% 100% / 33.33% 33.33%,
                  radial-gradient(circle, black 47%,
                                          white 47.5%,
                                          white 55%,
                                          white(0) 55.5%) 50% 50% / 60% 60%,
                  linear-gradient(  22deg, white(0) 48%,
                                           white 48.1%,
                                           white 52%,
                                           white(0) 52.1%) 50% 50% / 90% 90%,
                  linear-gradient( -22deg, white(0) 48%,
                                           white 48.1%,
                                           white 52%,
                                           white(0) 52.1%) 50% 50% / 90% 90%,
                  linear-gradient( -68deg, white(0) 48%,
                                           white 48.1%,
                                           white 52%,
                                           white(0) 52.1%) 50% 50% / 90% 90%,
                  linear-gradient(  68deg, white(0) 48%,
                                           white 48.1%,
                                           white 52%,
                                           white(0) 52.1%) 50% 50% / 90% 90%,
                  linear-gradient(white, white) 15% 50% / 1.5% 30%,
                  linear-gradient(white, white) 21% 50% / 1.5% 20%,
                  linear-gradient(white, white) 27% 50% / 2% 15%,
                  linear-gradient(white, white) 85% 50% / 1.5% 30%,
                  linear-gradient(white, white) 79% 50% / 1.5% 20%,
                  linear-gradient(white, white) 73% 50% / 2% 15%,
                  linear-gradient(white, white) 50% 15% / 30% 1.5%,
                  linear-gradient(white, white) 50% 21% / 20% 1.5%,
                  linear-gradient(white, white) 50% 27% / 15% 2%,
                  linear-gradient(white, white) 50% 85% / 30% 1.5%,
                  linear-gradient(white, white) 50% 79% / 20% 1.5%,
                  linear-gradient(white, white) 50% 73% / 15% 2%,
                  linear-gradient( 135deg, white(0) 60.5%,
                                           white 60.6%,
                                           white 63.5%,
                                           white(0) 63.6%) 10% 10% / 30% 30%,
                  linear-gradient( 135deg, white(0) 63%,
                                           white 63.1%,
                                           white 67%,
                                           white(0) 67.1%) 18% 18% / 25% 25%,
                  linear-gradient( 135deg, white(0) 67.2%,
                                           white 67.3%,
                                           white 71%,
                                           white(0) 71.1%) 25% 25% / 20% 20%,
                  linear-gradient(-135deg, white(0) 60.5%,
                                           white 60.6%,
                                           white 63.5%,
                                           white(0) 63.6%) 90% 10% / 30% 30%,
                  linear-gradient(-135deg, white(0) 63%,
                                           white 63.1%,
                                           white 67%,
                                           white(0) 67.1%) 82% 18% / 25% 25%,
                  linear-gradient(-135deg, white(0) 67.2%,
                                           white 67.3%,
                                           white 71%,
                                           white(0) 71.1%) 75% 25% / 20% 20%,
                  linear-gradient(  45deg, white(0) 60.5%,
                                           white 60.6%,
                                           white 63.5%,
                                           white(0) 63.6%) 10% 90% / 30% 30%,
                  linear-gradient(  45deg, white(0) 63%,
                                           white 63.1%,
                                           white 67%,
                                           white(0) 67.1%) 18% 82% / 25% 25%,
                  linear-gradient(  45deg, white(0) 67.2%,
                                           white 67.3%,
                                           white 71%,
                                           white(0) 71.1%) 25% 75% / 20% 20%,
                  linear-gradient( -45deg, white(0) 60.5%,
                                           white 60.6%,
                                           white 63.5%,
                                           white(0) 63.6%) 90% 90% / 30% 30%,
                  linear-gradient( -45deg, white(0) 63%,
                                           white 63.1%,
                                           white 67%,
                                           white(0) 67.1%) 82% 82% / 25% 25%,
                  linear-gradient( -45deg, white(0) 67.2%,
                                           white 67.3%,
                                           white 71%,
                                           white(0) 71.1%) 75% 75% / 20% 20%,
                  linear-gradient(white, white) 50% 16% / 1.5% 6%,
                  linear-gradient(white, white) 50% 77% / 1.5% 6%,
                  linear-gradient(white, white) 50% 90% / 1.5% 6%,
                  linear-gradient(white, white) 43% 50% / 63% 1.5%,
                  linear-gradient(  45deg, white(0) 45%,
                                           white 45.1%,
                                           white 54%,
                                           white(0) 54.1%) 17.5% 17.5% / 10% 10%,
                  linear-gradient( -45deg, white(0) 46%,
                                           white 46.1%,
                                           white 52%,
                                           white(0) 52.1%) 80% 20% / 18% 18%,
                  linear-gradient( 135deg, white(0) 45%,
                                           white 45.1%,
                                           white 54%,
                                           white(0) 54.1%) 22.2% 77.8% / 10% 10%,
                  linear-gradient( 135deg, black(0) 35%,
                                           black 35.1%) 0 0 / 50% 50%,
                  linear-gradient(-135deg, black(0) 35%,
                                           black 35.1%) 100% 0 / 50% 50%,
                  linear-gradient(  45deg, black(0) 35%,
                                           black 35.1%) 0 100% / 50% 50%,
                  linear-gradient( -45deg, black(0) 35%,
                                           black 35.1%) 100% 100% / 50% 50%
      background-repeat: no-repeat
      content: 'dharma'
      text-transform: uppercase
      font-family: Helvetica, sans-serif
      font-weight: bold
      font-size: .4rem
      color: white
