/*-----------------------------

Misfit

-----------------------------*/

#misfit
  background-color: darken(turquoise,20)

  div
    width: 100px
    height: 100px
    margin-left: -(@width/2)
    top: auto
    bottom: -100px
    background-color: black
    border-radius: 50%
    box-shadow:    0   -300px 0 -10px black,
                 -50px -275px 0 -14px black,
                  55px -282px 0 -18px black,
                 -75px -230px 0 -10px black,
                   0   -230px 0   0   black,
                  75px -225px 0 -10px black,
                 -85px -170px 0  -5px black,
                   0   -170px 0  10px black,
                  85px -170px 0  -5px black,
                -110px -115px 0 -18px black,
                 112px -112px 0 -14px black,
                   0    -90px 0  38px black,
                 -90px  -68px 0 -10px black,
                  90px  -68px 0 -10px black

    &:before
      width: 80px
      height: 110px
      left: 50%
      top: -240px
      margin-left: -(@width/2)
      background-color: #444
      background-image: linear-gradient(to top, black 20%, transparent 20%)
      border-top-right-radius: 50% 40%
      border-top-left-radius: 50% 40%
      border-bottom-right-radius: 60% 70%
      border-bottom-left-radius: 60% 70%
      box-shadow: inset 0  -3px 0 13px #444,
                  0 28px 0 -15px #222

    &:after
      width: 200px
      height: 240px
      left: 50%
      top: -260px
      margin-left: -(@width/2)
      background-repeat: no-repeat
      background-image: radial-gradient(circle, black 50%, transparent 50%),
                        radial-gradient(circle, black 50%, transparent 50%),
                        radial-gradient(circle, black 50%, transparent 50%),
                        radial-gradient(circle, transparent 40%, crimson 40%,
                                                crimson 50%, transparent 50%),
                        radial-gradient(circle, transparent 40%, crimson 40%,
                                                crimson 50%, transparent 50%),
                        linear-gradient(120deg, transparent 39%, white(.2) 39%,
                                                white(.2) 55%, transparent 55%,
                                                transparent 60%, white(.2) 60%,
                                                white(.2) 65%, transparent 65%),
                        linear-gradient(120deg, transparent 39%, white(.2) 39%,
                                                white(.2) 55%, transparent 55%,
                                                transparent 60%, white(.2) 60%,
                                                white(.2) 65%, transparent 65%),
                        radial-gradient(circle, black 50%, transparent 50%),
                        radial-gradient(circle, black 50%, transparent 50%),
                        radial-gradient(ellipse, #222 40%, transparent 40%),
                        radial-gradient(ellipse, #222 40%, transparent 40%),
                        radial-gradient(ellipse, #444 40%, transparent 40%),
                        radial-gradient(ellipse, #444 40%, transparent 40%),
                        linear-gradient(to right, black, black),
                        linear-gradient(to top, black, black),
                        radial-gradient(circle, black 50%, transparent 50%),
                        radial-gradient(circle, black 50%, transparent 50%),
                        radial-gradient(circle at center 80%, black 40%, transparent 40%),
                        radial-gradient(circle at center 85%, #ccc 40%, transparent 40%),
                        linear-gradient(to right, #ccc, #ccc),
                        repeating-linear-gradient(to right, #ccc, #ccc 5px,
                                                            transparent 5px,
                                                            transparent 8px),
                        repeating-linear-gradient(to right, #ccc, #ccc 5px,
                                                            transparent 5px,
                                                            transparent 8px),
                        radial-gradient(circle at center -20%, #ccc 40%, transparent 40%)
      background-size: 40px 40px,
                       40px 40px,
                       60px 60px,
                       70px 70px,
                       70px 70px,
                       35px 37px,
                       35px 37px,
                       15px 15px,
                       15px 15px,
                       50px 12px,
                       50px 12px,
                       70px 30px,
                       70px 30px,
                        3px 10px,
                       12px  2px,
                       20px 20px,
                       20px 20px,
                       14px 14px,
                       60px 60px,
                       36px 20px,
                       30px 3px,
                       30px 3px,
                       70px 20px
      background-position: left  50px top 10px,
                           right 50px top 10px,
                           center -8px,
                           left  42px top 35px,
                           right 42px top 35px,
                           left  58px top 51px,
                           right 59px top 51px,
                           left  75px top 60px,
                           right 75px top 60px,
                           left  20px top 56px,
                           right 20px top 56px,
                           left  10px top 45px,
                           right 10px top 45px,
                           center top 113px,
                           center top 121px,
                           left  81px bottom 45px,
                           right 81px bottom 45px,
                           center bottom 38px,
                           center bottom 43px,
                           center bottom 35px,
                           left 85px bottom 32px,
                           left 85px bottom 25px,
                           center bottom 5px
