/*-----------------------------

Organized

-----------------------------*/

#organized
  background: pink
  background-repeat: repeat-x
  background-image: linear-gradient(to right, black(0) 20%,
                                              #666 20%, #666 25%,
                                              #777 25%, #777 75%,
                                              #666 75%, #666 80%,
                                              black(0) 80%),
                    linear-gradient( 115deg, pink 29%, alpha(pink,0) 30%),
                    linear-gradient(-115deg, pink 29%, alpha(pink,0) 30%),
                    linear-gradient(to right, black(0) 40%, #666 40%,
                                              #666 60%, black(0) 60%),
                    linear-gradient(to right, black(0) 40%, #666 40%,
                                              #666 60%, black(0) 60%),
                    linear-gradient(to right, black(0) 40%, #666 40%,
                                              #666 60%, black(0) 60%),
                    linear-gradient(to right, black(0) 40%, #666 40%,
                                              #666 60%, black(0) 60%),
                    linear-gradient(to right, black(0) 25%,
                                              #444 25%, #444 75%,
                                              black(0) 75%),
                    linear-gradient(to right, black(0) 30%,
                                              #666 30%, #666 35%,
                                              #777 25%, #777 65%,
                                              #666 65%, #666 70%,
                                              black(0) 70%),
                    linear-gradient(to right, black(0) 37%,
                                              #333 37%, #333 45%,
                                              black(0) 45%),
                    linear-gradient(to left, black(0) 37%,
                                              #333 37%, #333 45%,
                                              black(0) 45%),
                    linear-gradient(to right, black(0) 37%,
                                              #333 37%, #333 45%,
                                              black(0) 45%),
                    linear-gradient(to left, black(0) 37%,
                                              #333 37%, #333 45%,
                                              black(0) 45%),
                    linear-gradient(to right, black(0) 37%,
                                              #333 37%, #333 45%,
                                              black(0) 45%),
                    linear-gradient(to right, black(0) 37%,
                                              #777 37%, #777 50%,
                                              #666 50%, #666 63%,
                                              black(0) 63%),
                    linear-gradient(to right, transparent 47%, crimson 47%,
                                              crimson 53.5%, transparent 53.5%),
                    linear-gradient(to right, transparent 53.5%, crimson 53.5%,
                                              crimson 70%, transparent 70%),
                    linear-gradient(to right, transparent 47%, mediumseagreen 47%,
                                              mediumseagreen 53.5%, transparent 53.5%),
                    linear-gradient(to right, transparent 53.5%, mediumseagreen 53.5%,
                                              mediumseagreen 70%, transparent 70%),
                    linear-gradient(to right, transparent 47%, rebeccapurple 47%,
                                              rebeccapurple 53.5%, transparent 53.5%),
                    linear-gradient(to right, transparent 53.5%, rebeccapurple 53.5%,
                                              rebeccapurple 70%, transparent 70%),
                    linear-gradient(to right, black(0) 42%,
                                              #666 42%, #666 50%,
                                              #444 50%, #444 58%,
                                              black(0) 58%),
                    linear-gradient(to right, white(0) 35%,
                                              goldenrod 35%, goldenrod 40%,
                                              white(0) 40%, white(0) 60%,
                                              goldenrod 60%, goldenrod 65%,
                                              white(0) 65%)
  background-size: 8em .5em,
                   8em 2em, 8em 2em,
                   8em .2em, 8em .2em, 8em .2em, 8em .2em,
                   8em 3.5em,
                   8em .5em,
                   8em .3em, 8em .3em,
                   8em .3em, 8em .3em,
                   8em .3em,
                   8em 3em,
                   24em 1em, 24em 1.5em,
                   24em 1em, 24em 1.5em,
                   24em 1em, 24em 1.5em,
                   8em calc(100% - 5em),
                   8em 3em
  background-position: left 50% bottom 5em,
                       left 50% bottom 7em, left 50% bottom 7em,
                       left 50% bottom 8em, left 50% bottom 7.5em, left 50% bottom 7em,  left 50% bottom 6.5em,
                       left 50% bottom 5.5em,
                       left 50% bottom 9em,
                       left 50% bottom 11.2em,
                       left 50% bottom 10.9em,
                       left 50% bottom 10.3em,
                       left 50% bottom 10em,
                       left 50% bottom 9.5em,
                       left 50% bottom 9em,
                       left 50% bottom 13em, left 50% bottom 12.75em,
                       left calc(50% - 8em) bottom 13em, left calc(50% - 8em) bottom 12.75em,
                       left calc(50% - 16em) bottom 13em, left calc(50% - 16em) bottom 12.75em,
                       left 50% bottom 5em,
                       left 50% bottom 3em
  @media (max-width: 400px)
    font-size: 12px
