/*-----------------------------

Pattern

-----------------------------*/

#pattern
  background-image: linear-gradient( 45deg,
                                    rebeccapurple,
                                    rebeccapurple 26.142857143%, rebeccapurple  33.142857143%,
                                    black         33.142857143%, black          34.285714290%,
                                    royalblue     34.285714290%, royalblue      41.285714290%,
                                    black         41.285714290%, black          42.428571430%,
                                    forestgreen   42.428571430%, forestgreen    49.428571430%,
                                    black         49.428571430%, black          50.571428570%,
                                    gold          50.571428570%, gold           57.571428570%,
                                    black         57.571428570%, black          58.714285710%,
                                    darkorange    58.714285710%, darkorange     65.714285710%,
                                    black         65.714285710%, black          66.857142860%,
                                    crimson       66.857142860%, crimson        73.857142860%,
                                    black         73.857142860%, black          75%,
                                    transparent   75%),
                    linear-gradient(-45deg,
                                    rebeccapurple,
                                    rebeccapurple 26.142857143%, rebeccapurple  33.142857143%,
                                    black         33.142857143%, black          34.285714290%,
                                    royalblue     34.285714290%, royalblue      41.285714290%,
                                    black         41.285714290%, black          42.428571430%,
                                    forestgreen   42.428571430%, forestgreen    49.428571430%,
                                    black         49.428571430%, black          50.571428570%,
                                    gold          50.571428570%, gold           57.571428570%,
                                    black         57.571428570%, black          58.714285710%,
                                    darkorange    58.714285710%, darkorange     65.714285710%,
                                    black         65.714285710%, black          66.857142860%,
                                    crimson       66.857142860%, crimson        73.857142860%,
                                    black         73.857142860%, black          75%,
                                    transparent   75%)
  background-size: 100px 100px
  background-position: 0 0
  z-index: 5

  &:before,
  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0

  &:before
    background-image: linear-gradient( 45deg,
                                      rebeccapurple   8.142857143%,
                                      black           8.142857143%, black           9.285714290%,
                                      royalblue       9.285714290%, royalblue      16.285714290%,
                                      black          16.285714290%, black          17.428571430%,
                                      forestgreen    17.428571430%, forestgreen    24.428571430%,
                                      black          24.428571430%, black          25.571428570%,
                                      gold           25.571428570%, gold           32.571428570%,
                                      black          32.571428570%, black          33.714285710%,
                                      darkorange     33.714285710%, darkorange     40.714285710%,
                                      black          40.714285710%, black          41.857142860%,
                                      crimson        41.857142860%, crimson        48.857142860%,
                                      black          48.857142860%, black          50%,
                                      transparent    50%),
                      linear-gradient(-45deg,
                                      rebeccapurple   8.142857143%,
                                      black           8.142857143%, black           9.285714290%,
                                      royalblue       9.285714290%, royalblue      16.285714290%,
                                      black          16.285714290%, black          17.428571430%,
                                      forestgreen    17.428571430%, forestgreen    24.428571430%,
                                      black          24.428571430%, black          25.571428570%,
                                      gold           25.571428570%, gold           32.571428570%,
                                      black          32.571428570%, black          33.714285710%,
                                      darkorange     33.714285710%, darkorange     40.714285710%,
                                      black          40.714285710%, black          41.857142860%,
                                      crimson        41.857142860%, crimson        48.857142860%,
                                      black          48.857142860%, black          50%,
                                      transparent    50%)
    background-size: 100px 100px
    background-position: 50px 0

  &:after
    background-image: linear-gradient(-45deg, black .5%,
                                              gold .5%,
                                              gold 7.5%,
                                              black 7.5%,
                                              black 8.642857143%,
                                              darkorange 8.642857143%,
                                              darkorange 15.64285714%,
                                              black 15.64285714%,
                                              black 16.88571429%,
                                              crimson 16.88571429%,
                                              crimson 23.84285714%,
                                              black 23.84285714%,
                                              black 25%,
                                              transparent 25%)
    background-size: 100px 100px
    background-position: 0 0
