/*-----------------------------

Quick

-----------------------------*/

#quick
  background: tomato

  div
    width: 18em
    height: 9em
    margin-left: -(@width/2)
    margin-top: -1.5em
    background-repeat: no-repeat
    background-image: radial-gradient(circle at 50% 13em, alpha(sienna,0) 60%,
                                                          sienna 60.1%),
                      radial-gradient(ellipse at 100% 120%, transparent 65%,
                                                            darken(sienna, 12) 65.5%),
                      radial-gradient(ellipse at 0 120%, transparent 65%,
                                                         darken(sienna, 12) 65.5%),
                      radial-gradient(circle, black 50%, black(0) 51%),
                      radial-gradient(circle, black 50%, black(0) 51%),
                      radial-gradient(ellipse, black 50%, black(0) 52%),
                      radial-gradient(ellipse, white(.5) 50%, white(0) 51%),
                      radial-gradient(ellipse at 50% 20%, wheat 60%, white(0) 61%),
                      radial-gradient(circle, goldenrod 50%, alpha(goldenrod,0) 51%),
                      radial-gradient(ellipse at 50% 20%, crimson 60%, alpha(crimson,0) 61%),
                      radial-gradient(ellipse at 50% 80%, wheat 60%, white(0) 61%),
                      radial-gradient(ellipse at 0 100%, wheat 60%, white(0) 61%),
                      radial-gradient(ellipse at 100% 100%, wheat 60%, white(0) 61%),
                      radial-gradient(ellipse at 60% 80%, wheat 60%, white(0) 61%),
                      radial-gradient(ellipse at 20% 80%, wheat 60%, white(0) 61%)
    background-size: 100% 100%, 40% 80%, 40% 80%,
                     .4em .4em, .4em .4em,
                     1.2em .8em, 2.8em 2em,
                     4.9em 2.5em,
                     1em 1em, 4em 2.5em,
                     4em 3em, 1.5em 2em,
                     1.5em 2em, 1.2em .6em, 1.2em .6em
    background-position: 0 0, 10% 100%, 90% 100%,
                         45% 70%, 55% 70%,
                         50% 80%, 50% 87%,
                         50% 86%,
                         50% 100%, 50% 92%,
                         50% 100%, 42.5% 62%,
                         57.5% 62%, 40% 100%, 60% 100%
    border-radius: 10em 10em 0 0

    &:before
      width: 3em
      height: 10em
      left: -1em
      top: -5.9em
      background-color: sienna
      background-image: radial-gradient(circle at 80% 0, white 30%, white(0) 30.5%)
      border-radius: 0 4em

    &:after
      width: 8em
      height: 6em
      right: -1em
      top: -3em
      background-repeat: no-repeat
      background-image: radial-gradient(ellipse at 20% 100%, white 70%, white(0) 70.5%),
                        radial-gradient(ellipse at 80% 100%, white 70%, white(0) 70.5%),
                        radial-gradient(circle, black 50%, black(0) 51%),
                        radial-gradient(circle, black 50%, black(0) 51%),
                        radial-gradient(ellipse, black 50%, black(0) 51%),
                        radial-gradient(ellipse at 50% 90%, sienna 63%,
                                                            alpha(sienna,0) 63.5%),
                        radial-gradient(ellipse at 0 100%, sienna 60%,
                                                          alpha(sienna,0) 60.5%),
                        radial-gradient(ellipse at 0 100%, darken(sienna, 12) 60%,
                                                          alpha(sienna,0) 60.5%),
                        radial-gradient(ellipse at 100% 100%, sienna 60%,
                                                              alpha(sienna,0) 60.5%),
                        radial-gradient(ellipse at 100% 100%, darken(sienna, 12) 60%,
                                                              alpha(sienna,0) 60.5%)
      background-size: 3.5em 2.5em, 3.5em 2.5em,
                       .5em .5em, .5em .5em,
                       .8em .5em,
                       10em 4em,
                       2.5em 5em,
                       3.5em 5em,
                       2.5em 5em,
                       3.5em 5em
      background-position: 0 100%, 100% 100%,
                           41% 70%, 59% 70%,
                           50% 95%,
                           50% 100%,
                           14% 0,
                           18% 0,
                           86% 0,
                           82% 0
      border-radius: 0 0 4em 4em
