/*-----------------------------

Ride

-----------------------------*/

#ride
  background-color: darken(midnightblue,10)

  div
    box-sizing: border-box
    width: 104px
    height: 274px
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat
    background-image: radial-gradient(circle, black(.3) 50%, black(0) 50%),
                      radial-gradient(circle, black(.3) 50%, black(0) 50%),
                      linear-gradient(30deg, silver 20%, transparent 20%),
                      linear-gradient(to right, white 50%, #ccc 50%),
                      linear-gradient(to right, white 50%, #ccc 50%),
                      linear-gradient(to bottom, silver 50%, darken(silver,15) 50%),
                      radial-gradient(circle, black(.3) 50%, black(0) 50%),
                      radial-gradient(circle, black(.3) 50%, black(0) 50%),
                      linear-gradient(to right, silver 50%, darken(silver,20) 50%),
                      radial-gradient(circle, black(.3) 50%, black(0) 50%),
                      radial-gradient(circle, black(.3) 50%, black(0) 50%),
                      linear-gradient(30deg, silver 20%, transparent 20%),
                      linear-gradient(to right, white 50%, #ccc 50%),
                      linear-gradient(to right, white 50%, #ccc 50%),
                      linear-gradient(to bottom, silver 50%, darken(silver,15) 50%),
                      radial-gradient(circle, black(.3) 50%, black(0) 50%),
                      radial-gradient(circle, black(.3) 50%, black(0) 50%),
                      linear-gradient(to right, silver 50%, darken(silver,20) 50%),
                      linear-gradient(30deg, crimson 4%,
                                             darkorange,
                                             gold,
                                             forestgreen,
                                             steelblue,
                                             rebeccapurple 96%)
    background-size: 6px 6px,
                     6px 6px,
                     20px 20px,
                     15px 25px,
                     15px 25px,
                     60px 10px,
                     6px 6px,
                     6px 6px,
                     30px 30px,
                     6px 6px,
                     6px 6px,
                     20px 20px,
                     15px 25px,
                     15px 25px,
                     60px 10px,
                     6px 6px,
                     6px 6px,
                     30px 30px,
                     100% 100%
    background-position: 35% 20%,
                         65% 20%,
                         66% 19%,
                        -10% 24%,
                        110% 24%,
                         50% 26%,
                         35% 30%,
                         65% 30%,
                         50% 22%,
                         35% 70.5%,
                         65% 70.5%,
                         66% 72%,
                        -10% 78%,
                        110% 78%,
                         50% 77%,
                         35% 80%,
                         65% 80%,
                         50% 78%,
                         0 0
    background-clip: border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     border-box,
                     padding-box
    border-radius: 50% 50% 30px 30px
    border: 15px solid transparent
    box-shadow: inset 0 -3px 0 peru

    &:before
      box-sizing: border-box
      width: 90px
      height: 260px
      left -120px
      top: -8px
      background-repeat: no-repeat
      background-image: radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        linear-gradient(30deg, silver 20%, transparent 20%),
                        linear-gradient(to right, gold 50%, darken(gold,10) 50%),
                        linear-gradient(to right, gold 50%, darken(gold,10) 50%),
                        linear-gradient(to bottom, silver 50%, darken(silver,15) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        linear-gradient(to right, silver 50%, darken(silver,20) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        linear-gradient(30deg, silver 20%, transparent 20%),
                        linear-gradient(to right, gold 50%, darken(gold,10) 50%),
                        linear-gradient(to right, gold 50%, darken(gold,10) 50%),
                        linear-gradient(to bottom, silver 50%, darken(silver,15) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        linear-gradient(to right, silver 50%, darken(silver,20) 50%),
                        linear-gradient(30deg, firebrick, rebeccapurple, steelblue)
      background-size: 6px 6px,
                       6px 6px,
                       20px 20px,
                       15px 25px,
                       15px 25px,
                       60px 10px,
                       6px 6px,
                       6px 6px,
                       30px 30px,
                       6px 6px,
                       6px 6px,
                       20px 20px,
                       15px 25px,
                       15px 25px,
                       60px 10px,
                       6px 6px,
                       6px 6px,
                       30px 30px,
                       100% 100%
      background-position: 35% 20%,
                           65% 20%,
                           66% 19%,
                          -10% 24%,
                          110% 24%,
                           50% 26%,
                           35% 30%,
                           65% 30%,
                           50% 22%,
                           35% 70.5%,
                           65% 70.5%,
                           66% 72%,
                          -10% 78%,
                          110% 78%,
                           50% 77%,
                           35% 80%,
                           65% 80%,
                           50% 78%,
                           0 0
      background-clip: border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       padding-box
      border-radius: 50px
      border: 8px solid transparent
      box-shadow: inset 0 -4px 0 sienna

    &:after
      box-sizing: border-box
      width: 90px
      height: 260px
      left 100px
      top: -8px
      background-repeat: no-repeat
      background-image: radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        linear-gradient(30deg, silver 20%, transparent 20%),
                        linear-gradient(to right, mediumvioletred 50%, darken(mediumvioletred,10) 50%),
                        linear-gradient(to right, mediumvioletred 50%, darken(mediumvioletred,10) 50%),
                        linear-gradient(to bottom, silver 50%, darken(silver,15) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        linear-gradient(to right, silver 50%, darken(silver,20) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        linear-gradient(30deg, silver 20%, transparent 20%),
                        linear-gradient(to right, mediumvioletred 50%, darken(mediumvioletred,10) 50%),
                        linear-gradient(to right, mediumvioletred 50%, darken(mediumvioletred,10) 50%),
                        linear-gradient(to bottom, silver 50%, darken(silver,15) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        radial-gradient(circle, black(.3) 50%, black(0) 50%),
                        linear-gradient(to right, silver 50%, darken(silver,20) 50%),
                        linear-gradient(20deg, midnightblue, darkturquoise)
      background-size: 6px 6px,
                       6px 6px,
                       20px 20px,
                       15px 25px,
                       15px 25px,
                       60px 10px,
                       6px 6px,
                       6px 6px,
                       30px 30px,
                       6px 6px,
                       6px 6px,
                       20px 20px,
                       15px 25px,
                       15px 25px,
                       60px 10px,
                       6px 6px,
                       6px 6px,
                       30px 30px,
                       100% 100%
      background-position: 35% 20%,
                           65% 20%,
                           66% 19%,
                          -10% 24%,
                          110% 24%,
                           50% 26%,
                           35% 30%,
                           65% 30%,
                           50% 22%,
                           35% 70.5%,
                           65% 70.5%,
                           66% 72%,
                          -10% 78%,
                          110% 78%,
                           50% 77%,
                           35% 80%,
                           65% 80%,
                           50% 78%,
                           0 0
      background-clip: border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       border-box,
                       padding-box
      border-radius: 50px
      border: 8px solid transparent
      box-shadow: inset 0 -4px 0 sienna
