/*-----------------------------

Shirt Tag

-----------------------------*/

#shirt-tag
  background: #666

  div
    width: 180px
    height: 136px
    margin-left: -(@width/2)
    margin-top: -(@height/2)

    background: #aaa
    border-radius: 6px / 60px

    box-shadow: inset 0 -15px 30px black(.35),
                inset -170px 0 0 #eee,
                inset 0 25px 5px black(.3.5),
                inset 0 40px 5px black(.2),
                -4px 7px 5px black(.4)

    &:before
      width: 220px
      height: 100px
      margin-left: -25px
      margin-top: -4px
      padding: 35px 0 4px 10px

      content: '100% COTTON'
      font-family: Helvetica, Arial, sans-serif
      font-size: 20px
      font-weight: bold
      color: #bbb
      text-shadow: 1px 2px 1px #fff

      background-image: linear-gradient(to bottom, #666 5px,
                                                   black(.5) 5px,
                                                   transparent 10px)

      border-top: 1px dashed #999

    &:after
      width: 40px
      height: 40px
      margin-left: -(@width/2)
      left: 50%
      top: 65px

      background-image: radial-gradient(circle at center, white(0) 10px,
                                                          #bbb 10px,
                                                          #bbb 14px,
                                                          white(0) 14px),
                        radial-gradient(circle at center, #bbb 3px,
                                                          white(0) 3px)

      border: 4px solid #bbb
      box-shadow: 1px 2px 1px #eee