/*-----------------------------

Slice

-----------------------------*/

#slice
  background-color: darkturquoise

  div
    width: 10em
    height: 17em
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat
    background-image: radial-gradient(ellipse, darken(mediumpurple,10) 20%,mediumpurple 21%,
                                               mediumpurple 60%, lighten(mediumpurple, 10) 61%,
                                               lighten(mediumpurple, 10) 70%, alpha(mediumpurple, 0) 71%),
                      radial-gradient(ellipse, white 70%, white(0) 71%),
                      linear-gradient(white, white),
                      radial-gradient(ellipse, darken(mediumpurple,10) 20%,mediumpurple 21%,
                                               mediumpurple 60%, lighten(mediumpurple, 10) 61%,
                                               lighten(mediumpurple, 10) 70%, alpha(mediumpurple, 0) 71%),
                      radial-gradient(ellipse, white 70%, white(0) 71%),
                      linear-gradient(white, white),
                      radial-gradient(ellipse, darken(mediumpurple,10) 20%,mediumpurple 21%,
                                               mediumpurple 60%, lighten(mediumpurple, 10) 61%,
                                               lighten(mediumpurple, 10) 70%, alpha(mediumpurple, 0) 71%),
                      radial-gradient(ellipse, white 70%, white(0) 71%),
                      linear-gradient(white, white),
                      radial-gradient(ellipse, darken(mediumpurple,10) 20%,mediumpurple 21%,
                                               mediumpurple 60%, lighten(mediumpurple, 10) 61%,
                                               lighten(mediumpurple, 10) 70%, alpha(mediumpurple, 0) 71%),
                      radial-gradient(ellipse, white 70%, white(0) 71%),
                      linear-gradient(white, white)
    background-size: 100% 12%, 100% 12%, 100% 8.5%,
                     100% 20%, 100% 20%, 100% 8.5%,
                     100% 12%, 100% 12%, 100% 8.5%,
                     100% 20%, 100% 20%, 100% 8.5%
    background-position: 50% 40%, 50% 30%, 50% 36%,
                         50% 10%, 50% 0, 50% 11%,
                         50% 60%, 50% 70%, 50% 64.5%,
                         50% 90%, 50% 100%, 50% 89%
