/*-----------------------------

Sling

-----------------------------*/

#sling
  background-color: #ddd

  div
    box-sizing: border-box
    width: 150px
    height: 150px
    margin-left: -(@width/2)
    margin-top: (-@height/2 - 55)
    border-radius: 0 0 100px 100px
    border: 16px solid sienna
    border-top: none
    box-shadow: inset  5px -5px 0 5px lighten(sienna,10),
                inset -5px -5px 0 5px lighten(sienna,10),
                0 8px 0 8px darken(saddlebrown,2)

    &:before
      width: 180px
      height: 270px
      left: 50%
      margin-left: -(@width/2)
      background-repeat: no-repeat
      background-image: linear-gradient(to right, black(.2) 50%, transparent 50%),
                        repeating-linear-gradient(to bottom, peru,
                                                             peru 4px,
                                                             saddlebrown 4px,
                                                             saddlebrown 6px),
                        linear-gradient(to left, black(.2) 50%, transparent 50%),
                        repeating-linear-gradient(to bottom, peru,
                                                             peru 4px,
                                                             saddlebrown 4px,
                                                             saddlebrown 6px),
                        radial-gradient(ellipse at center top, transparent 46%,
                                                               peru 46%,
                                                               peru 48%,
                                                               darken(peru,10) 48%,
                                                               darken(peru,10) 50%,
                                                               transparent 50%),
                        linear-gradient(to right, lighten(sienna,10) 25%, 
                                                  sienna 25%,
                                                  sienna 70%,
                                                  darken(saddlebrown,2) 70%),
                        radial-gradient(circle, white(.2) 40%, transparent 40%),
                        radial-gradient(circle, #999 40%, transparent 40%)
      background-size: 40px 30px,
                       40px 30px,
                       40px 30px,
                       40px 30px,
                       210px 290px,
                       36px 108px,
                       20px 20px,
                       50px 50px
      background-position: left  4px top 30px,
                           left  4px top 30px,
                           right 4px top 30px,
                           right 4px top 30px,
                           center 50px,
                           center bottom,
                           right 18px bottom 18px,
                           right bottom

    &:after
      width: 80px
      height: 40px
      left: 50%
      margin-left: -(@width/2)
      top: 217px
      background-color: darken(saddlebrown,10)
      background-repeat: no-repeat
      background-image: linear-gradient(to bottom, peru 50%, darken(peru,10) 50%)
      background-size: 36px 8px
      background-position: center top 16px
      border-top-left-radius: 50px 20px
      border-top-right-radius: 50px 20px
      border-bottom-left-radius: 50px 40px
      border-bottom-right-radius: 50px 40px
