/*-----------------------------

Small

-----------------------------*/

#small
  background-color: deepskyblue
  z-index: 1
  
  div
    width: 20em
    height: 20em
    margin-left: -(@width/2)
    margin-top: -(@height/2 + 2em)
    background: linear-gradient(steelblue, steelblue) 50% 100.2% / 100% 1%,
                radial-gradient(ellipse at 50% 100%, transparent 60%, steelblue 60.5%) 50% 90% / 20% 8%,
                linear-gradient(to right, steelblue 7.5%,
                                          aliceblue 7.5%,
                                          aliceblue 48%,
                                          steelblue 48%,
                                          steelblue 52%,
                                          aliceblue 52%,
                                          aliceblue 92.5%,
                                          steelblue 92.5%) 50% 100% / 20% 17%,
                conic-gradient(at 50% 0%, powderblue 154deg,
                                          aliceblue 154deg 206deg,
                                          powderblue 206deg) 44.5% 81% / 10% 10%,
                conic-gradient(at 50% 0%, powderblue 154deg,
                                          aliceblue 154deg 206deg,
                                          powderblue 206deg) 55.5% 81% / 10% 10%,
                conic-gradient(at 50% 100%, aliceblue 26deg,
                                            powderblue 26deg 334deg,
                                            aliceblue 334deg) 44.5% 70% / 10% 10%,
                conic-gradient(at 50% 100%, powderblue 26deg,
                                            aliceblue 26deg 334deg,
                                            powderblue 334deg) 55.5% 70% / 10% 10%,
                linear-gradient(to right, aliceblue 10%,
                                          powderblue 10%,
                                          powderblue 20%,
                                          transparent 20%,
                                          transparent 90%,
                                          powderblue 90%) 44.5% 54% / 10% 20%,
                linear-gradient( to left, aliceblue 10%,
                                          powderblue 10%,
                                          powderblue 20%,
                                          transparent 20%,
                                          transparent 90%,
                                          powderblue 90%) 55.5% 54% / 10% 20%,
                linear-gradient(to bottom, steelblue 6%,
                                           transparent 6%) 50% 61% / 19% 13%,
                repeating-linear-gradient( 45deg, transparent,
                                                  transparent 4%,
                                                  steelblue 4%,
                                                  steelblue 6%) 50% 61% / 19% 13%,
                repeating-linear-gradient(-45deg, transparent,
                                                  transparent 4%,
                                                  steelblue 4%,
                                                  steelblue 6%) 50% 61% / 19% 13%,
                radial-gradient(circle at 55% 100%, transparent 30.3%,
                                                    powderblue 30.5%,
                                                    powderblue 39.2%,
                                                    aliceblue 39.4%) 44.5% 36.9% / 10% 10%,
                radial-gradient(circle at 45% 100%, transparent 30.3%,
                                                    powderblue 30.5%,
                                                    powderblue 39.2%,
                                                    aliceblue 39.4%) 55.5% 36.9% / 10% 10%,
                conic-gradient(at 50% 0%, transparent 148deg,
                                          powderblue 148deg 212deg,
                                          transparent 212deg) 44.5% 27.5% / 10% 8%,
                conic-gradient(at 50% 0%, transparent 148deg,
                                          khaki 148deg 212deg,
                                          transparent 212deg) 55.5% 27.5% / 10% 8%,
                conic-gradient(at 0 50%, transparent 65deg,
                                         khaki 65deg 116deg,
                                         transparent 116deg) 43.6% 20% / 3% 3%,
                conic-gradient(at 0 50%, transparent 65deg,
                                         khaki 65deg 116deg,
                                         transparent 116deg) 53.8% 20% / 3% 3%,
                linear-gradient(aliceblue, aliceblue) 45% 22% / .5% 6%,
                linear-gradient(aliceblue, aliceblue) 55% 22% / .5% 6%,
                radial-gradient(ellipse at 50% 0, aliceblue 61%, powderblue 61.5%) 33.5% 100% / 10% 20%,
                radial-gradient(circle at 0 100%, transparent 65%, khaki 65.5%) 35.7% 67.5% / 5% 5%,
                radial-gradient(circle at 40% 50%, powderblue 30%, transparent 30.5%) 33.5% 75% / 10% 10%,
                radial-gradient(circle at 30% 55%, khaki 14%, transparent 14.5%) 33.5% 80% / 10% 10%,
                radial-gradient(circle at 70% 55%, powderblue 14%, transparent 14.5%) 33.5% 80% / 10% 10%,
                linear-gradient(to top, powderblue 5%, aliceblue 5%) 33.5% 76% / 10% 17%,
                radial-gradient(circle, white 40%, powderblue 40.5%) 33.5% 59% / 10% 10%,
                conic-gradient(at 50% 0%, transparent 166.5deg,
                                          khaki 166.5deg 194deg,
                                          transparent 194deg) 33.5% 41.4% / 10% 20%,
                radial-gradient(circle, khaki 20%, transparent 20.5%) 33.5% 31% / 10% 10%,
                conic-gradient(at 50% 0%, aliceblue 164deg,
                                          steelblue 164deg 196.5deg,
                                          aliceblue 196.5deg) 22.5% 100% / 10% 17%,
                conic-gradient(at 50% 100%, steelblue 16deg,
                                            powderblue 16deg 344deg,
                                            steelblue 344deg) 22.5% 80% / 10% 17%,
                linear-gradient(to right, powderblue 50%, aliceblue 50%) 22.5% 64% / 10% 7%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 22.5% 43% / 10% 10%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 22.5% 46% / 10% 10%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 22.5% 49% / 10% 10%,
                linear-gradient(steelblue, steelblue) 25.1% 48% / .6% 10%,
                linear-gradient(to right, aliceblue 20%,
                                          transparent 20%,
                                          transparent 80%,
                                          aliceblue 80%) 66.5% 100% / 10% 42%,
                repeating-linear-gradient(to bottom, aliceblue,
                                                     aliceblue 5%,
                                                     powderblue 5%,
                                                     powderblue 10%) 66.5% 100% / 10% 42%,
                linear-gradient(to right, khaki 50%, steelblue 50%) 66.5% 56% / 10% 5%,
                linear-gradient(to left, powderblue 50%, steelblue 50%) 66.5% 51% / 10% 5%,
                linear-gradient(khaki, khaki) 65% 38% / .6% 6%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 66.7% 35% / 10% 10%,
                radial-gradient(circle at 50% 100%, transparent 50.6%,
                                                    powderblue 50.8%,
                                                    powderblue 59.2%,
                                                    aliceblue 59.4%) 77.6% 85% / 10% 5%,
                linear-gradient(to right, aliceblue 8%,
                                          powderblue 8%,
                                          powderblue 14%,
                                          transparent 14%,
                                          transparent 86%,
                                          powderblue 86%,
                                          powderblue 92%,
                                          aliceblue 92%) 77.6% 100% / 10% 14.5%,
                repeating-linear-gradient( 45deg, transparent,
                                                  transparent 4%,
                                                  steelblue 4%,
                                                  steelblue 6%) 77.6% 100% / 10% 18%,
                repeating-linear-gradient(-45deg, transparent,
                                                  transparent 4%,
                                                  steelblue 4%,
                                                  steelblue 6%) 77.6% 100% / 10% 18%,
                linear-gradient( 57deg, transparent 47%,
                                        steelblue 47.5%,
                                        steelblue 52.5%,
                                        transparent 53%) 77.6% 77.5% / 10% 15%,
                linear-gradient(-57deg, transparent 47%,
                                        steelblue 47.5%,
                                        steelblue 52.5%,
                                        transparent 53%) 77.6% 77.5% / 10% 15%,
                linear-gradient(khaki, khaki) 77.6% 77.5% / 10% 15%,
                linear-gradient(to right, steelblue 50%, powderblue 50%) 77.6% 64% / 10% 7%,
                radial-gradient(circle at 50% 100%, powderblue 71%,
                                                    transparent 71.5%) 77.6% 56.5% / 10% 5%,
                linear-gradient(aliceblue, aliceblue) 77.6% 59% / 10% 2%,
                linear-gradient(khaki, khaki) 75% 52% / .6% 6%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 77.65% 52% / 10% 10%,
                radial-gradient(circle at 50% 100%, transparent 50.6%,
                                                    aliceblue 50.8%,
                                                    aliceblue 59.2%,
                                                    powderblue 59.4%) 11.5% 85% / 10% 5%,
                linear-gradient(to right, powderblue 8%,
                                          aliceblue 8%,
                                          aliceblue 14%,
                                          transparent 14%,
                                          transparent 86%,
                                          aliceblue 86%,
                                          aliceblue 92%,
                                          powderblue 92%) 11.5% 100% / 10% 14.5%,
                repeating-linear-gradient( 45deg, transparent,
                                                  transparent 4%,
                                                  steelblue 4%,
                                                  steelblue 6%) 11.5% 100% / 10% 18%,
                repeating-linear-gradient(-45deg, transparent,
                                                  transparent 4%,
                                                  steelblue 4%,
                                                  steelblue 6%) 11.5% 100% / 10% 18%,
                linear-gradient( 57deg, transparent 47%,
                                        powderblue 47.5%,
                                        powderblue 52.5%,
                                        transparent 53%) 11.5% 77.5% / 10% 15%,
                linear-gradient(-57deg, transparent 47%,
                                        powderblue 47.5%,
                                        powderblue 52.5%,
                                        transparent 53%) 11.5% 77.5% / 10% 15%,
                linear-gradient(aliceblue, aliceblue) 11.5% 77.5% / 10% 15%,
                linear-gradient(to left, steelblue 50%, powderblue 50%) 11.5% 64% / 10% 7%,
                radial-gradient(circle at 50% 100%, khaki 71%,
                                                    transparent 71.5%) 11.5% 56.5% / 10% 5%,
                linear-gradient(aliceblue, aliceblue) 11.5% 59% / 10% 2%,
                linear-gradient(khaki, khaki) 15% 52% / .6% 6%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 11.2% 52% / 10% 10%,
                conic-gradient(at 50% 0%, aliceblue 164deg,
                                          steelblue 164deg 196.5deg,
                                          aliceblue 196.5deg) 88.5% 100% / 10% 17%,
                conic-gradient(at 50% 100%, aliceblue 16deg,
                                            powderblue 16deg 344deg,
                                            aliceblue 344deg) 88.5% 80% / 10% 17%,
                linear-gradient(to bottom, aliceblue 50%, khaki 50%) 88.5% 64% / 10% 7%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 88.5% 43% / 10% 10%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 88.5% 46% / 10% 10%,
                radial-gradient(circle, khaki 13%, transparent 13.5%) 88.5% 49% / 10% 10%,
                linear-gradient(steelblue, steelblue) 84.9% 48% / .6% 10%
    background-repeat: no-repeat
    
    &::before
      width: 8%
      height: 8%
      right: 31%
      top: 41.5%
      background-color: khaki
      border-radius: 50%
      border-top-right-radius: 0
      box-shadow: -7.2em -4em 0 steelblue,
                   1.2em 4.4em 0 steelblue
      transform: rotate(-45deg)
      z-index: -1

    &::after
      width: 13%
      height: 13%
      left: 50%
      margin-left: -(@width/2)
      top: 47%
      background: linear-gradient( 140deg, transparent 57%,
                                           powderblue 57%,
                                           powderblue 63%,
                                           transparent 63%) 0 0 / 50% 28.5%,
                  linear-gradient(-140deg, transparent 57%,
                                           powderblue 57%,
                                           powderblue 63%,
                                           transparent 63%) 100% 0 / 50% 28.5%,
                  linear-gradient(powderblue, powderblue) 50% 28% / 68% 3%,
                  radial-gradient(circle, powderblue 50%, transparent 50.5%) 38% 35% / 10% 10%,
                  radial-gradient(circle, powderblue 50%, transparent 50.5%) 62% 35% / 10% 10%,
                  radial-gradient(circle at 50% 0, transparent 38.2%,
                                                   powderblue 40%,
                                                   powderblue 54%,
                                                   transparent 54.2%) 30% 49% / 30% 15%,
                  radial-gradient(circle at 50% 0, transparent 38.2%,
                                                   powderblue 40%,
                                                   powderblue 54%,
                                                   transparent 54.2%) 70% 49% / 30% 15%,
                  linear-gradient(powderblue, powderblue) 25.5% 32% / 3% 14%,
                  linear-gradient(powderblue, powderblue) 46% 32% / 3% 14%,
                  linear-gradient(powderblue, powderblue) 55% 32% / 3% 14%,
                  linear-gradient(powderblue, powderblue) 75% 32% / 3% 14%,
                  linear-gradient(aliceblue, aliceblue) 50% 55% / 3% 42%,
                  linear-gradient(powderblue, powderblue) 50% 55% / 8% 48%,
                  radial-gradient(circle, khaki 50%, transparent 50.5%) 6% 70% / 30% 30%,
                  radial-gradient(circle, khaki 50%, transparent 50.5%) 94% 70% / 30% 30%,
                  radial-gradient(circle at 50% 0, transparent 39%,
                                                   powderblue 39.2%,
                                                   powderblue 45%,
                                                   transparent 45.2%) 50% 100% / 110% 40%
      background-color: aliceblue
      background-repeat: no-repeat
      border-radius: 50%
      box-shadow: 0 .15em 0 alpha(steelblue,.7)
