/*-----------------------------

Smelly

-----------------------------*/

#smelly
  background-color: darken(honeydew,5)
  font-size: 10px
  background-repeat: repeat-x
  background-image: linear-gradient( 60deg, limegreen 0%, darkkhaki 15%,
                                            darken(plum,10) 20%, alpha(plum,0) 21%),
                    linear-gradient( 60deg, limegreen 0%, darkkhaki 15%,
                                            darken(plum,10) 20%, alpha(plum,0) 21%),
                    linear-gradient(-60deg, limegreen 0%, darkkhaki 15%,
                                            darken(plum,10) 20%, alpha(plum,0) 21%),
                    linear-gradient(-60deg, limegreen 0%, darkkhaki 15%,
                                            darken(plum,10) 20%, alpha(plum,0) 21%),
                    radial-gradient(ellipse, khaki 0%, lightgreen 35%, alpha(lightgreen,0) 36%),
                    linear-gradient( 50deg, alpha(olivedrab,0) 6%, limegreen 7%,
                                            darkolivegreen 25%, transparent 26%),
                    linear-gradient(-50deg, alpha(olivedrab,0) 6%, limegreen 7%,
                                            darkolivegreen 25%, transparent 26%),
                    linear-gradient( 60deg, limegreen 5%,  darkolivegreen 25%, transparent 26%),
                    linear-gradient(-60deg, limegreen 5%, darkolivegreen 25%, transparent 26%),
                    linear-gradient( 240deg, limegreen 7%, darkolivegreen 20%, transparent 20%),
                    linear-gradient(-240deg, limegreen 7%, darkolivegreen 20%, transparent 20%),
                    linear-gradient( 55deg, limegreen 15%, darken(plum,15) 25%, alpha(plum,0) 26%),
                    linear-gradient(-55deg, limegreen 15%, darken(plum,15) 25%, alpha(plum,0) 26%),
                    linear-gradient(-70deg, limegreen 5%, darkolivegreen 18%, transparent 19%),
                    linear-gradient( 70deg, limegreen 5%, darkolivegreen 18%, transparent 19%),
                    linear-gradient(-70deg, limegreen 5%, darkolivegreen 18%, transparent 19%),
                    linear-gradient( 70deg, limegreen 5%, darkolivegreen 18%, transparent 19%),
                    linear-gradient( 55deg, limegreen 15%, darken(plum,15) 25%, alpha(plum,0) 26%),
                    linear-gradient(-55deg, limegreen 15%, darken(plum,15) 25%, alpha(plum,0) 26%),
                    linear-gradient( 70deg, limegreen 0, darkkhaki 12%,
                                            darken(plum,10) 18%, alpha(plum,0) 19%),
                    linear-gradient(-70deg, limegreen 0, darkkhaki 12%,
                                            darken(plum,10) 18%, alpha(plum,0) 19%),
                    linear-gradient(-50deg, limegreen 15%, darkolivegreen 29%, transparent 30%),
                    linear-gradient( 50deg, limegreen 15%, darkolivegreen 29%, transparent 30%),
                    linear-gradient(-50deg, limegreen 15%, darkolivegreen 29%, transparent 30%),
                    linear-gradient( 50deg, limegreen 15%, darkolivegreen 29%, transparent 30%),
                    linear-gradient(to right, darken(honeydew,5) 25%,
                                              black(.3) 25%,
                                              black(0) 45%,
                                              black(0) 55%,
                                              black(.3) 75%,
                                              darken(honeydew,5) 75%),
                    linear-gradient(to bottom, darkolivegreen, limegreen)
  background-size: 6em 3em, 6em 3em, 6em 3em, 6em 3em,
                   6em 3em,
                   6em 5em, 6em 5em,
                   6em 3em, 6em 3em,
                   6em 2em, 6em 2em,
                   6em 3em, 6em 3em,
                   6em 3em, 6em 3em,
                   6em 3em, 6em 3em,
                   6em 3em, 6em 3em,
                   6em 3em, 6em 3em,
                   6em 3em, 6em 3em,
                   6em 3em, 6em 3em,
                   6em calc(100% - 15em), 100% calc(100% - 15em)
  background-position: calc(50% + 1.2em) 17em, calc(50% + 1.2em) 27em, 
                       calc(50% - 1.2em) 12em, calc(50% - 1.2em) 22em,
                       left 50% bottom 3.5em,
                       calc(50% + .5em) 5.5em, calc(50% - .5em) 5.9em,
                       calc(50% + 3em) 7em, calc(50% - 3em) 7em,
                       calc(50% + 3em) 10em, calc(50% - 3em) 10em,
                       calc(50% + .8em) 6.5em, calc(50% - .8em) 6.5em,
                       calc(50% + 2.2em) 5.6em, calc(50% + 2.2em) 5.6em,
                       calc(50% - 2.2em) 5.6em, calc(50% - 2.2em) 5.6em,
                       calc(50% + 1.1em) 5.3em, calc(50% - 1.1em) 5.3em,
                       calc(50% + 2.9em) 4em, calc(50% - 2.9em) 4em,
                       calc(50% - 1.6em) 4.6em, calc(50% + 1.6em) 4.6em,
                       calc(50% - 2.1em) 4.1em, calc(50% + 2.1em) 4.1em,
                       50% 10em, 50% 10em
