/*-----------------------------

Snack

-----------------------------*/

#snack
  background-image: radial-gradient(circle at 32.0% 30.0%, khaki 2.0%, alpha(khaki,0) 2.1%),
                    radial-gradient(circle at 33.5% 31.5%, alpha(orangered,.2) 0, alpha(khaki,0) 3%),
                    radial-gradient(circle at 62.0% 25.0%, khaki 1.5%, alpha(khaki,0) 1.6%),
                    radial-gradient(circle at 63.5% 26.5%, alpha(orangered,.2) 0, alpha(khaki,0) 2%),
                    radial-gradient(circle at 27.0% 45.0%, khaki 1.5%, alpha(khaki,0) 1.6%),
                    radial-gradient(circle at 28.5% 46.5%, alpha(orangered,.2) 0, alpha(khaki,0) 2%),
                    radial-gradient(circle at 72.0% 50.0%, khaki 2.0%, alpha(khaki,0) 2.1%),
                    radial-gradient(circle at 73.5% 51.5%, alpha(orangered,.2) 0, alpha(khaki,0) 3%),
                    radial-gradient(circle at 55.0% 65.0%, khaki 1.7%, alpha(khaki,0) 1.8%),
                    radial-gradient(circle at 56.5% 66.5%, alpha(orangered,.2) 0, alpha(khaki,0) 2.5%),
                    radial-gradient(circle at 35.0% 73.0%, khaki 2.0%, alpha(khaki,0) 2.1%),
                    radial-gradient(circle at 36.5% 74.5%, alpha(orangered,.2) 0, alpha(khaki,0) 3%),
                    radial-gradient(circle at 12.6% 12.6%, orange 2%, alpha(orange,0) 2.3%),
                    radial-gradient(circle at top left, crimson 11.5%, alpha(crimson,0) 11.5%),
                    radial-gradient(circle at 87.4% 12.6%, orange 2%, alpha(orange,0) 2.3%),
                    radial-gradient(circle at top right, crimson 11.5%, alpha(crimson,0) 11.5%),
                    radial-gradient(circle at 12.6% 87.4%, orange 2%, alpha(orange,0) 2.3%),
                    radial-gradient(circle at bottom left, crimson 11.5%, alpha(crimson,0) 11.5%),
                    radial-gradient(circle at 87.4% 87.4%, alpha(orangered,.6) 2%, alpha(orangered,0) 2.3%),
                    radial-gradient(circle at 87.4% 87.4%, orange 2%, alpha(orange,0) 2.2%),
                    radial-gradient(circle at bottom right, crimson 11.5%, alpha(crimson,0) 11.5%),
                    radial-gradient(circle at 25.0% 95%, crimson 1.5%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 37.5% 95%, crimson 1.5%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 50.0% 95%, crimson 1.7%, alpha(crimson,0) 2.7%),
                    radial-gradient(circle at 62.5% 95%, crimson 1.5%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 75.0% 95%, crimson 1.5%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 25.0%  8%, crimson 1.5%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 37.5%  8%, crimson 1.5%, alpha(crimson,0) 2.7%),
                    radial-gradient(circle at 50.0%  8%, crimson 1.7%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 62.5%  8%, crimson 1.5%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 75.0%  8%, crimson 1.5%, alpha(crimson,0) 2.5%),
                    linear-gradient(to bottom, crimson 7%, alpha(crimson,0) 10%),
                    linear-gradient(to bottom, firebrick 10%, alpha(firebrick,0) 10%),
                    linear-gradient(to bottom, crimson 10%, alpha(crimson,0) 10%),
                    linear-gradient(to    top, crimson 5%, alpha(crimson,0) 8%),
                    linear-gradient(to    top, firebrick 10%, alpha(firebrick,0) 10%),
                    linear-gradient(to    top, crimson 10%, alpha(crimson,0) 10%),
                    linear-gradient(to   left, crimson 10%, alpha(crimson,0) 10%),
                    linear-gradient(to   right, crimson 10%, transparent 10%),
                    radial-gradient(circle at 25.0% 90%, firebrick 2.0%, alpha(firebrick,0) 2.3%),
                    radial-gradient(circle at 37.5% 90%, firebrick 2.0%, alpha(firebrick,0) 2.3%),
                    radial-gradient(circle at 50.0% 90%, firebrick 2.2%, alpha(firebrick,0) 2.5%),
                    radial-gradient(circle at 62.5% 90%, firebrick 2.0%, alpha(firebrick,0) 2.3%),
                    radial-gradient(circle at 75.0% 90%, firebrick 2.0%, alpha(firebrick,0) 2.3%),
                    radial-gradient(circle at 25.0% 10%, firebrick 2.0%, alpha(firebrick,0) 2.3%),
                    radial-gradient(circle at 37.5% 10%, firebrick 2.0%, alpha(firebrick,0) 2.3%),
                    radial-gradient(circle at 50.0% 10%, firebrick 2.2%, alpha(firebrick,0) 2.5%),
                    radial-gradient(circle at 62.5% 10%, firebrick 2.0%, alpha(firebrick,0) 2.3%),
                    radial-gradient(circle at 75.0% 10%, firebrick 2.0%, alpha(firebrick,0) 2.3%),
                    radial-gradient(circle at 10% 25.0%, crimson 2.0%, alpha(crimson,0) 2.3%),
                    radial-gradient(circle at 10% 37.5%, crimson 2.0%, alpha(crimson,0) 2.3%),
                    radial-gradient(circle at 10% 50.0%, crimson 2.2%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 10% 62.5%, crimson 2.0%, alpha(crimson,0) 2.3%),
                    radial-gradient(circle at 10% 75.0%, crimson 2.0%, alpha(crimson,0) 2.3%),
                    radial-gradient(circle at 90% 25.0%, crimson 2.0%, alpha(crimson,0) 2.3%),
                    radial-gradient(circle at 90% 37.5%, crimson 2.0%, alpha(crimson,0) 2.3%),
                    radial-gradient(circle at 90% 50.0%, crimson 2.2%, alpha(crimson,0) 2.5%),
                    radial-gradient(circle at 90% 62.5%, crimson 2.0%, alpha(crimson,0) 2.3%),
                    radial-gradient(circle at 90% 75.0%, crimson 2.0%, alpha(crimson,0) 2.3%),
                    radial-gradient(circle, crimson 4%, alpha(crimson,0) 4.5%),
                    radial-gradient(circle at 52% 47%, alpha(orangered,.4) 5%, alpha(orangered,0) 10%),
                    radial-gradient(circle at 48% 54%, alpha(khaki,.35) 5%, alpha(khaki,0) 10%),
                    radial-gradient(circle at 55% 0%, alpha(orangered,.7) 0%, alpha(orangered,0) 30%),
                    radial-gradient(circle at 0 40%, alpha(orangered,.9) 0%, alpha(orangered,0) 20%),
                    radial-gradient(circle at 0 60%, alpha(orangered,.6) 0%, alpha(orangered,0) 20%),
                    radial-gradient(circle at 100% 35%, alpha(orangered,.6) 0%, alpha(orangered,0) 20%),
                    linear-gradient(to bottom, alpha(khaki,0) 25%,
                                               alpha(khaki,.2) 35%,
                                               alpha(khaki,0) 45%),
                    linear-gradient(to top, alpha(khaki,0) 20%,
                                               alpha(khaki,.1) 30%,
                                               alpha(khaki,0) 45%),
                    radial-gradient(circle at 100% 100%, alpha(orangered,.8) 10%, alpha(orangered,0) 30%),
                    radial-gradient(circle at 40% 100%, alpha(orangered,.3) 10%, alpha(orangered,0) 20%)
  background-position: center center
  background-size: 100px 100px
  background-color: orange

