/*-----------------------------

The Shining Carpet

-----------------------------*/

$sh-orange = #df5f18
$sh-red = #981f24
$sh-brown = #532d22
$sh-height = 400px

#theshining
  height: $sh-height
  position: relative
  overflow: hidden
  background: $sh-orange

  &:before,
  &:after
    content: ''
    width: 100%
    height: $sh-height
    position: absolute
    left: 0
    background-size: 110px 101px
    background-repeat: repeat space

  &:before
    top: -40px
    background-image: linear-gradient( 149deg, $sh-brown 8%, $sh-orange 8%,
                                              $sh-orange 18%, transparent 18%),
                      linear-gradient(-149deg, $sh-brown 8%, $sh-orange 8%,
                                               $sh-orange 18%, transparent 18%),
                      linear-gradient(  90deg, $sh-brown 6.8%, transparent 6.8%,
                                               transparent 93.5%, $sh-brown 93.5%),
                      linear-gradient( 149deg, $sh-brown 29%, transparent 29%),
                      linear-gradient(-149deg, $sh-brown 29%, transparent 29%),
                      linear-gradient( 149deg, $sh-orange 38.7%, transparent 38.7%,
                                               transparent 83%, $sh-orange 83%,
                                               $sh-orange 93%, $sh-brown 93%),
                      linear-gradient(-149deg, $sh-orange 38.7%, transparent 38.7%,
                                               transparent 83%, $sh-orange 83%,
                                               $sh-orange 93%, $sh-brown 93%),
                      linear-gradient(  90deg, $sh-orange 21%, transparent 21%,
                                               transparent 79%, $sh-orange 79%),
                      linear-gradient( 149deg, $sh-brown 49%, transparent 49%,
                                               transparent 73%, $sh-brown 73%),
                      linear-gradient(-149deg, $sh-brown 49%, transparent 49%,
                                               transparent 73%, $sh-brown 73%),
                      linear-gradient(  90deg, $sh-brown 34%, transparent 34%,
                                               transparent 66%, $sh-brown 66%),
                      linear-gradient(to bottom, transparent 10%, $sh-red 10%,
                                                 $sh-red 90%, transparent 90%)

  &:after
    top: 54px
    // These background-positions are needed for Windows browsers for some reason :scream:
    background-position: 55px 1px, 55px 1px,
                         55px 0, 55px 0, 55px 0,
                         55px -1px, 55px -1px,
                         55px 0, 55px 0, 55px 0, 55px 0
    background-image: linear-gradient( 31deg, $sh-brown 8.4%, $sh-orange 8.4%,
                                              $sh-orange 17.4%, transparent 17.4%),
                      linear-gradient(-31deg, $sh-brown 8.4%, $sh-orange 8.4%,
                                              $sh-orange 17.4%, transparent 17.4%),
                      linear-gradient( 90deg, $sh-brown 7%, transparent 7%,
                                              transparent 93%, $sh-brown 93%),
                      linear-gradient( 31deg, transparent 17%, $sh-brown 17%,
                                              $sh-brown 29%, transparent 29%),
                      linear-gradient(-31deg, transparent 17%, $sh-brown 17%,
                                              $sh-brown 29%, transparent 29%),
                      linear-gradient( 31deg, $sh-orange 39%, transparent 39%,
                                              transparent 83%, $sh-orange 83%,
                                              $sh-orange 93%, $sh-brown 93%),
                      linear-gradient(-31deg, $sh-orange 38.5%, transparent 38.5%,
                                              transparent 83%, $sh-orange 83%,
                                              $sh-orange 93%, $sh-brown 93%),
                      linear-gradient( 90deg, $sh-orange 21%, transparent 21%,
                                              transparent 79%, $sh-orange 79%),
                      linear-gradient( 31deg, transparent 30%,
                                              $sh-brown 30%, $sh-brown 49%,
                                              transparent 49%, transparent 73%,
                                              $sh-brown 73%, $sh-brown 85%,
                                              transparent 85%),
                      linear-gradient(-31deg, transparent 30%,
                                              $sh-brown 30%, $sh-brown 49%,
                                              transparent 49%, transparent 73%,
                                              $sh-brown 73%, $sh-brown 85%,
                                              transparent 85%),
                      linear-gradient( 90deg, $sh-brown 34%, transparent 34%,
                                              transparent 66%, $sh-brown 66%),
                      linear-gradient(to bottom, transparent 10%, $sh-red 10%,
                                                 $sh-red 90%, transparent 90%)
    background-repeat: repeat space
