/*-----------------------------

Tread

-----------------------------*/

#tread
  background-color: #444
  overflow: hidden

  div
    width: 300px
    height: 100%
    margin-left: -(@width/2)
    top: 0
    background-repeat: no-repeat
    background-image: linear-gradient(to right, black(0), black(.2)),
                      linear-gradient(to right, black(.15), black(.15)),
                      linear-gradient(to right, white(.05), white(.05)),
                      linear-gradient(to right, black(.15), black(.15)),
                      linear-gradient(to right, white(.05), white(.05)),
                      linear-gradient(to right, black(.15), black(.15)),
                      linear-gradient(to right, white(.05), white(.05)),
                      linear-gradient(to right, black(.15), black(.15)),
                      linear-gradient(to right, white(.1), white(.1)),
                      linear-gradient(to right, black(.2), black(.2)),
                      linear-gradient(to right, white(.1), white(.1)),
                      linear-gradient(to right, black(.2), black(.2)),
                      linear-gradient(to right, white(.15), white(.15)),
                      linear-gradient(to right, black(.2), black(.2)),
                      linear-gradient(   10deg, white(.25) 85%, white(0) 85%),
                      linear-gradient(to right, white(.15), white(.15)),
                      linear-gradient(to right, black(.2), black(.2)),
                      linear-gradient(   15deg, white(.3) 85%, white(0) 85%),
                      linear-gradient(to right, white(.15), white(.15)),
                      linear-gradient(to right, black(.2), black(.2)),
                      linear-gradient(to right, black(.4), black(0))
    background-size: 60px 100%,
                     20px 4px,
                     30px 1px,
                     30px 6px,
                     48px 2px,
                     48px 12px,
                     72px 2px,
                     72px 18px,
                     96px 3px,
                     96px 24px,
                     118px 3px,
                     118px 28px,
                     144px 3px,
                     144px 32px,
                     165px 6px,
                     165px 4px,
                     165px 36px,
                     200px 10px,
                     200px 5px,
                     200px 40px,
                     240px 100%
    background-position: 0 0,
                         left 60px bottom 235px,
                         left 60px bottom 234px,
                         left 60px bottom 228px,
                         left 60px bottom 226px,
                         left 60px bottom 214px,
                         left 60px bottom 212px,
                         left 60px bottom 194px,
                         left 60px bottom 191px,
                         left 60px bottom 167px,
                         left 60px bottom 164px,
                         left 60px bottom 136px,
                         left 60px bottom 133px,
                         left 60px bottom 101px,
                         left 60px bottom 95px,
                         left 60px bottom 91px,
                         left 60px bottom 55px,
                         left 60px bottom 45px,
                         left 60px bottom 40px,
                         left 60px bottom,
                         right bottom

    &:before
      width: 30px
      height: 50px
      left: 100px
      top: 35px
      background-color: black(.45)
      background-repeat: no-repeat
      background-image: radial-gradient(circle, white(.6) 30%, white(0) 60%)
      background-size: 10px 10px
      background-position: right 5px top 10px
      border-radius: 20px 20px 0 0
      box-shadow: inset 5px 0 0 white(.2)
