/*-----------------------------

Treat

-----------------------------*/

$treat = #e22020
$treat2 = #b71a1a
$treat3 = #931515
$treat4 = #700d0d

#treat
  font-size: 75px
  background: conic-gradient(from 0deg at 92% 2%, gold 0% 25%, alpha(gold,0) 0%) -1.3em .33em,
              conic-gradient(from 0deg at 92% 2%, gold 0% 25%, alpha(gold,0) 0%) 2.15em .33em,
              radial-gradient(circle at 50% 0, alpha(gold,0) 11.8%,
                                               gold 11.9%,
                                               gold 13.5%,
                                               alpha(gold,0) 13.6%) -.73em .37em,
              conic-gradient(from 0deg at 92% 2%, gold 0% 25%, alpha(gold,0) 0%) 1.11em 1.9em,
              conic-gradient(from 0deg at 92% 2%, gold 0% 25%, alpha(gold,0) 0%) 1.95em 1.9em,
              radial-gradient(circle at 50% 0, alpha(gold,0) 11.8%,
                                               gold 11.9%,
                                               gold 13.5%,
                                               alpha(gold,0) 13.6%) .37em 1.95em,
              conic-gradient(from 270deg at 55.5% 14%, $treat2 0% 17%, transparent 0%) -.14em 2.701em,
              conic-gradient(from 90deg at 75.5% 86%, $treat2 0% 19%, transparent 0%) .011em 0,
              conic-gradient(from 270deg at 20% 14%, $treat4 0% 25%, transparent 0%) 1.625em 2.701em,
              conic-gradient(from 90deg at 70% 14%,  transparent 83%, $treat3 0%) -.11em 2.701em,
              radial-gradient(ellipse at 50% 105%, alpha(gold,0) 10%,
                                                   gold 10.2%,
                                                   gold 14%,
                                                   alpha(gold,0) 14.2%) -1.11em 5.96em,
              radial-gradient(ellipse at 50% 105%, alpha(gold,0) 10%,
                                                   gold 10.2%,
                                                   gold 14%,
                                                   alpha(gold,0) 14.2%) -.72em 5.96em,
              conic-gradient(from 0deg at 94% 5%, gold 0% 25%, alpha(gold,0) 0%) -1.9em 2.6em,
              linear-gradient(-20deg, gold 2.4%,
                                      alpha(gold,0) 2.5%) 1.93em 5.85em,
              linear-gradient( 20deg, gold 2.4%,
                                      alpha(gold,0) 2.5%) .5em 5.85em,
              conic-gradient(from 270deg at 55.5% 14%, $treat2 0% 17%, transparent 0%) .942em 1.115em,
              conic-gradient(from 90deg at 60.5% 86%, $treat2 0% 19%, transparent 0%) -.71em -1.586em,
              conic-gradient(from 270deg at 20% 14%, $treat4 0% 25%, transparent 0%) .58em 1.115em,
              conic-gradient(from 90deg at 55.5% 14%, transparent 83%, $treat3 0%) -.85em 1.115em,
              conic-gradient(from 270deg at 64% 41%, $treat 0% 25%, transparent 0%) .76em 1.55em,
              conic-gradient(from 270deg at 65% 41%, $treat2 0% 25%, transparent 0%) .34em 1.55em,
              radial-gradient(ellipse at 50% 105%, alpha(gold,0) 10%,
                                                   gold 10.2%,
                                                   gold 14%,
                                                   alpha(gold,0) 14.2%) -.06em 1.2em,
              radial-gradient(ellipse at 50% 105%, transparent 10%,
                                                   gold 10.2%,
                                                   gold 14%,
                                                   transparent 14.2%) .34em 1.2em,
              conic-gradient(from 0deg at 94% 5%, gold 0% 25%, alpha(gold,0) 0%) 1.28em -2.15em,
              linear-gradient(-20deg, gold 2.4%,
                                      alpha(gold,0) 2.5%) .85em 1.12em,
              linear-gradient( 20deg, gold 2.4%,
                                      alpha(gold,0) 2.5%) 1.58em 1.12em,
              conic-gradient(from 270deg at 49% 41%, $treat 0% 25%, transparent 0%) 0 0,
              conic-gradient(from 0deg at 83.5% 41%, $treat 0% 25%, transparent 0%) 0.02em 0,
              conic-gradient(from 0deg at 64% 41%, $treat2 0% 25%, transparent 0%) 0.02em 0
  background-size: 2.14em 3.14em
  background-color: black

