/*-----------------------------

Witchy

-----------------------------*/

#witchy
  background-color: darkslateblue

  div
    width: 20em
    height: @width
    margin-left: -(@width/2)
    margin-top: -(@width/2)
    background: radial-gradient(circle, black(0) 45%,
                                        gold 46% 50%,
                                        black(0) 52%) 43% 38% / 15% 15%,
                linear-gradient(gold, gold) 50% 40% / 2% .7%,
                radial-gradient(circle, black(0) 45%,
                                        gold 46% 50%,
                                        black(0) 52%) 57% 38% / 15% 15%,
                conic-gradient(at 50% 0, alpha(mediumslateblue,0) 160.5deg,
                                         lighten(mediumslateblue,2) 161deg 198deg,
                                         alpha(mediumslateblue,0) 198.5deg) 50% 8% / 20% 30%,
                linear-gradient(lighten(mediumslateblue,2),
                                lighten(mediumslateblue,2)) 50% 35% / 30% 2%,
                radial-gradient(circle at 50% 0, black(0) 47%,
                                                 black 48% 57%,
                                                 black(0) 58%) 50% 47.5% / 8% 4%,
                radial-gradient(circle, black 50%, black(0) 52%) 47% 40% / 3% 3%,
                radial-gradient(circle, black 50%, black(0) 52%) 53% 40% / 3% 3%,
                radial-gradient(circle, seagreen 50%, alpha(seagreen,0) 51%) 45.5% 44.5% / 6% 6%,
                radial-gradient(circle, seagreen 50%, alpha(seagreen,0) 51%) 54.5% 44.5% / 6% 6%,
                radial-gradient(ellipse at 50% 0, mediumseagreen 40%,
                                                  alpha(mediumseagreen,0) 40.5%) 50% 50% / 30% 30%,
                linear-gradient( 100deg, black(0) 40%, black 40.5%) 40% 40% / 20% 15%,
                linear-gradient(-100deg, black(0) 40%, black 40.5%) 60% 40% / 20% 15%,
                linear-gradient(sandybrown, sandybrown) 50% 83.8% / 20% 2%,
                linear-gradient(to bottom, sandybrown 50%, peru 50%) 50% 81.8% / 17% 3%,
                radial-gradient(ellipse at   0%   0%, white(0) 66%, white 68%) 42% 69.5% / 1.5% 2.5%,
                radial-gradient(ellipse at 100%   0%, white(0) 66%, white 68%) 43.54% 69.5% / 1.5% 2.5%,
                radial-gradient(ellipse at   0% 100%, white(0) 66%, white 68%) 42% 72% / 1.5% 2.5%,
                radial-gradient(ellipse at 100% 100%, white(0) 66%, white 68%) 43.54% 72% / 1.5% 2.5%,
                radial-gradient(circle at 0 90%, white(0) 47%,
                                                 white 48% 50%,
                                                 white(0) 51%) 57.8% 68% / 14% 14%,
                radial-gradient(circle, thistle 50%, alpha(thistle,0) 50.5%) 50% 80% / 30% 30%,
                linear-gradient(linen, linen) 10% 78% / 2% 15%,
                linear-gradient(black, black) 10.6% 77% / .5% 16%,
                radial-gradient(circle, alpha(gold,.2) 50%, alpha(thistle,0) 52%) 1% 65% / 20% 20%,
                linear-gradient(linen, linen) 28% 84.5% / 2% 15%,
                linear-gradient(black, black) 28.4% 83.5% / .5% 16%,
                radial-gradient(circle, alpha(gold,.2) 50%, alpha(thistle,0) 52%) 23% 73% / 20% 20%,
                linear-gradient(linen, linen) 72% 85% / 2% 15%,
                linear-gradient(black, black) 71.7% 84% / .5% 16%,
                radial-gradient(circle, alpha(gold,.2) 50%, alpha(thistle,0) 52%) 77% 73% / 20% 20%,
                linear-gradient(linen, linen) 90% 78% / 2% 15%,
                linear-gradient(black, black) 89.3% 77% / .5% 16%,
                radial-gradient(circle, alpha(gold,.2) 50%, alpha(thistle,0) 52%) 99% 65% / 20% 20%,
                linear-gradient(145deg, alpha(mediumslateblue,0) 63%,
                                        lighten(mediumslateblue,2) 63.2%) 65.5% 14.9% / 3% 2.5%,
                linear-gradient(135deg, black(0) 52%,
                                        black 52.1% 61.2%,
                                        black(0) 61.3%) 65% 16.6% / 10% 11%,
                radial-gradient(circle at 0 0, black 59.4%, black(0) 60%) 68% 21% / 5% 5%,
                linear-gradient(135deg, black(0) 20%, black 20%) 64% 21.8% / 3% 3%,
                linear-gradient(130deg, black(0) 58%,
                                        black 59% 70%,
                                        black(0) 71%) 64% 23% / 2% 3%,
                linear-gradient(130deg, black(0) 58%,
                                        black 59% 70%,
                                        black(0) 71%) 65% 23% / 2% 3%,
                linear-gradient( 60deg, black(0) 48%,
                                        black 49% 58%,
                                        black(0) 59%) 64.3% 26% / 3% 3%,
                linear-gradient( 60deg, black(0) 48%,
                                        black 49% 58%,
                                        black(0) 59%) 65.3% 26% / 3% 3%,
                radial-gradient(ellipse at 40% 100%, slateblue 45%, alpha(slateblue,0) 45.2%) 35% -60% / 50% 90%,
                radial-gradient(ellipse at 40% 100%, slateblue 45%, alpha(slateblue,0) 45.2%) 85% -60% / 50% 90%
    background-repeat: no-repeat

    &::before
      width: 2%
      height: 2%
      left: 9.8%
      top: 62.5%
      background-color: gold
      border-radius: 50%
      border-top-left-radius: 0
      box-shadow: -.1em -.1em 0 .2em darkorange,
                  3.3em -1.7em 0 gold,
                  3.2em -1.8em 0 .2em darkorange,
                  9.45em -7.75em 0 gold,
                  9.35em -7.85em 0 .2em darkorange,
                  11.1em -11.05em 0 gold,
                  11em -11.15em 0 .2em darkorange
      transform: rotate(45deg)

    &::after
      width: 2.5%
      height: 5.5%
      right: 31.2%
      top: 14.8%
      background: radial-gradient(circle at 40% 25%, white 3%, white(0) 4%)
      background-color: black
      border-radius: 2em 2em 0 0
