block vars
  - var title = "A Single Div"
  - var description = "A CSS drawing experiment to see what's possible with a single div."

extends layout

block content

  // 16 June 2014
  .entry.wide#mickey-hat
    div

  // 12 June 2014
  .entry.wide#key
    div

  // 11 June 2014
  .entry#soccer
    div

  // 11 June 2014
  .entry#brazil
    div

  // 10 June 2014
  .entry#sushi
    div

  // 9 June 2014
  .entry#marshmallow
    div

  // 7 June 2014
  .entry.wide#battery
    div

  // 30 May 2014
  .entry#breakfast
    div

  // 24 May 2014
  .entry#cpt-america
    div

  // 23 May 2014
  .entry#bloody-mary
    div

  // 22 May 2014
  .entry#camera
    div