block vars
  - var title = "A Single Div"
  - var description = "A CSS drawing experiment to see what's possible with a single div."

extends layout

block content

  //- 24 May 2014
  .entry#cpt-america
    div

  //- 23 May 2014
  .entry#bloody-mary
    div

  //- 22 May 2014
  .entry#camera
    div