/*-----------------------------

iPhone battery

-----------------------------*/

#battery
  background: black

  div
    width: 250px
    height: 120px
    margin-left: -(@width/2 + 5px)
    margin-top: -(@height/2)

    border-radius: 10px/30px

    border-left: 2px solid white(.2)
    border-right: 2px solid white(.2)

    background-image: linear-gradient(to right,
                                      transparent 5%,
                                      #316d08 5%,
                                      #316d08 7%,
                                      #60b939 8%,
                                      #60b939 10%,
                                      #51aa31 11%,
                                      #51aa31 60%,
                                      #64ce11 61%,
                                      #64ce11 63%,
                                      #255405 63%,
                                      black 68%,
                                      black 95%,
                                      transparent 95%),
                      linear-gradient(to bottom,
                                    white(.5) 0%,
                                    white(.4) 4%,
                                    white(.2) 7%,
                                    white(.2) 14%,
                                    white(.8) 14%,
                                    white(.2) 40%,
                                    white(0) 41%,
                                    white(0) 80%,
                                    white(.2) 80%,
                                    white(.4) 86%,
                                    white(.6) 90%,
                                    white(.1) 92%,
                                    white(.1) 95%,
                                    white(.5) 98%)

    &:before
      width: 12px
      height: 55px

      right: -(@width + 2px)
      top: 32px

      border-top-right-radius: 6px 10px
      border-bottom-right-radius: 6px 10px

      background-image: linear-gradient(to bottom,
                                      white(.5) 0%,
                                      white(0) 14%,
                                      white(.8) 14%,
                                      white(.3) 40%,
                                      white(0) 41%,
                                      white(0) 80%,
                                      white(.2) 80%,
                                      white(.4) 86%,
                                      white(.6) 90%,
                                      white(.1) 92%,
                                      white(.1) 95%,
                                      white(.5) 98%)

    &:after
      width: 220px
      height: 120px

      left: 10px

      border-radius: 5px/30px

      border-left: 4px solid black
      border-right: 4px solid black

      background-image: linear-gradient(to bottom,
                                      white(.3) 4%,
                                      white(.2) 5%,
                                      transparent 5%,
                                      transparent 14%,
                                      white(.3) 14%,
                                      white(.12) 40%,
                                      black(.05) 42%,
                                      black(.05) 48%,
                                      transparent 60%,
                                      transparent 80%,
                                      white(.3) 87%,
                                      white(.3) 92%,
                                      transparent 92%,
                                      transparent 97%,
                                      white(.4) 97%),
                        linear-gradient(to left,
                                      white(.2) 0%,
                                      white(.2) 2%,
                                      black 2%,
                                      black 6%,
                                      transparent 6%),
                        linear-gradient(to bottom,
                                      white(0) 0%,
                                      white(0) 35%,
                                      white(.3) 90%,
                                      white(0) 90%)



