/*-----------------------------

Brazil Flag

-----------------------------*/

#brazil
  background: khaki

  div
    width: 300px
    height: 200px
    margin-left: -(@width/2)
    margin-top: -(@height/2)

    background: #fee63c

    background-image: linear-gradient(30deg, #019f6f 30%, transparent 30%),
                      linear-gradient(-30deg, #019f6f 30%, transparent 30%),
                      linear-gradient(210deg, #019f6f 30%, transparent 30%),
                      linear-gradient(-210deg, #019f6f 30%, transparent 30%)

    box-shadow:7px 7px 0 black(.1)

    &:before
      width: 90px
      height: 90px
      margin-left: -(@width/2)
      margin-top: -(@height/2)

      left: 50%
      top: 50%

      background: #2765ae

      background-image: radial-gradient(circle at 0 175px,
                                              transparent 71%,
                                              white 72%,
                                              white 78%,
                                              transparent 79%)

      border-radius: 50%

    &:after
      width: 4px
      height: 4px

      top: 80px
      left: 160px

      background: white

      border-radius: 50%

      box-shadow: -45px 15px 0  0   white,
                  -40px 30px 0  0   white,
                  -27px 43px 0  0   white,
                  -10px 36px 0  0   white,
                   13px 38px 0  0   white,
                  -47px 32px 0 -1px white,
                  -35px 25px 0 -1px white,
                  -25px 20px 0 -1px white,
                  -33px 34px 0 -1px white,
                  -35px 40px 0 -1px white,
                   -5px 22px 0 -1px white,
                  -15px 26px 0 -1px white,
                  -17px 32px 0 -1px white,
                  -10px 29px 0 -1px white,
                  -12px 53px 0 -1px white,
                    0px 42px 0 -1px white,
                    5px 48px 0 -1px white,
                    6px 43px 0 -1px white,
                    8px 40px 0 -1px white,
                   12px 45px 0 -1px white,
                   17px 35px 0 -1px white,
                   23px 37px 0 -1px white