/*-----------------------------

Jeans Pocket

-----------------------------*/

#jeans-pocket
  background: lighten(#4E6590,10%)

  div, div:before, div:after
    box-sizing: border-box

  div
    width: 200px
    height: 200px
    margin-left: -(@width/2)
    margin-top: -94px

    background: lighten(#4E6590,5%)
    border-bottom-right-radius: 80px 40px
    border-bottom-left-radius: 80px 40px
    border: 2px dashed lighten(#4E6590,40%)
    box-shadow: 0 0 0 8px lighten(#4E6590,10%),
                0 0 0 10px black(.1),
                5px 5px 0 8px black(.2)

    &:before
      width: 220px
      height: 100px
      left: 50%
      top: -15px
      margin-left: -(@width/2)

      background: lighten(#4E6590,7%) no-repeat
      background-image: linear-gradient(to bottom, lighten(#4E6590,40%) 3px, transparent 3px),
                        linear-gradient(to right, lighten(#4E6590,40%) 3px,
                                                  black(.3) 3px,
                                                  black(.3) 6px,
                                                  lighten(#4E6590,40%) 6px,
                                                  lighten(#4E6590,40%) 9px,
                                                  transparent 9px)
      background-size: 9px 3px, 9px 40px
      background-position: center 35%, center 60%

      border-radius: 5px 5px 50% 50%
      border: 2px dashed lighten(#4E6590,40%)
      box-shadow: 0 0 0 8px lighten(#4E6590,10%),
                  0 0 0 10px black(.1),
                  0 8px 0 8px black(.2)

    &:after
      width: 34px
      height: @width
      left: 50%
      top: 36px
      margin-left: -(@width/2)

      background: #b68c70
      background-image: radial-gradient(circle, #a88b51 2px,
                                                black(.3) 2px,
                                                black(.3) 5px,
                                                #b79c59 5px,
                                                #b79c59 8px,
                                                black(.4) 8px)
      border-radius: 50%
      border: 3px solid #948042
      border-top-color: #dbc178
      box-shadow: 2px 3px 0 black(.15)
