/*-----------------------------

Skeleton Key

-----------------------------*/

#key
  background: #f7f7f7

  div
    width: 80px
    height: 100px
    margin-left: -180px
    margin-top: -70px

    border: 15px solid #fdf1cd
    border-radius: 50%

    box-shadow: -3px -3px 0 3px #fefffa,
                -4px -4px 1px 3px #c68628,
                -6px -5px 0 4px #feedac,
                3px 2px 0 3px #fdf1cd,
                7px 5px 3px 3px #2e1f07,
                10px 7px 0 3px #c68628,
                inset 4px 3px 3px #2e1f07,
                inset 7px 5px 0 #c68628,
                inset 9px 7px 2px black(.4),
                inset 12px 10px 3px black(.2),
                inset -2px -2px 0 #fefffa,
                12px 8px 3px 3px black(.4),
                15px 12px 3px 3px black(.2)

    @media (max-width: 500px)
      -webkit-transform: scale(.7)
      transform: scale(.7)
      margin-left: -140px


    &:before
      width: 250px
      height: 30px

      left: 85px
      top: 35px

      background-image: linear-gradient(to bottom,
                                        #f8d675 3%,
                                        #f8d675 7%,
                                        #2e1f07 11%,
                                        #2e1f07 16%,
                                        #fefffa 23%,
                                        #fefffa 50%,
                                        #2e1f07 57%,
                                        #2e1f07 70%,
                                        #feedac 84%,
                                        #feedac 97%,
                                        #c68628 99%)

      border-top-right-radius: 8px
      border-bottom-right-radius: 8px
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px

      border-left: 1px solid #fefffa
      border-right: 1px solid #f8d675

      box-shadow: -1px 0 0 #c68628,
                  1px 0 0 #2e1f07,
                  2px 0 0 #c68628,
                  5px 4px 2px -1px black(.4),
                  11px 9px 4px black(.2)

    &:after
      width: 40px
      height: 40px

      top: 30px
      left: 112px

      background-image: linear-gradient(to bottom,
                                      #f8d675 3%,
                                      #f8d675 7%,
                                      #2e1f07 11%,
                                      #2e1f07 16%,
                                      #fefffa 23%,
                                      #fefffa 45%,
                                      #2e1f07 52%,
                                      #2e1f07 65%,
                                      #feedac 80%,
                                      #feedac 97%,
                                      #c68628 99%)

      box-shadow: -1px 0 1px #fefffa,
                  1px 0 0 #f8d675,
                  2px 0 0 #c68628,
                  3px 3px 2px black(.2),
                  170px 37px 0 4px #f8e6b3,
                  169px 37px 0 4px #fefffa,
                  170px 34px 0 4px #2e1f07,
                  171px 39px 2px 4px #2e1f07,
                  172px 40px 0 5px #d69941,
                  174px 43px 3px 4px black(.4),
                  178px 45px 4px 4px black(.2)