/*-----------------------------

Mickey Hat

-----------------------------*/

#mickey-hat
  background: lightpink

  div
    width: 200px
    height: 200px
    margin-left: -(@width/2)
    margin-top: -70px

    border-radius: 0 70% 0 100%
    border-bottom: 7px solid #333
    border-left: 7px solid #333

    background: #222
    background-image: radial-gradient(circle at 170px 220px,
                                        white(0) 70%,
                                        white(.15) 90%),
                      radial-gradient(circle at 50px 80px,
                                        transparent 60%,
                                        #000 90%)

    box-shadow: -7px 7px 6px -2px rgba(0,0,0,.3)

    -webkit-transform: rotate(-45deg)
    transform: rotate(-45deg)

    @media (max-width: 500px)

      -webkit-transform: scale(.7) rotate(-45deg)
      transform: scale(.7) rotate(-45deg)

    &:before
      width: 110px
      height: 110px

      top: -102px
      left: 29px

      background: #333
      background-image: radial-gradient(circle at 80px 0px,
                                          transparent 60%,
                                          white(.2) 90%)

      border-radius: 50%

      box-shadow: -4px 4px 0 4px #222

    &:after
      width: 110px
      height: 110px

      top: 56px
      left: 192px

      background: #333
      background-image: radial-gradient(circle at 80px 0px,
                                          transparent 60%,
                                          white(.2) 90%)

      border-radius: 50%

      box-shadow: -4px 4px 0 4px #222,
                  -144px -45px 0 -44px #222,
                  -115px -15px 0 -44px #222,
                  -142px -22px 0 -53px #222,
                  -138px -18px 0 -53px #222,
                  -143px -17px 0 -54px white,
                  -144px -16px 0 -51px #222,
                  -142px -23px 0 -50px white,
                  -137px -18px 0 -50px white,
                  -151px -9px 0 -54px #e95b4f,
                  -150px -10px 0 -52px #222,
                  -142px -18px 0 -40px #d3b579,
                  -141px -19px 0 -36px #222,
                  -141px -19px 0 -28px white,
                  -141px -18px 0 -11px #e95b4f