/*-----------------------------

Raffle ticket

-----------------------------*/

.raffle

  div
    width: 250px
    height: 120px
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat
    background-size: 50% 50%
    background-position: top left, top right, bottom left, bottom right

    &:before,
    &:after
      box-sizing: border-box
      color: #333

    &:before
      width: 264px
      height: 80px
      left: -7px
      top: 20px
      background-size: 7px 7px
      background-repeat: repeat-y
      background-position: 0 0, 0 0, 100% 0, 100% 0

    &:after
      width: 80px
      height: 210px
      padding-top: 184px
      top: -45px
      left: 85px
      border-radius: 10px
      transform: rotate(-90deg)
      font-size: 15px
      font-family: monospace

#raffle-red
  background: thistle 

  div
    background-image: radial-gradient(circle at top left, transparent 20px, crimson 20px),
                      radial-gradient(circle at top right, transparent 20px, crimson 20px),
                      radial-gradient(circle at bottom left, transparent 20px, crimson 20px),
                      radial-gradient(circle at bottom right, transparent 20px, crimson 20px)
    box-shadow: 0 50px 14px -45px black(.3)

    &:before
      content: 'ticket'
      padding-left: 45px
      // Sawtooth borrowed from Bobby Jones - http://codepen.io/BobbyJones/details/Cesty
      background-image: linear-gradient(45deg, transparent 75%, crimson 75%),
                        linear-gradient(135deg, transparent 75%, crimson 75%),
                        linear-gradient(-45deg, transparent 75%, crimson 75%),
                        linear-gradient(-135deg, transparent 75%, crimson 75%)
      letter-spacing: 2px
      line-height: 1.7
      font-family: 'HelveticaNeue-CondensedBold', 'Arial Narrow', 'Trebuchet MS', Impact, 'Roboto', sans-serif
      font-size: 50px
      text-align: left
      text-transform: uppercase

    &:after
      content: 'DC143C'
      background: linear-gradient(to bottom, transparent 175px,
                                             salmon 175px,
                                             salmon 178px,
                                             transparent 178px)
      border: 3px solid salmon

#raffle-blue
  background: cadetblue

  div
    background-image: radial-gradient(circle at top left, transparent 20px, skyblue 20px),
                      radial-gradient(circle at top right, transparent 20px, skyblue 20px),
                      radial-gradient(circle at bottom left, transparent 20px, skyblue 20px),
                      radial-gradient(circle at bottom right, transparent 20px, skyblue 20px)
    box-shadow: 0 50px 14px -45px black(.2)

    &:before
      content: 'keep this coupon'
      padding: 12px 60px 10px 40px
      // Sawtooth borrowed from Bobby Jones - http://codepen.io/BobbyJones/details/Cesty
      background-image: linear-gradient(45deg, transparent 75%, skyblue 75%),
                        linear-gradient(135deg, transparent 75%, skyblue 75%),
                        linear-gradient(-45deg, transparent 75%, skyblue 75%),
                        linear-gradient(-135deg, transparent 75%, skyblue 75%)
      letter-spacing: 4px
      line-height: 1.2
      font-family: 'HelveticaNeue-CondensedBold', 'Arial Narrow', 'Trebuchet MS', Impact, 'Roboto', sans-serif
      font-size: 24px
      text-transform: uppercase

    &:after
      content: '87CEEB'
      background: linear-gradient(to bottom, transparent 175px,
                                             rgba(205,92,92,.5) 175px,
                                             rgba(205,92,92,.5) 178px,
                                             transparent 178px)
      border: 3px solid rgba(205,92,92,.5)
