/*-----------------------------

Raffle ticket

-----------------------------*/

.raffle

  div
    width: 220px
    height: 110px
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-repeat: no-repeat

    &:before,
    &:after
      box-sizing: border-box
      color: #333

    &:before
      font-family: 'HelveticaNeue-CondensedBold', 'Arial Narrow', Impact, 'Roboto', sans-serif
      letter-spacing: 2px
      text-transform: uppercase

    &:after
      border-radius: 10px
      transform: rotate(-90deg)
      font-size: 14px
      font-family: monospace
      text-align: center
      line-height: 1

#raffle-red
  background: thistle 

  $raffle-red-corner = transparent 17px, crimson 17px
  $raffle-red-sawtooth = transparent 75%, crimson 75%

  div
    background-image: radial-gradient(circle at top left, $raffle-red-corner),
                      radial-gradient(circle at top right, $raffle-red-corner),
                      radial-gradient(circle at bottom left, $raffle-red-corner),
                      radial-gradient(circle at bottom right, $raffle-red-corner)
    box-shadow: 0 38px 14px -35px black(.3)
    background-size: 50% 50%
    background-position: top left, top right, bottom left, bottom right

    &:before
      content: 'ticket'
      width: 234px
      height: 76px
      padding-left: 40px
      left: -7px
      top: 17px
      background-size: 7px 7px
      background-repeat: repeat-y
      background-position: 0 0, 0 0, 100% 0, 100% 0
      // Sawtooth technique by Bobby Jones - http://codepen.io/BobbyJones/details/Cesty
      background-image: linear-gradient(45deg, $raffle-red-sawtooth),
                        linear-gradient(135deg, $raffle-red-sawtooth),
                        linear-gradient(-45deg, $raffle-red-sawtooth),
                        linear-gradient(-135deg, $raffle-red-sawtooth)
      line-height: 1.9
      font-size: 42px
      text-align: left

    &:after
      content: 'DC143C'
      width: 75px
      height: 185px
      padding-top: 162px
      top: -37px
      left: 72px
      background: linear-gradient(to bottom, transparent 155px,
                                             salmon 155px,
                                             salmon 158px,
                                             transparent 158px)
      border: 3px solid salmon

#raffle-yellow
  background: linen 

  $raffle-yellow-corner = transparent 17px, darken(khaki,10%) 17px

  div
    background-image: radial-gradient(circle at top left, $raffle-yellow-corner),
                      radial-gradient(circle at top right, $raffle-yellow-corner),
                      radial-gradient(circle at center left, $raffle-yellow-corner),
                      radial-gradient(circle at center right, $raffle-yellow-corner),
                      radial-gradient(circle at bottom left, $raffle-yellow-corner),
                      radial-gradient(circle at bottom right, $raffle-yellow-corner)
    background-size: 50% 33.7%
    background-position: top left, top right, center left, center right, bottom left, bottom right
    box-shadow: 0 38px 14px -35px black(.2)

    &:before
      content: 'keep this coupon'
      width: 140px
      height: 76px
      padding-top: 18px
      left: 30px
      top: 17px
      line-height: 1
      font-size: 22px
      text-align: center

    &:after
      content: 'F0E68C'
      width: 75px
      height: 160px
      padding-top: 136px
      top: -25px
      left: 73px
      background: linear-gradient(to bottom, transparent 130px,
                                             salmon 130px,
                                             salmon 133px,
                                             transparent 133px)
      border: 3px solid salmon
