/*-----------------------------

School Supplies

-----------------------------*/

#supplies
  background: darken(gainsboro,5)

  div
    width: 80px
    height: 100px
    margin-left: -100px
    margin-top: -24px
    background-color: white
    background-image: radial-gradient(circle at 10px 15px, slategrey 4px, transparent 4px),
                      radial-gradient(circle at 10px 50px, slategrey 4px, transparent 4px),
                      radial-gradient(circle at 10px 85px, slategrey 4px, transparent 4px),
                      linear-gradient(to right, paleturquoise 22px,
                                                white 22px,
                                                white 35px,
                                                transparent 35px,
                                                transparent 65px,
                                                white 65px),
                      linear-gradient(to bottom, transparent 20px,
                                                 lightgray 20px,
                                                 lightgray 22px,
                                                 transparent 22px,
                                                 transparent 28px,
                                                 lightgray 28px,
                                                 lightgray 30px,
                                                 transparent 30px,
                                                 transparent 36px,
                                                 lightgray 36px,
                                                 lightgray 38px,
                                                 transparent 38px)
    border-radius: 3px
    border: 2px solid slategrey
    box-shadow: 0 4px 0 -2px lightgray,
                0 4px 0 slategrey,
                0 7px 2px black(.2)
    
    &:before
      width: 117px
      height: 18px
      margin-top: -50px
      margin-left: 20px
      background-color: wheat
      background-image: repeating-linear-gradient(to right, transparent,
                                                            transparent 5px,
                                                            slategrey 5px,
                                                            slategrey 7px,
                                                            transparent 7px)
      background-size: 100% 50%
      background-repeat: repeat-x
      border-radius: 3px
      border: 2px solid slategrey
      box-shadow: 0 3px 2px black(.2)

    &:after
      width: 110px
      height: 90px
      margin-left: 100px
      margin-top: -10px
      background-color: white
      background-image: radial-gradient(circle at 30px 8px, slategrey 3px, transparent 3px),
                        radial-gradient(circle at 81px 8px, slategrey 3px, transparent 3px),
                        linear-gradient(to bottom, salmon,
                                                   salmon 18px,
                                                   lightgray 18px,
                                                   lightgray 20px,
                                                   transparent 20px,
                                                   transparent 36px,
                                                   lightgray 36px,
                                                   lightgray 38px,
                                                   transparent 38px,
                                                   transparent 54px,
                                                   lightgray 54px,
                                                   lightgray 56px,
                                                   transparent 56px,
                                                   transparent 72px,
                                                   lightgray 72px,
                                                   lightgray 74px,
                                                   transparent 74px),
                        repeating-linear-gradient(to right, transparent,
                                                            transparent 14px,
                                                            lightgray 14px,
                                                            lightgray 16px,
                                                            transparent 16px)
      border-radius: 3px
      border: 2px solid slategrey
      box-shadow: 0 4px 0 -2px lightgray,
                  0 4px 0 slategrey,
                  0 8px 0 -2px lightgray,
                  0 8px 0 slategrey,
                  0 11px 2px black(.2)
